<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/open/open.css">
</head>

<body no-downloadbar>
    <input type="hidden" name="appSource" value="123">
    <!-- wrapper -->
    <div class="wrapper">
        @import "topbar-def.tpl"

        <!-- main -->
        <main id="main">

            <form action="" id="bindForm1" class="form form-second form-bind">
                <div class="logo-box">
                    <img src="/assets/public/open/images/logo.png">
                </div>
                <div class="form-item">
                    <div class="input-item"><input type="tel" class="input" name="mobile" placeholder="手机号"/></div>
                </div>
                <div class="form-item">
                    <div class="valid-code-item">
                        <div class="input-item"><input type="text" autocomplete="off" class="input" name="smsCode" placeholder="验证码"/></div>
                        <button type="button" disabled id="sendBtn" class="btn-code">获取验证码</button>
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/plugins/jquery.validate.js"></script>
    <script src="/assets/public/open/scripts/login.js"></script>
</body>

</html>
