<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>开门中</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/open/open.css">
</head>

<body class="gray-bg">
<input type="hidden" name="appSource" value="app">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar-def.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main" class="station-main">

        <section data-render="template" >

            <div class="rendering">
                <div class="img-box">
                    <div class="img"></div>
                </div>

                <p>开门中，请稍后…</p>
            </div>

        </section>

    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->

</body>

</html>
