@charset "UTF-8";
/**
 * footer
 *
 * @project       m.urwork.cn
 * @author        ZhangHaiBin
 * @copyright
 */
/* Footer
 ---------------------------------------- */
#main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 890;
    width: 100%;
    height: 50px;
    background: #7b7b7b;
    background-color: rgba(0,0,0,.5);
    line-height: 50px;
    @include text-overflow();
    padding: 4px 10px;
    font-size: 15px;
    font-weight: normal;
    transform-style: preserve-3d;
    &,
    a {
        color: #fff;
    }
    li {
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .right {
        float: right;
    }
    .logo {
        width: 40px;
        border-radius: 8px;
        margin-right: 10px;
    }
    h3,
    p {
        line-height: 1.3;
    }
    h3 {
        margin-top: 2px;
    }
    p {
        font-size: 12px;
    }
    .btn {
        height: 30px;
        @include padding-h(10px);
        margin-right: 5px;
        font-size: 13px;
        line-height: 28px;
        background-color: #333;
    }
    .close {
        padding: 0 15px 0 5px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 4px;
    }
}
