<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/public/station/station.css">
</head>

<body class="gray-bg">
<input type="hidden" name="appSource" value="app">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main" class="station-main">

        <section data-render="template" data-url="./data/orderConfirm.json">

            <div class="rendering">
                <div class="img-box">
                    <div class="img"></div>
                </div>

                <p>正在加载 . . .</p>
            </div>

        </section>

    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
@import "footer-common.tpl"

<div id="modalContainer">
    <!-- 企业列表 modal -->
    <div class="modal primary-modal" id="companyModal" role="dialog" data-param="companyId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="scroller" id="companyContainer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary save">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--/ 企业列表 modal -->

    <!-- 优惠券 modal -->
    <div class="modal primary-modal" id="couponsModal" role="dialog" data-param="couponCodes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="background-color: #f5f5f5;">
                    <div class="scroller" id="couponsContainer">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-primary save">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--/ 优惠券 modal -->

    <!-- 企业优惠券 modal -->
    <div class="modal primary-modal" id="companyCouponsModal" role="dialog" data-param="couponCodes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="background-color: #f5f5f5;">
                    <div class="scroller" id="companyCouponsContainer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-primary save">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--/ 企业优惠券 modal -->
</div>

<script type="text/html" id="companyTpl">
    <ul class="select-list">
        {{each list as item}}
        <li data-id="{{item.id}}" data-auth="{{item.accountAuth}}"><a class="silde-unselected">{{item.name}}<i class="uricon-success-circle"></i></a></li>
        {{/each}}
    </ul>
    <!-- <div class="btn-container">
        <a href="javascript:;" class="btn">+ 创建企业</a>
    </div> -->
</script>

<script type="text/html" id="couponsTpl">
    {{each list as d i}}
    <div class="coupon-item coupon-item-checkable" data-id="{{d.couponCode}}" data-num="{{d.price}}">
        <dl>
            <dt>
            <div class="coupon-info">
                <p class="price">&yen; <big>{{d.price}}</big></p>
            </div>
            </dt>
            <dd>
                <p class="coupon-title">{{d.strType}}</p>
                <div class="coupon-desc">
                    <p>{{d.startDate}}-{{d.endDate}}</p>
                </div>
                <div class="coupon-desc">
                    <p>{{d.remark}}</p>
                </div>
            </dd>
        </dl>
    </div>
    {{/each}}
</script>

<script type="text/html" id="companyCouponsTpl">
    {{include 'couponsTpl'}}
</script>

<script type="text/html" id="pageTpl">
    <div class="zhima-shadow">
        <div class="zhima-bg">
            <img src="/assets/public/meetingRoom/images/tanchuang.png" alt="" width="100%">
            <a href="javascript:;" class="zhima-close"></a>
            <p class="zhima-text"><strong>芝麻分特权</strong><br />芝麻分650分以上，订会议室、订工位<br />可享受免押金预订</p>
            <a href="javascript:;" class="zhima-esc">不再提醒</a>
            <a href="" class="zhima-look">去查芝麻分</a>
        </div>
    </div>
    <div class="banner-image-box">
        <a class="banner-image" href="javascript:;"
           style="background-image: url({{img}})">
        </a>
    </div>

    <section class="info-layout">
        <div class="info-item-simple">
            <div class="info-cont">
                <span>{{workstageName}}</span>
                <span>工位</span>
            </div>
            <label class="info-count">剩余{{count}}个</label>
        </div>
        <div class="info-item-simple">
            <div class="info-cont">
                预订日期：{{date}} ({{week}})
            </div>
        </div>
        <div class="info-item-simple">
            <div class="info-cont">
                预订数量：<button type="button" class="btn-sub" disabled></button> <span class="btn-sum">1</span>  <button type="button" class="btn-plus"></button>
            </div>
        </div>
        <div class="info-sprite"></div>
        <div class="info-title">服务说明</div>
        <div class="info-item-simple">
            <div class="info-cont">
                <i class="uricon-locationB location"></i><span>{{workstageAddress}} {{floor}}层</span>
            </div>
        </div>
        <div class="info-item-simple">
            <div class="info-cont">
                <i class="uricon-time time"></i><span>{{openTime}}-{{closeTime}} 开放</span>
            </div>
        </div>
    </section>

    <section class="info-layout">
        <div class="info-title info-title-sm" id="payType">
            <label class="{{payTypeClass2}}" data-id="2">企业支付</label>
            <label class="{{payTypeClass1}}" data-id="1">个人支付</label>
        </div>
        <div class="info-item-simple flexbox has-ricon" id="companyItem">
            <div class="item-cell">
                企业
            </div>
            <a href="javascript:;" class="item-cell flex" data-set="companyId"
               data-toggle="modal" data-target="#companyModal"></a>
            <i class="uricon-arrow-right ricon"></i>
        </div>
        <div class="info-item-simple flexbox has-ricon" id="couponItem">
            <div class="item-cell">
                代金券 <span class="coupon-count"><em data-set="couponNum">0</em>张可用</span>
            </div>
            <a href="javascript:;" class="item-cell flex val-empty coupon-hide" data-set="couponCodes" data-text="去选择"
               data-toggle="modal" data-target="#couponsModal">
                去选择
            </a>
            <i class="uricon-arrow-right ricon coupon-hide"></i>
        </div>
    </section>

    <section class="info-layout ">
        <div class="info-title info-title-sm">支付方式</div>
        <div class="info-item-simple flexbox">
            <label class="item-cell flex" for="alipay">
                <i class="urimg-alipay"></i>支付宝支付
            </label>
            <div class="item-cell">
                <input type="radio" id="alipay" name="paymethod" value="1" checked>
            </div>
            
        </div>
        <div class="item-tip">
            <p>授权芝麻信用，享尊贵特权
                <a href="">立即授权<i class="uricon-arrow-right"></i></a>
            </p>
        </div>
        <!-- <div class="info-item-simple flexbox">
            <label class="item-cell flex" for="wechat">
                <i class="urimg-wechat"></i>微信支付
            </label>
            <div class="item-cell">
                <input type="radio" id="wechat" name="paymethod" value="3">
            </div>
        </div> -->
        <!--<div class="info-item-simple flexbox">-->
            <!--<label class="item-cell flex" for="wechat">-->
                <!--<i class="urimg-wechat"></i>微信支付-->
            <!--</label>-->
            <!--<div class="item-cell">-->
                <!--<input type="radio" id="wechat" name="paymethod" value="3">-->
            <!--</div>-->
        <!--</div>-->
    </section>

    <section class="info-layout">
        <div class="info-item">
            <label class="info-label">商品金额</label>
            <div class="info-cont price text-right" id="totalPrice">
                &yen;{{price}}
            </div>
        </div>
        <div class="info-item">
            <label class="info-label">优惠券</label>
            <div class="info-cont price text-right">
                - &yen;<span data-set="couponTotal" class="couponTotal">0</span>
            </div>
        </div>
    </section>

    <section class="tip-wrapper">
        <p>您将被安排在优客工场开放工位办公</p>
        <p>预订成功后，请携带有效身份证件在前台办理进场<br>
            您也可以在预订前一天23:59前取消</p>
    </section>

    <footer class="btn-group fixed-bottom">
        <div class="flex">
            实付：<span class="price" id="payMoney" data-set="payMoney">&yen;0</span>
        </div>
        <a href="javascript:;" class="btn btn-primary" id="submit">提交订单</a>

    </footer>
</script>

<script src="/assets/public/plugins/template.js"></script>
<script src="/assets/public/station/scripts/confirm.js"></script>


<script>

</script>

<script>
    $(function () {
        Page.submit({
            submit: "#submit",
            url: './data/orderSubmit.json',
            success: function (res) {
//                    location.href = "";
            },
        });

        Page.andriodMethod = function () {
            console.log('///android');

        }
        var timer;
        timer=setTimeout(function(){
            $('html, body').animate({
                scrollTop: 0
            }, 'fast');
        },0);
        $('body')
            .on('click','.zhima-close',function(){
                $('.zhima-shadow').remove();
            })
            .on('click','.zhima-esc',function(){
                $('.zhima-shadow').remove();
            })
            .on('touchmove','.zhiama-shadow',function(ev){
                ev.preventDefault();
            });
    });
</script>

</body>

</html>
