<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>活动购票页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/plugins/simditor/styles/simditor.css">
    <link rel="stylesheet" href="/assets/public/activity/activity.css">
</head>

<body class="gray-bg hd-detail">
    <!-- wrapper -->
    <div class="wrapper ">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <!-- content -->
            <div id="content">
                <div class="ticket">
                    <div class="img-wrap">
                        <span style="background-image:url('https://image.urwork.cn/d7acfdc3-1aa3-4488-a3c6-7d79df7407b4.png')"></span>
                    </div>
                    <ul class="ticket-lists">
                        <li class="ticket-item">
                            <h3>新奇美食体验券新奇美食体验券新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary">立即购买</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                        <li class="ticket-item">
                            <h3>新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary">立即购买</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                        <li class="ticket-item ticket-disabled">
                            <h3>新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary" disabled>结束售票</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                        <li class="ticket-item ticket-disabled">
                            <h3>新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary" disabled>已售罄</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                        <li class="ticket-item ticket-disabled">
                            <h3>新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary" disabled>暂未开售</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                        <li class="ticket-item ticket-disabled">
                            <h3>新奇美食体验券</h3>
                            <p><span>售票时间</span>11/03 00:00-11/06 00:00</p>
                            <p><span>剩余票数</span>18</p>
                            <hr />
                            <div class="ticket-item-bottom">
                                <a href="javascript:;" class="btn btn-primary" disabled>暂停售票</a>
                                <em>&yen;50</em>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / content -->
        </main>
        <!-- / main -->
    </div>
    <!--/ wrapper -->
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/activity/activity.js"></script>
</body>

</html>
