<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>月度活动推荐</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/public/activity/april-event.css">
</head>

<body style="background-color: #121210;">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <ul class="event-list">
                <li>
                    <dl>
                        <dt><em></em>4月1日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=896">
                                <h3>四月健身月——善待身体，更爱自己</h3>
                                <p>2017.04.01 00:00—2017.05.01 00:00</p>
                                <p>阳光100·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=812">
                                <h3>首届京津冀协同创新创业大赛</h3>
                                <p>2017.04.01 00:00—2017.06.19 00:00</p>
                                <p>天津·阿里云＋优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=868">
                                <h3>北大法律诊所：免费创业企业法律服务</h3>
                                <p>2017.04.01 00:00—2017.06.30 00:00</p>
                                <p>阳光100·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=860">
                                <h3>中厚明德总裁班【品牌营销策划】开讲啦！</h3>
                                <p>2017.04.01 08:30—2017.04.02 18:00</p>
                                <p>天津和平站·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=828">
                                <h3>“愚”你同乐</h3>
                                <p>2017.04.01 09:00—2017.04.01 18:00</p>
                                <p>阳光100·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=881">
                                <h3>【娱人节】为了你们，不再擦身而过</h3>
                                <p>2017.04.01 12:30—2017.04.01 13:30</p>
                                <p>首华大厦·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=870">
                                <h3>叫上你的小伙伴来一次海底漫游吧！</h3>
                                <p>2017.04.01 16:00—2017.04.01 18:00</p>
                                <p>鸿坤广场·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月4日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=898">
                                <h3>闪修侠——优客工场送福利</h3>
                                <p>2017.04.04 14:00—2017.04.04 15:00</p>
                                <p>首华大厦·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月5日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=906">
                                <h3>全民健身月（乐刻团操体验）</h3>
                                <p>2017.04.05 12:15—2017.04.05 12:30</p>
                                <p>方圆大厦·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月6日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=904">
                                <h3>CEO必学的财税知识之财务合规的必要性</h3>
                                <p>2017.04.06 14:00—2017.04.06 16:00</p>
                                <p>阳光100·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=900">
                                <h3>执素纪&复集团带来的健康管理终极体验沙龙</h3>
                                <p>2017.04.06 14:00—2017.04.06 16:30</p>
                                <p>锋创·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月7日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=902">
                                <h3>美速递福利-免费肩颈按摩</h3>
                                <p>2017.04.07 12:00—2017.04.07 15:00</p>
                                <p>漕河泾·优客工场</p>
                            </a>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=907">
                                <h3>知呱呱---企业品牌战略</h3>
                                <p>2017.04.07 14:30—2017.04.07 16:30</p>
                                <p>海龙大厦·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月8日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=905">
                                <h3>趁早大学职场地图培训</h3>
                                <p>2017.04.08 09:00—2017.04.08 18:00</p>
                                <p>方圆大厦·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月12日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=901">
                                <h3>AA未来公开课第六期</h3>
                                <p>2017.04.12 13:30—2017.04.12 16:00</p>
                                <p>阳光100·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月14日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=890">
                                <h3>云计算及DT时代的企业IT解决方案解析</h3>
                                <p>2017.04.14 14:00—2017.04.14 18:00</p>
                                <p>天津·阿里云＋优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><em></em>4月22日</dt>
                        <dd>
                            <a class="event-item" href="https://www.urwork.cn/activity/detail?id=887">
                                <h3>敏捷方法适配与实践二三事-【优讲堂】</h3>
                                <p>2017.04.22 14:30—2017.04.22 16:00</p>
                                <p>维拓·优客工场</p>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </main>
        <!-- /main -->
    </div>
    <!-- <script src="/public/activity/activity-list.js"></script> -->
</body>

</html>
