<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀请成功</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/visitor/styles/success.css">
</head>
<body>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="backOrClose"></i>
            <span class="title">邀请成功</span>
        </div>
        <!-- / titlebar -->
    </header>
    <!-- / header -->
    <!-- main -->
    <main id="main">
        <div class="success-wrapper">
            <div class="status-list more">
                <div class="status-left">
                    <p>预约状态</p>
                </div>
                <div class="status-right  rightalign">
                    <p class="orange">邀请成功</p>
                    <span>对方已收到短信提醒</span>
                </div>
            </div>
            <div class="split"></div>
            <div class="list-wrap">
                <div class="status-list">
                    <div class="status-left">
                        <p>邀请者</p>
                    </div>
                    <div class="status-right">
                        <p>张海琼/18272616362</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>邀请事由</p>
                    </div>
                    <div class="status-right">
                        <p>私人</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>会面地点</p>
                    </div>
                    <div class="status-right">
                        <p>北京阳光100·优客工场</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>会面时间</p>
                    </div>
                    <div class="status-right">
                        <p>2017/10/23 13：45</p>
                    </div>
                </div>
            </div>

            <div class="status-list more bordertop">
                <div class="status-left">
                    <p>邀请对象</p>
                </div>
                <div class="status-right">
                    <p>张海琼/17263236565</p>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    $(function() {

    })
</script>
</body>
</html>
