<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀请函</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/visitor/styles/success.css">
</head>
<body>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="backOrClose"></i>
            <span class="title">邀请函</span>
        </div>
        <!-- / titlebar -->
    </header>
    <!-- / header -->
    <!-- main -->
    <main id="main">
        <div class="success-wrapper" style="padding-top: 15px">
            <div class="success-message">
                <div class="success-info">
                    <p><span class="orange">长宇</span>邀请您于 2017/12/23 23：00 访问 <br>北京阳光100·优客工场 <br>您的预约码为</p>
                    <div class="number-box">
                        546082
                    </div>
                </div>
                <div class="success-code">
                    <img src="/assets/public/visitor/images/right.png" alt="">
                    <p>请在前台出示预约码或扫码签到</p>
                </div>
            </div>
            <div class="success-map">
                <img class="js-navigation" src="https://restapi.amap.com/v3/staticmap?location=116.27194,39.95439&amp;zoom=14&amp;size=335*174&amp;scale=2&amp;markers=large,,A:116.27194,39.95439&amp;labels=北京阿里云＋优客工场,3,0,26,0xFFFFFF,0xe95513:116.27194,39.95439&amp;key=739267cee1c64393de3dc02798fce752" alt="北京阿里云＋优客工场">
            </div>
            <div class="list-wrap">
                <div class="status-list">
                    <div class="status-left">
                        <p>邀请者</p>
                    </div>
                    <div class="status-right">
                        <p>张海琼/18272616362</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>邀请事由</p>
                    </div>
                    <div class="status-right">
                        <p>私人</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>会面地点</p>
                    </div>
                    <div class="status-right">
                        <p>北京阳光100·优客工场</p>
                    </div>
                </div>
                <div class="status-list">
                    <div class="status-left">
                        <p>会面时间</p>
                    </div>
                    <div class="status-right">
                        <p>2017/10/23 13：45</p>
                    </div>
                </div>
            </div>
            <div class="split"></div>
            <div class="status-list more">
                <div class="status-left">
                    <p>邀请对象</p>
                </div>
                <div class="status-right">
                    <p>张海琼/17263236565</p>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    $(function() {
        $('body').on(UR.click, '.js-navigation', function() {
            var navigationUrl = encodeURIComponent($.trim($('.workshop-location').attr('data-navigation')));
            if (UR.isApp()) {
                UR.setUrl('urwork://qrcode' + navigationUrl);
            } else {
                UR.openApp.init({
                    intentUrlParams: navigationUrl
                })
            }
        });
    })
</script>
</body>
</html>
