@charset "UTF-8";
// TODO v1.0版样式
/* Dialog
---------------------------------------------------- */
.ur-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;
    opacity: 0;
    transition: opacity .2s;
    transform-style: preserve-3d;

    &.active {
        opacity: 1;
    }
    .ur-mask {
        width: 100%;
        height: 100%;
        background-color: transparent;
        &.active {
            background-color: rgba(0, 0, 0, .5);
        }
    }
    .ur-container {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 69.6%;
        max-width: 261px;
        overflow: hidden;
        transform: translate(-50%, -50%);
        transform-origin: center;
        background-color: #fff;
        border-radius: 4px;
        // box-shadow: 0 0 15px rgba(0,0,0,.5);
        font-size: 14px;
        color: $font-def;
    }

    .ur-content {
        padding: 20px;
        line-height: 22px;
        text-align: center;
    }
    .ur-title {
        padding: 20px 20px 0;
        text-align: left;
        font-weight: 700;
        // & + .ur-content {
        //     padding: 10px 20px 20px;
        // }
    }
    .ur-info {
        margin: 10px auto 30px;
        width: 45px;
        height: 45px;
        display: block;
        line-height: 1.5;
        &:before {
            content: '';
            background: url('#{$img-path}/ui/info.png') no-repeat;
            background-size: cover;
            width: 90px;
            height: 90px;
            display: block;
            transform-origin: 0 0;
            transform: scale(.5);
        }
    }
    .ur-tools {
        @include clearfix();
        border-top: 1px solid #ccc;
        a,
        button {
            padding: 0 15px;
            display: block;
            float: left;
            width: 50%;
            height: 44px;
            font-size: 14px;
            line-height: 44px;
            color: $font-999;
            text-align: center;
            box-sizing: border-box;
        }
        .ur-yes,.ur-ok {
            color: $font-def;
        }
        .ur-yes {
            border-left: 1px solid #ccc;
        }
        .ur-ok {
            width: 100%;
        }
    }
}
