<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>成为U企业</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/company/styles/becom-company.css">
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar-def.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main" class="company-container">

        <!-- 内容区 -->
        <section class=" agree-text">
            <h1>选择企业</h1>
            <p>以下是您所在的企业，选择一个升级成为U企业吧</p>
            <div data-scroll="pullUp" id="company-list">
                <div class="company-list">
                <div class="companys">
                    <a href="#">
                        <img src="/assets/public/myCompany/images/logo.png" alt="" class="logo-pic">
                        <div class="companys-name">
                            <h2>北京希遇信息科技有限公司</h2>
                        </div>
                    </a>
                    <a href="" class="click-look upgrade">升级为U企业</a>
                </div>
            </div>
                <div class="company-list">
                    <div class="companys">
                        <img src="/assets/public/myCompany/images/logo.png" alt="" class="logo-pic">
                        <div class="companys-name">
                            <h2>U客工场</h2>
                            <img src="/assets/public/myCompany/images/logo.png" alt="">
                        </div>
                        <a class="click-look">已是U企业 点击查看 <i class="nav-switch uricon-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="company-list">
                <div class="companys">
                    <span>
                        +
                    </span>
                    <div class="companys-name">
                        <h2 class="creat-name">创建U企业</h2>
                    </div>
                    <a class="click-look">创建新企业，完善企业画像，即可成为U企业哦 <i class="nav-switch uricon-arrow-right"></i></a>

                </div>
            </div>
        </section>
        <!-- /内容区 -->
    </main>
    <!-- /main -->

</div>
<!-- /wrapper -->
</body>

</html>
