<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理输出服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">管理输出服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/gl_ban.png" alt=""></div>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-gl"></span>
            <h2>简介</h2>
            <div class="summary-main">
                <p>北京大然凌一管理咨询有限公司为优客工场旗下全资子公司， 公司致力于提升物业空间的每一寸价值，主营业务包含为空间提供全方位的综合管理服务，完善的管理体系，IT智能管理系统， 经验丰富的运营人员，实力雄厚的人财法宣支持，全面招商服务、线上线下品牌推广、社群运营及活动接入、提升客户满意度、提供服务商、投融资、战略资源的对接加速入驻企业发展。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-gl"></span>
            <h2>服务内容</h2>
            <div class="summary-main">
                <ul class="summary-gl">
                    <li><span><img src="/assets/public/company/images/ghost/gl_1.png" alt=""></span><p>全方位的空间综合管理运营与策划服务</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/gl_2.png" alt=""></span><p>招商营运服务</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/gl_3.png" alt=""></span><p>智慧化办公管理服务</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/gl_4.png" alt=""></span><p>社群服务与企业级服务输出</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/gl_5.png" alt=""></span><p>投融资与企业金融服务</p></li>
                </ul>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-gl"></span>
            <h2>服务优势</h2>
            <div class="summary-main">
                <p>公司团队曾服务于一汽奥迪、宝马中国等豪华汽车品牌，有着十余年丰富的公关媒介、市场营销推广、CRM团队管理经验。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-gl"></span>
            <h2>服务专家</h2>
            <div class="linkman">
                <dl>
                    <a href="">
                    <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                    <dd>
                        <h3>韩旭</h3>
                        <p>优客工场</p>
                        <p>资深业务拓展经理</p>
                    </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
            <div class="linkman">
                <dl>
                    <a href="">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>韩旭</h3>
                            <p>优客工场</p>
                            <p>资深业务拓展经理</p>
                        </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
        </section>
        <!---->
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-gl"></span>
            <h2>服务成功案例</h2>
            <div class="example-item">
                <ul class="example-gl">
                    <li>中细软集团</li>
                    <li>天和中心</li>
                    <li>北京阿里云创新中心</li>
                    <li>深圳阿里云创新中心</li>
                    <li>成都阿里云创新中心</li>
                    <li>天津库农天下</li>
                    <li>南京万谷</li>
                    <li>大连百年港湾</li>
                </ul>
            </div>
        </section>
    </main>
</div>
<!--底部浮层-->

<div class="fixed-item">
    <div class="btn-primary summary-gl">
        <a class="consult-btn">立即咨询</a>
    </div>
</div>
<!--底部浮层end-->
<!--弹框-->
<div class="modal" id="uGiftModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="uricon-close" style="font-size: 18px;"></i></button>
                <h2>一键联系服务专家</h2>
            </div>
            <div class="modal-body">
                <dl>
                    <a href="">
                    <dt><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></dt>
                    <dd>
                        <h3>张立昆<span>CDP集团</span></h3>
                        <p>首席财务官</p>
                    </dd>
                    </a>
                    <dd>
                        <span class="uricon-phone-solid"></span>
                        <span class="uricon-talk-solid"></span>
                    </dd>
                </dl>
                <dl>
                    <a href="">
                    <dt><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></dt>
                    <dd>
                        <h3>张立昆<span>北京希遇信息科技有限公司</span></h3>
                        <p>首席财务官</p>
                    </dd>
                    </a>
                    <dd>
                        <span class="uricon-phone-solid"></span>
                        <span class="uricon-talk-solid"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--弹框end-->
</body>
<script>
    $('.consult-btn').click(function () {
        $('.modal').addClass('in');
    });
    $('.modal-header .uricon-close').click(function () {
        $('.modal').removeClass('in');
    })
</script>
</html>
