<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U定制服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
    <link rel="stylesheet" href="../../../../../svn/字体文件/优客/mobile_v2/uricon/style.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">U定制服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/ud_ban.png" alt=""></div>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-ud"></span>
            <h2>简介</h2>
            <div class="summary-main">
                <p>优客工场是中国共享办公行业首个独角兽级别企业，目前已正式完成C轮融资，估值达到近110亿元人民币，并形成了以共享办公为核心，由38家企业构成的生态社群。优客工场在全球35座城市布局160个共享办公空间，聚集了6000多企业，10万名会员，随着市场细分领域的发展，优客工场全面推出U定制服务：即为企业提供一站式定制化办公服务。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-ud"></span>
            <h2>服务内容</h2>
            <div class="summary-main">
                <ul class="summary-ud">
                    <li><span><img src="/assets/public/company/images/ghost/ud_1.png" alt=""></span><p>社群运营：组织策划线上、线下活动，让入驻客户产生社交互动。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_2.png" alt=""></span><p>政策咨询：完善项目认定需求，协助申领国家各项政策补贴。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_3.png" alt=""></span><p>财务咨询：帮助企业有效降低税务风险，财务模型定制、投融资管理理、资本及债务管理理咨询，从战略略层.面帮助企业发展。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_4.png" alt=""></span><p>法律咨询：提供空间运营法律风险管理及分析，空间运营商业纠纷处理、法院诉讼服务咨询监督分析等。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_5.png" alt=""></span><p>投融资咨询：FA咨询服务、投融资资源对接服务。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_6.png" alt=""></span><p>项目定位报告：宏观政策分析、区域市场分析、产品线定位分析、客群定位分析、组合业态建议、营销方案及运营管理方案。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_7.png" alt=""></span><p>空间设计与运营管理：以先进的共享办公理念为核心，利用合理装修设计，综合办公解决方案，为空间赋予最大价值；运营管理并协助客户建立标准化空间运营制度。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_8.png" alt=""></span><p>运营培训：提供完善的培训体系，标准化的培训流程，经验丰富的专业讲师，提高空间运营培训技能。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_9.png" alt=""></span><p>服务商体系输出：平台精选服务商为企业提供优质、精准的服务。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_10.png" alt=""></span><p>媒体推广服务：线上、线下媒体、广告发布及新闻稿撰写及发布。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/ud_11.png" alt=""></span><p>品牌顾问咨询：品牌传播方案、VI体系及延展应用。</p></li>
                </ul>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-ud"></span>
            <h2>服务优势</h2>
            <div class="summary-main">
                <p>1、设计方案输出与装修工程细节监理（如各种功能区的划分、硬装标准、智能系统、软装风格、消防报验等）</p>
                <p>2、企业开办服务（执照注册、税务登记、许可申请、选址服务）</p>
                <p>3、企业级服务（人员招聘、劳务外包及员工社保、对接政府部门、其他资源对接等）</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-ud"></span>
            <h2>服务专家</h2>
            <div class="linkman">
                <dl>
                    <a href="">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>纪珊</h3>
                            <p>优客工场</p>
                            <p>区域总监</p>
                        </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
        </section>
        <!---->
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-ud"></span>
            <h2>服务成功案例</h2>
            <div class="example-item">
                <ul class="example-gl">
                    <li>忠旺集团</li>
                    <li>武汉新世界大厦</li>
                </ul>
            </div>
        </section>
    </main>
</div>
<!--底部浮层-->
<div class="fixed-item">
    <div class="btn-primary summary-ud">
        <a><i class="uricon-phone-solid"></i>电话咨询</a>
        <a><i class="uricon-talk-solid"></i>线上咨询</a>
    </div>
</div>
<!--底部浮层end-->

</body>
</html>
