<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财税服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
    <link rel="stylesheet" href="../../../../../svn/字体文件/优客/mobile_v2/uricon/style.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">财税服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/cs_ban.png" alt=""></div>
        <section>

        </section>
        <div class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-cs"></span>
            <h2>简介</h2>
            <div class="summary-main">
                <p>慧算账，致力于为中小企业提供专业高效的一体化财税服务，主营业务包含为中小企业提供包括代理记账、工商注册、工商变更、税务审计、税务代办、社保托管、财税咨询、商标注册及金融服务等企业服务。</p>
            </div>
        </div>
        <div class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-cs"></span>
            <h2>服务内容</h2>
            <div class="summary-main">
                <ul class="summary-cs">
                    <li><span><img src="/assets/public/company/images/ghost/cs_1.png" alt=""></span><p>整理原始凭据</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_2.png" alt=""></span><p>财税专家审核</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_3.png" alt=""></span><p>每月纳税申报</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_4.png" alt=""></span><p>税务申报表及时推送、出具财务报表</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_5.png" alt=""></span><p>月度装订凭证、年末装订账簿</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_6.png" alt=""></span><p>税务咨询、日常基本财务、财税风险预警</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_7.png" alt=""></span><p>企业工商年检</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_8.png" alt=""></span><p>核定残保金</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/cs_9.png" alt=""></span><p>企业年度所得税汇算清缴</p></li>
                </ul>
            </div>
        </div>
        <div class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-cs"></span>
            <h2>服务优势</h2>
            <div class="summary-main">
                <p>慧算账是业内唯一一家获得国家中小企业基金融资的互联网财税公司，业务覆盖400+城市，服务企业30万+。</p>
                <p>慧算账拥有十五年以上财税服务经验的注册会计师、税务师团队。为中小企业提供包括代理记账、工商注册、税务审计、税务筹划等专业高效的一站式财税服务。</p>
            </div>
        </div>
        <div class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-cs"></span>
            <h2>服务专家</h2>
            <div class="linkman">
                <dl>
                    <a href="">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>孙艳丽</h3>
                            <p>慧算账</p>
                            <p>资深财税服务经理</p>
                        </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
        </div>
        <!---->
        <div class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-cs"></span>
            <h2>服务成功案例</h2>
            <div class="example-item">
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/wd.png"/>
                    </dt>
                    <dd>
                        <p>微店</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/wdd.png"/>
                    </dt>
                    <dd>
                        <p>玩多多</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/cbms.png"/>
                    </dt>
                    <dd>
                        <p>唱吧麦颂KTV</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/wdm.png"/>
                    </dt>
                    <dd>
                        <p>味多美</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/coco.png"/>
                    </dt>
                    <dd>
                        <p>CoCo都可茶饮</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/hjh.png"/>
                    </dt>
                    <dd>
                        <p>黄记煌</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/df.png"/>
                    </dt>
                    <dd>
                        <p>东风4S店</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img class="lazy" data-src="/assets/public/company/images/ghost/qr.png"/>
                    </dt>
                    <dd>
                        <p>奇瑞4S店</p>
                    </dd>
                </dl>
            </div>
        </div>
    </main>
</div>
<!--底部浮层-->
<div class="fixed-item">
    <div class="btn-primary summary-cs">
        <a><i class="uricon-phone-solid"></i>电话咨询</a>
        <a><i class="uricon-talk-solid"></i>线上咨询</a>
    </div>
</div>
<!--底部浮层end-->
</body>
</html>
