<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>政务咨询服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">政务咨询服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/zw_ban.png" alt=""></div>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow"></span>
            <h2>简介</h2>
            <div class="summary-main">
                <p>铭诚厚德(北京)科技服务有限公司作为优客工场生态圈中唯一一家政务咨询领域的全资子公司，全面负责优客工场在孵企业（实体孵化+虚拟孵化）的各类政策咨询、知识成果转化等相关业务，致力于为企业提供全生命周期的政务管家服务，并在提供服务的同时梳理和挖掘企业深层次需求，为企业发展高效对接优客工场生态资源。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-zw"></span>
            <h2>服务内容</h2>
            <div class="summary-main">
                <ul class="summary-yx">
                    <li><span><img src="/assets/public/company/images/ghost/zw_1.png" alt=""></span><p>科技政策咨询、人才政策咨询、文创政策咨询、知产政策咨询等。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/zw_2.png" alt=""></span><p>全周期项目申报规划、资质体系战略规划。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/zw_3.png" alt=""></span><p>资金申报、资质申报、课题申报。</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/zw_4.png" alt=""></span><p>政务管家、资源对接。</p></li>
                </ul>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-zw"></span>
            <h2>服务优势</h2>
            <div class="summary-main">
                <p>铭诚厚德作为优客工场众创空间、创新型孵化器、小微企业创服基地的孵化服务载体的延伸， 从咨询到规划，到获得政策支持（资金、税收优惠、政府采购）及融资、贷款，再到资源对接，我们可为企业定制侧重于“政策+资源”的全生命周期的成长方案，循序渐进的对目标企业进行孵化。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-zw"></span>
            <h2>服务专家</h2>
            <div class="linkman">
                <dl>
                    <a href="">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>曾晶</h3>
                            <p>项目事务经理</p>
                        </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
        </section>
        <!---->
    </main>
</div>
<!--底部浮层-->
<div class="fixed-item">
    <div class="btn-primary summary-zw">
        <a><i class="uricon-phone-solid"></i>电话咨询</a>
        <a><i class="uricon-talk-solid"></i>线上咨询</a>
    </div>
</div>
<!--底部浮层end-->
</body>
</html>
