<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>营销服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
    <link rel="stylesheet" href="../../../../../svn/字体文件/优客/mobile_v2/uricon/style.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">营销服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/yx_ban.png" alt=""></div>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow"></span>
            <h2>简介</h2>
            <div class="summary-main">
                <p>优客里邻是一个全方位的传媒平台，致力于为创业、大中型及跨国公司提供品牌策划、公关营销、传播推广等多维度一体化的服务。旗下有创投媒体有言及创业品牌传播服务平台里邻。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-yx"></span>
            <h2>服务内容</h2>
            <div class="summary-main">
                <ul class="summary-yx">
                    <li><span><img src="/assets/public/company/images/ghost/yx_1.png" alt=""></span><p>协助企业现状做营销战略规划和营销资源平台整合</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/yx_2.png" alt=""></span><p>营销活动全案策划及执行</p></li>
                    <li><span><img src="/assets/public/company/images/ghost/yx_3.png" alt=""></span><p>线上及线下品牌传播年度营销预算梳理</p></li>
                    <li>
                        <span><img src="/assets/public/company/images/ghost/yx_4.png" alt=""></span>
                        <p>优客工场社区全场景媒介广告业务 含框架海报、优鲜集App、企业视频VCR、社区空间展陈、社区地推活动、社区沙龙活动等</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-yx"></span>
            <h2>服务优势</h2>
            <div class="summary-main">
                <p>公司团队曾服务于一汽奥迪、宝马中国等豪华汽车品牌，有着十余年丰富的公关媒介、市场营销推广、CRM团队管理经验。</p>
            </div>
        </section>
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-yx"></span>
            <h2>服务专家</h2>
            <div class="linkman">
                <dl>
                    <a href="">
                    <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                    <dd>
                        <h3>王贝蒂</h3>
                        <p>优客里邻</p>
                        <p>CMO</p>
                    </dd>
                    </a>
                    <dd>
                        <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                        <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                    </dd>
                </dl>
            </div>
        </section>
        <!---->
        <section class="service-item">
            <span class="uricon-arrow-dropdown service-arrow summary-yx"></span>
            <h2>服务成功案例</h2>
            <div class="example-item">
                <ul>
                    <li>《汽车俱乐部运营白皮书》</li>
                    <li>《BMW 3系对比试驾》</li>
                    <li>《融创使馆一号院&奥迪A8 Banquet》</li>
                    <li>《Miele 车主私厨会》</li>
                    <li>《优客工场U25入驻企业年会》</li>
                </ul>
            </div>
        </section>
    </main>
</div>
<!--底部浮层-->
<div class="fixed-item">
    <div class="btn-primary summary-yx">
        <a><i class="uricon-phone-solid"></i>电话咨询</a>
        <a><i class="uricon-talk-solid"></i>线上咨询</a>
    </div>
</div>
<!--底部浮层end-->
</body>
</html>
