<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人力资源服务</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/coupon/u-gift.css">
    <link rel="stylesheet" href="/assets/public/company/styles/ghost-classify.css">
</head>
<body class="gray-bg">
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">人力资源服务</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main" style="padding-bottom: 45px;background: #4772E5">
        <div class="ban-pic"><img  class="pic" src="/assets/public/company/images/ghost/rl_ban.png" alt=""></div>
        <section class="company-item">
            <dl class="company-info">
                <dt><img src="/assets/public/company/images/ghost/cdp_logo.png" alt=""></dt>
                <dd>
                    <h3>CDP集团</h3>
                    <p>人力资本服务创新领袖</p>
                </dd>
            </dl>
            <div class="service-item">
                <h4>服务内容</h4>
                <div class="summary-main">
                    <ul class="summary-rl">
                        <li><span><img src="/assets/public/company/images/ghost/rl_1.png" alt=""></span><p>灵活用工/岗位外包 ，通过弹性用工制度，帮助企业解决动态用工难题。</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_2.png" alt=""></span><p>社保代缴和福利、薪资支付，企业全面薪酬设计、补贴报销解决方案、员工全面薪酬报告等。</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_3.png" alt=""></span><p>外籍人才服务和海外人力服务，解决外籍员工的薪酬、福利、税务、签证、工作许可等问题。</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_4.png" alt=""></span><p>员工健康和医疗保险计划，健康体检、医疗保障、家庭健康助手、财务健康管家。</p></li>
                    </ul>
                </div>
            </div>
            <div class="service-item">
                <h4>联系人</h4>
                <div class="linkman">
                    <dl>
                        <a href="#">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>Echo</h3>
                            <p>CDP集团 </p>
                            <p>资深客户经理</p>
                        </dd>
                        </a>
                        <dd>
                            <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                            <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div>
                <div class="wrap">
                    <div class="content">
                        <div class="service-item">
                            <h4>服务优势</h4>
                            <div class="summary-main">
                                <p>CDP集团提供SaaS+BPO双重模式的“一站式”人力资本管理核心解决方案， 包含以系统平台为支撑的集团企业解决方案和快速增长的中小企业解决方案， 以服务为导向的企业战略解决方案和大福利/大健康解决方案，着重解决中国企业全球化，HR服务“一体化”整体薪酬和人才管理等问题。
                                </p>
                            </div>
                        </div>
                        <div class="service-item">
                            <h4>简介</h4>
                            <div class="summary-main">
                                <p>CDP集团作为亚太人力资本管理服务思想领袖，提供基于SaaS的一站式人力资本管理服务，业务涵盖HR业务流程外包，薪酬福利管理，弹性福利平台， HR SaaS平台，共享服务中心，灵活用工服务，全球员工服务等。</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <h4>成功案例</h4>
                            <div class="example-item">
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/dd.png"/>
                                    </dt>
                                    <dd>
                                        <p>滴滴出行</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/xm.png"/>
                                    </dt>
                                    <dd>
                                        <p>小米</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/jrtt.png"/>
                                    </dt>
                                    <dd>
                                        <p>今日头条</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/mryx.png"/>
                                    </dt>
                                    <dd>
                                        <p>每日优鲜</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/hmxs.png"/>
                                    </dt>
                                    <dd>
                                        <p>盒马鲜生</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/wshh.png"/>
                                    </dt>
                                    <dd>
                                        <p>文思海辉</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/bmw.png"/>
                                    </dt>
                                    <dd>
                                        <p>宝马</p>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/wlqc.png"/>
                                    </dt>
                                    <dd>
                                        <p>蔚来汽车</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/ln.png"/>
                                    </dt>
                                    <dd>
                                        <p>李宁</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="gradient"></div>
                </div>
                <div class="read-more"></div>
            </div>
        </section>
        <section class="company-item">
            <dl class="company-info">
                <dt><img src="/assets/public/company/images/ghost/dian_logo.png" alt=""></dt>
                <dd>
                    <h3>点米网络科技股份有限公司</h3>
                    <p>中国领先的人力资源技术与服务提供商</p>
                </dd>
            </dl>
            <div class="service-item">
                <h4>服务内容</h4>
                <div class="summary-main">
                    <ul class="summary-rl">
                        <li><span><img src="/assets/public/company/images/ghost/rl_1.png" alt=""></span><p>社保公积金代缴，工资代发</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_2.png" alt=""></span><p>人事外包</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_3.png" alt=""></span><p>劳务派遣</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_4.png" alt=""></span><p>人事管理系统</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_5.png" alt=""></span><p>员工福利平台</p></li>
                        <li><span><img src="/assets/public/company/images/ghost/rl_6.png" alt=""></span><p>商业保险</p></li>
                    </ul>
                </div>
            </div>
            <div class="service-item">
                <h4>联系人</h4>
                <div class="linkman">
                    <dl>
                        <a href="">
                        <dt><img src="/assets/public/company/images/ghost/rl_pic.png" alt=""></dt>
                        <dd>
                            <h3>万先朋</h3>
                            <p>点米科技</p>
                            <p>资深高级经理</p>
                        </dd>
                        </a>
                        <dd>
                            <a href="tel:10086"><span class="uricon-phone-solid"></span></a>
                            <a href="sms:10086?body=message_body"><span class="uricon-talk-solid"></span></a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div>
                <div class="wrap">
                    <div class="content">
                        <div class="service-item">
                            <h4>服务优势</h4>
                            <div class="summary-main">
                                <p>1. 点米科技在全国有72个分支机构，服务覆盖全国300多个城市，真正具备“一地委托，全国服务”的垂直管理能力。目前全国服务团队800多人，服务企业员工30多万人</p>
                                <p>2. 收费透明，没有任何隐性消费，免费提供社保公积金享受的落地理赔服务</p>
                                <p>3. 高效的服务团队，极具竞争力的价格、互联网管理模式、多元灵活的解决方案，适用于任一发展阶段的企业。</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <h4>简介</h4>
                            <div class="summary-main">
                                <p>CDP集团作为亚太人力资本管理服务思想领袖，提供基于SaaS的一站式人力资本管理服务，业务涵盖HR业务流程外包，薪酬福利管理，弹性福利平台， HR SaaS平台，共享服务中心，灵活用工服务，全球员工服务等。</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <h4>成功案例</h4>
                            <div class="example-item">
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/mt.png"/>
                                    </dt>
                                    <dd>
                                        <p>美团</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/sn.png"/>
                                    </dt>
                                    <dd>
                                        <p>苏宁</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/qtjd.png"/>
                                    </dt>
                                    <dd>
                                        <p>七天酒店</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/hxmkl.png"/>
                                    </dt>
                                    <dd>
                                        <p>红星美凯龙</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/payh.png"/>
                                    </dt>
                                    <dd>
                                        <p>平安银行</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/dd.png"/>
                                    </dt>
                                    <dd>
                                        <p>滴滴出行</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/gsyh.png"/>
                                    </dt>
                                    <dd>
                                        <p>工商银行</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <img src="/assets/public/company/images/ghost/gjdw.png"/>
                                    </dt>
                                    <dd>
                                        <p>国家电网</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="gradient"></div>
                </div>
                <div class="read-more"></div>
            </div>
        </section>
    </main>
</div>
<!--底部浮层-->
<div class="fixed-item">
    <div class="btn-primary">
        <a class="consult-btn">立即咨询</a>
    </div>
</div>
<!--底部浮层end-->
<!--弹框-->
<div class="modal" id="uGiftModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="uricon-close" style="font-size: 18px;"></i></button>
                <h2 style="padding-top: 30px">一键联系服务专家</h2>
            </div>
            <div class="modal-body" style="top: 130px">
                <dl>
                    <a href="#">
                    <dt><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></dt>
                    <dd>
                        <h3>张立昆<span>CDP集团</span></h3>
                        <p>首席财务官</p>
                    </dd>
                    </a>
                    <dd>
                        <span class="uricon-phone-solid"></span>
                        <span class="uricon-talk-solid"></span>
                    </dd>
                </dl>
                <dl>
                    <a href="">
                    <dt><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></dt>
                    <dd>
                        <h3>张立昆<span>北京希遇信息科技有限公司</span></h3>
                        <p>首席财务官</p>
                    </dd>
                    </a>
                    <dd>
                        <span class="uricon-phone-solid"></span>
                        <span class="uricon-talk-solid"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--弹框end-->
</body>
<script type="text/javascript">
    $(function(){
        var slideHeight = 160; // px
        for(var i = 0;i< $('.wrap').length;i++){
            $('.wrap').eq(i).attr('data-height',$('.wrap').eq(i).find('.content').height());
            if($('.wrap').eq(i).height() >= slideHeight){
                $('.wrap').eq(i).css('height' , slideHeight + 'px');
                $('.read-more').eq(i).append('<a href="#">查看更多<i class=" uricon-arrow-bottom"></i></a>');
                $('.read-more a').click(function(){
                    var curHeight = $(this).parent().siblings().height();
                    if(curHeight == slideHeight){
                        $(this).parent().siblings().animate({
                            height: $(this).parent().siblings().attr('data-height')
                        }, "normal");
                        $(this).html('收起<i class=" uricon-arrow-top"></i>');
                        $(this).parent().siblings().find($('.gradient')).fadeOut();
                    }else{
                        $(this).parent().siblings().animate({
                            height: slideHeight
                        }, "normal");
                        $(this).html('查看更多<i class=" uricon-arrow-bottom"></i>');
                        $(this).parent().siblings().find($('.gradient')).fadeIn();
                    }
                    return false;
                });
            }
        }
    });
    $('.consult-btn').click(function () {
        $('.modal').addClass('in');
    });
    $('.modal-header .uricon-close').click(function () {
        $('.modal').removeClass('in');
    })
</script>
</html>
