<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>发布U物</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/company/styles/publish.css">
</head>

<body>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <section class="publish-wrap">
            <p>请将您的 <span>企业名称</span> <span>产品信息</span></p>
            <h2>发送至邮箱: lisisi1@urwork.cn</h2>
            <p>运营人员将会尽快联系您哦</p>
            <img src="/assets/public/company/images/publish_bg.png" alt="">
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<script src="/assets/public/company/scripts/classify.js"></script>
<script>

</script>
</body>

</html>
