<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>服务圈</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/company/styles/common.css">
    <link rel="stylesheet" href="/assets/public/company/styles/service-group.css">
    <style>
        .banners {
            padding-top: 7px;
        }
    </style>
</head>

<body class="gray-bg">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">服务圈</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="layout-title">
            <h2>一键企服</h2>
        </div>
        <section class="layout-item ghost-service">
            <div class="flex2">
                <dl class="left-item">
                    <a href="">
                        <dt>
                            <h3>财税服务</h3>
                            <p>财税统筹管家</p>
                        </dt>
                        <dd>
                            <img src="/assets/public/company/images/ghost/daili.png" alt="">
                        </dd>
                    </a>
                </dl>
                <div class="right-item">
                    <dl>
                        <a href="">
                            <dt>
                            <h3>人力资源</h3>
                            <p>一站式解决方案</p>
                            </dt>
                            <dd>
                                <img src="/assets/public/company/images/ghost/renli.png" alt="">

                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                            <h3>政务咨询</h3>
                            <p>从咨询到规划</p>
                            </dt>
                            <dd>
                                <img src="/assets/public/company/images/ghost/zhengwu.png" alt="">

                            </dd>
                        </a>
                    </dl>
                </div>
            </div>
            <ul>
                <li>营销推广</li>
                <li>管理输出</li>
                <li>U定制</li>
            </ul>
        </section>
        <div class="layout-title">
            <h2>热门服务圈</h2>
        </div>
        <section class="layout-item" style="padding-bottom: 10px">
            <ul class="group-list">
                <li>
                    <div class="group-item">
                        <div class="img-wrap">
                            <span class="img lazy" data-src="/assets/public/company/images/fuwuquan/caiwuquan_bg.png"></span>
                        </div>
                        <div class="group-item-body">
                            <ul class="group-members">
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                            </ul>
                            <p class="name">财务圈</p>
                            <div class="group-actions">
                                <ul class="count">
                                    <li><i class="uricon-chengyuan"></i><span>54</span></li>
                                    <li><i class="uricon-fabu"></i><span>54</span></li>
                                </ul>
                                <a href="javascript:;" class="btn"><span><i class="uricon-plus-w"></i>加入</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <div class="img-wrap">
                            <span class="img lazy" data-src="/assets/public/company/images/fuwuquan/shuiwuquan_bg.png"></span>
                        </div>
                        <div class="group-item-body">
                            <ul class="group-members">
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                            </ul>
                            <p class="name">税务圈</p>
                            <div class="group-actions">
                                <ul class="count">
                                    <li><i class="uricon-chengyuan"></i><span>54</span></li>
                                    <li><i class="uricon-fabu"></i><span>54</span></li>
                                </ul>
                                <a href="javascript:;" class="btn"><span><i class="uricon-plus-w"></i>加入</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <div class="img-wrap">
                            <span class="img lazy" data-src="/assets/public/company/images/fuwuquan/fawuquan_bg.png"></span>
                        </div>
                        <div class="group-item-body">
                            <ul class="group-members">
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                                <li><div class="pic"><img src="https://image.urwork.cn/B93514C3-4310-4F0C-8A58-9214A5AA4168.jpg?imageMogr2/thumbnail/!130x130r/gravity/Center/crop/130x130" alt=""></div></li>
                            </ul>
                            <p class="name">法务圈</p>
                            <div class="group-actions">
                                <ul class="count">
                                    <li><i class="uricon-chengyuan"></i><span>54</span></li>
                                    <li><i class="uricon-fabu"></i><span>54</span></li>
                                </ul>
                                <a href="javascript:;" class="btn"><span><i class="uricon-plus-w"></i>加入</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <div class="img-wrap">
                            <span class="img lazy" data-src="/assets/public/company/images/fuwuquan/qidai_bg.png"></span>
                        </div>
                        <div class="group-item-body more">
                            <p class="name">更多服务圈...</p>
                            <p class="tips"><span>敬请期待</span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <section class="layout-item publish-need">
            <h2>没找到合适的<em>服务</em>？</h2>
            <p>免费发需求，让服务商找到你！</p>
            <a href="javascript:;" class="btn btn-primary-market">立即发需求</a>
        </section>

        <section class="banners swiper-fixed-ratio">
            <div class="swiper-container banner-list">
                <div class="swiper-wrapper">

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div class="layout-title">
            <h2>向专家提问</h2>
            <div class="title-side">
                <a href="javascript:;" class="title-more">更多</a>
            </div>
        </div>
        <section class="layout-item">
            <div class="ushow-group">
                <h3 class="ushow-title">服务专家</h3>
                <div class="ushow-list">
                    <dl class="ushow-item">
                        <dt>
                            <a href="#"><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!120x120r/gravity/Center/crop/120x120" alt=""></a>
                        </dt>
                        <dd>
                            <p class="name">王之滨</p>
                            <p>创意融通（北京）文化资讯有限公司</p>
                            <p>CEO</p>
                            <div class="actions">
                                <a href="#" class="btn btn-def"><i class="uricon-plus-w"></i><span>关注</span></a>
                                <a href="#" class="btn btn-primary-market"><i class="uricon-sixin"></i><span>私信</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="ushow-item">
                        <dt>
                            <a href="#"><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!120x120r/gravity/Center/crop/120x120" alt=""></a>
                        </dt>
                        <dd>
                            <p class="name">王之滨</p>
                            <p>创意融通（北京）文化资讯有限公司</p>
                            <p>CEO</p>
                            <div class="actions">
                                <a href="#" class="btn btn-def"><i class="uricon-plus-w"></i><span>关注</span></a>
                                <a href="#" class="btn btn-primary-market"><i class="uricon-sixin"></i><span>私信</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="ushow-item">
                        <dt>
                            <a href="#"><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!120x120r/gravity/Center/crop/120x120" alt=""></a>
                        </dt>
                        <dd>
                            <p class="name">王之滨</p>
                            <p>创意融通（北京）文化资讯有限公司</p>
                            <p>CEO</p>
                            <div class="actions">
                                <a href="#" class="btn btn-def"><i class="uricon-plus-w"></i><span>关注</span></a>
                                <a href="#" class="btn btn-primary-market"><i class="uricon-sixin"></i><span>私信</span></a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </section>

        <section class="banners swiper-fixed-ratio">
            <div class="swiper-container banner-list">
                <div class="swiper-wrapper">

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div class="layout-title">
            <h2>优质服务商</h2>
            <div class="title-side">
                <a href="javascript:;" class="title-more">更多</a>
            </div>
        </div>
        <ul class="layout-item ucompany-list">
            <li>
                <div class="ucompany-item">
                    <a href="javascript:;">
                        <dl class="ucompany-hd">
                            <dt><img src="http://7xp26u.com1.z0.glb.clouddn.com/4E42101B-CC58-4BBF-B1B0-654D65931413.jpg?imageMogr2/thumbnail/!140x140/gravity/Center" alt=""></dt>
                            <dd>
                                <p class="name">上海品课品牌设计有限公司</p>
                                <p class="attrs">A轮｜50-100人｜2014年11月成立</p>
                                <div class="tags">
                                    <div class="tag"><span>营销推广</span></div>
                                    <div class="tag"><span>新闻</span></div>
                                </div>
                            </dd>
                        </dl>
                    </a>
                    <div class="ucompany-bd">
                        <a href="javascript:;">
                            <div class="specialty">
                                <p><span class="label">服务</span>互联网技术咨询，项目研发，空间智能化解决方案</p>
                                <p><span class="label need">需求</span>互联网技术咨询，项目研发，空间智能化解决方案</p>
                            </div>
                        </a>
                        <div class="actions">
                            <span>粉丝 21</span>
                            <span>合作留言 45</span>
                            <div class="btns">
                                <a href="javascript:;" class="btn btn-def"><i class="uricon-plus-w"></i><span>关注</span></a>
                                <a href="javascript:;" class="btn btn-primary-market"><i class="uricon-uqby"></i><span>留言</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ucompany-item">
                    <a href="javascript:;">
                        <dl class="ucompany-hd">
                            <dt><img src="http://7xp26u.com1.z0.glb.clouddn.com/4E42101B-CC58-4BBF-B1B0-654D65931413.jpg?imageMogr2/thumbnail/!140x140/gravity/Center" alt=""></dt>
                            <dd>
                                <p class="name">上海品课品牌设计有限公司</p>
                                <p class="attrs">A轮｜50-100人｜2014年11月成立</p>
                                <div class="tags">
                                    <div class="tag"><span>营销推广</span></div>
                                    <div class="tag"><span>新闻</span></div>
                                </div>
                            </dd>
                        </dl>
                    </a>
                    <div class="ucompany-bd">
                        <a href="javascript:;">
                            <div class="specialty">
                                <p><span class="label">服务</span>互联网技术咨询，项目研发，空间智能化解决方案</p>
                                <p><span class="label need">需求</span>互联网技术咨询，项目研发，空间智能化解决方案</p>
                            </div>
                        </a>
                        <div class="actions">
                            <span>粉丝 21</span>
                            <span>合作留言 45</span>
                            <div class="btns">
                                <a href="javascript:;" class="btn btn-def"><i class="uricon-plus-w"></i><span>关注</span></a>
                                <a href="javascript:;" class="btn btn-primary-market"><i class="uricon-pinglun"></i><span>留言</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <section class="banners swiper-fixed-ratio">
            <div class="swiper-container banner-list">
                <div class="swiper-wrapper">

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide piclist-item slide-banner-item">
                        <a href="#">
                            <div class="piclist-image-box">
                                <span class="piclist-image swiper-lazy" style="background-image: url('/assets/public/market/images/ceshi.jpg')"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div class="layout-title">
            <h2>推荐服务</h2>
            <div class="title-side">
                <a href="javascript:;" class="title-more">更多</a>
            </div>
        </div>
        <section class="layout-item">

            <ul class="goods-list">
                <li>
                    <a href="/product/getProduct?spuId=100170">
                        <div class="goods-pic">
                            <img src="http://7xp26u.com1.z0.glb.clouddn.com/c8ed5cf0-08b0-4ef9-9aed-f0f5c1fd76f8.jpg?imageMogr2/thumbnail/!156x134r/gravity/Center/crop/156x134" alt="">
                        </div>
                        <div class="goods-name">
                            122
                        </div>
                        <div class="goods-integral">￥111.00</div>
                    </a>
                </li>
                <li>
                    <a href="/product/getProduct?spuId=100170">
                        <div class="goods-pic">
                            <img src="http://7xp26u.com1.z0.glb.clouddn.com/c8ed5cf0-08b0-4ef9-9aed-f0f5c1fd76f8.jpg?imageMogr2/thumbnail/!156x134r/gravity/Center/crop/156x134" alt="">
                        </div>
                        <div class="goods-name">
                            122
                        </div>
                        <div class="goods-integral">￥111.00</div>
                    </a>
                </li>

                <li>
                    <a href="/product/getProduct?spuId=100194">
                        <div class="goods-pic">
                            <img src="http://7xp26u.com1.z0.glb.clouddn.com/81171aad-c151-400f-908d-f68765df77a8.png?imageMogr2/thumbnail/!156x134r/gravity/Center/crop/156x134" alt="">
                        </div>
                        <div class="goods-name">
                            玩具音乐音乐乐器配件
                        </div>
                        <div class="goods-integral">￥100.00</div>
                    </a>
                </li>

                <li>
                    <a href="/product/getProduct?spuId=100197">
                        <div class="goods-pic">
                            <img src="http://7xp26u.com1.z0.glb.clouddn.com/2a5ae6cc-c67f-4cb2-a456-39656f14504a.jpg?imageMogr2/thumbnail/!156x134r/gravity/Center/crop/156x134" alt="">
                        </div>
                        <div class="goods-name">
                            玩具音乐音乐民乐
                        </div>
                        <div class="goods-integral">￥1100.00</div>
                    </a>
                </li>

            </ul>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->

<script>
    $(function() {
        UR.mainSlide('.index-slide');
        UR.mainSlide('.banner-list');
        UR.carouselSlide('#newCompanyList', {
            cols: 2,
            marginRight: 36
        });
        UR.carouselSlide('#city', {
            cols: 2,
            marginRight: 36
        });
    })
</script>
</body>

</html>
