<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>vip首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/wifi/wifi.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="tc">
                <img src="/assets/public/wifi/images/wifi-2.png" class="tip-icon">
                <p class="tip-tittle">请手动连接WIFI：WX-Urwork</p>
                <p class="tip-desc">确认连接WX-Urwork成功后,点击下方按钮尝试联网</p>
                <p class="post">
                    <a href="javascript:;" class="btn btn-primary">我已连接WIFI, 申请联网</a>
                </p>
            </div>
        </main>
    </div>
</body>
</html>
