<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>vip首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/wifi/wifi.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="tc">
                <img src="/assets/public/wifi/images/wifi-1.png" class="tip-icon">
                <p class="tip-tittle">免费WIFI授权登录确认</p>
                <!-- <p class="tip-desc">12321231</p> -->
                <p class="login p-btn">
                    <a href="javascript:;" class="btn btn-primary">登录</a>
                </p>
                <p class="p-btn">
                    <a href="javascript:;" class="btn">取消登录</a>
                </p>
            </div>
        </main>
    </div>
</body>
</html>
