<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>vip首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/wifi/wifi.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="tc">
                <img src="/assets/public/wifi/images/wifi-success.png" class="tip-icon">
                <p class="tip-tittle">恭喜您,联网成功!</p>
                <p class="tip-desc">5s后返回首页</p>
            </div>
        </main>
    </div>
</body>
</html>
