<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>纯技术男创业，他让“技术”不再成为互联网创业的门槛</h1>
                <p class="center-text">要说距离改变世界最近的职业，还得是程序员。</p>
                <p class="text-item">一个不懂技术的人，想在互联网行业创业，在知乎上大抵会经历以下心路历程：</p>
                <p class="center-text">“我有一个绝妙的创意，只差一个写代码的了！”<br /><(￣︶￣)><br />“如何找一个靠谱的技术合伙人？”<br />o(︶︿︶)o<br />“为什么找技术合伙人这么难？”<br />ヾ(｡｀Д´｡)</p>
                <p class="text-item">经历了许多嘲笑，看过了几多谢邀，你才明白，最靠谱的做法还是先找一个外包，把早期demo做出来。而外包市场鱼龙混杂，报价虚高、产品不过关、外包公司随时跑路不见......你不敢拿着身家性命孤注一掷。<br /><br />纯技术出身的刘猷韬，以及他那99%技术出身的团队，正在试图解决这个问题。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">互联网创业不是你想创，想创就能创</h2>
                <p class="text-item">假设你是一个创业团队，或者做传统行业的互联网转型，你有两个选择：<br /><br />第一，找一个靠谱的CTO，太难了。除了自身条件过硬，还要有能力组建靠谱团队、交付产品。要说服技术大牛放弃已有的稳定高薪工作，对创始人的魅力和能力要求极高，还要考虑技术合伙人理解你的思路后，另起炉灶的尴尬结局。对创业公司来说，可能1年就过去了，加上产品的试错还要3-6个月，时间成本极为高。<br /><br />另外，就是直接找外包。如果大厂商来做中小团队的项目，肯定是不会赚钱的，但他们还是会接，对他们来说反正闲着也是闲着，但如果突然来了一个千万级别的项目，你的项目优先级就降到最低了。<br /><br />对于中小型外包公司来说，多个项目并行实施的能力很差，这就增加了他们赚一票就跑路的可能性。对于创业团队来说，把产品做出来关系到身家性命，除了投资人的钱，还有自己家底的全部投入，一旦发生外包公司跑路，就会非常惨。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/20161130/2_01.png" alt="">
                    <p> 刘猷韬，联创工场创始人、技术男、连续创业者</p>
                </div>
                <p class="text-item">“我是纯技术出身，北航研究生毕业后，在中国电子科技集团下面的一个事业单位，呆了3年，把国内的各种IT系统都摸了一遍。然后去了全球最大的做商业智能、统计分析公司SAS，后来到Google一家合资公司待了2年。之后就一直在创业了。”<br /><br />“去年创业浪潮来临了，好多创业公司找到我说，来我们公司做CTO吧，当面临很多选择的时候，就想着能不能都选，那就得成立一个公司了。有了公司后，骨子里还比较有情怀吧，特别不想做一个大家觉得比较low的事情。所以开始就拿股权（技术VC模式），成了你的股东，地位也不一样，就有发言权了。这个过程中，又发现了技术外包行业存在很多问题，作为一帮搞互联网的人，就开始思考，能不能解决这个行业的问题。”</p>
                <img src="/assets/public/news/images/20161130/2_03.png" alt="">
                <p class="text-item">面对有资金压力的创业团队，联创工场会通过占股的方式出让一部分的利润，帮助想法成熟的创业团队更快、更靠谱的做出第一版产品。<br /><br />联创还会输送一整套的技术体系和技术架构，这可能是创业公司要花很长的时间去摸索的。以及帮他们面试和组建自己的技术团队，对于不懂技术的创始人，解决了大麻烦。招过来的人会和联创的项目团队一起协同，2、3个月后自己的团队就组建起来了。<br /><br />“很多时候我们拿到创业项目的股权，也会分很大一部分给参与这个项目的技术人员，有一个项目估值可能会到100亿，光这一个项目，我们公司可能会出几个千万富翁。所以，我现在都去抱那个项目负责人大腿，求他分我一点儿。”刘猷韬笑道。<br /><br />除了创业项目，联创工场也会接一些中大型的项目，中国电信、天弘基金、雀巢也是他们的客户。不过体量主要控制在200万以内，客户人群没有硬性要求，这一点让他们保持了很好的现金流。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">平台化、规模化是当务之急</h2>
                <p class="text-item">现在技术VC、技术孵化已经不是什么新鲜的话题了，不只联创工场，还有很多类似的技术团队也在做。但是在做创业项目与大项目的过程中，刘猷韬发现，联创工场的想象力可以有很多，比如切入到招聘、培训等等，甚至是整个技术外包行业。<br /><br />“举个例子，前一段时间很火的直播，要做一套优秀的直播体系，没有200万是搞不定的。但是有一个股权合作的项目，我们花40万帮他搞定。我们自己还会帮他攒一些项目，比如我们参与一个智能眼镜项目，就可以攒一个眼镜直播的项目，同时我们也找到了另外一家股权合作项目，他可以帮助做销售。当体量更大的时候，可能性就会更高。成本也会很低、时间很快，因为所有都是成熟的东西。”<br /><br />要实现那些设想，包括解决技术外包行业的种种问题，当务之急，要让联创工场平台化、规模化。“否则依靠我们自己的能力，做5个项目已经很了不起了。”<br /><br />目前联创工场在搭建一个线上技术服务平台，把很多优秀的中小型技术团队、技术牛人吸引过来，他们各自擅长不同专业领域，负责具体的实施开发。联创工场扮演项目统筹、咨询、品牌背书和建立信任的角色。户只需提交需求给联创工场，剩下的全部交给联创，即便他们的某一家技术合作团队跑路，也丝毫不会影响项目进展与按时交付。</p>



                <div class="swiper-container index-slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banner-image-box">
                            <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/2_05.png" alt=""></a>
                        </div>
                        <div class="swiper-slide banner-image-box">
                            <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/2_06.png" alt=""></a>
                        </div>
                        <div class="swiper-slide banner-image-box">
                            <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/2_07.png" alt=""></a>
                        </div>
                        <div class="swiper-slide banner-image-box">
                            <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/2_08.png" alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <p class="text-item">为此，我特地去联创工场的官网（<a href="http://www.uworks.cc">www.uworks.cc</a>）提交了一个智能眼镜的项目需求（本人也属于心怀伟大梦想、对技术一窍不通的那类，咳咳），选择项目类型、哪些平台、需要哪些功能，就可以得出大致的产品功能点和推荐运营人数，还能在线邀请报价。<br /><br />对于一个只有idea人来说，我清楚的认识到，要做一个项目，哪怕是一个APP，绝对不是那么简单的事。就这一点来说，对于头脑一热想创业的人来说，也非常有帮助了。<br /><br />刘猷韬说，未来这个线上系统会更加完善，可能你把需求选完，一个雏形的demo就直接生成了。</p>
                <img src="/assets/public/news/images/20161130/2_09.png" alt="">
                <p class="text-item">联创工场去年4月份成立，6月份拿到峰谷资本的千万人民币PreA轮投资。说起刘猷韬的团队，用他的话讲就是“团队非常牛，很有信心“，除了技术团队都是来自Google、亚马逊、百度、搜狐、创新工场等国内外顶尖互联网公司，其他成员也有很高的资历和背景。<br /><br />联创也是优客工场 · 金域国际社区的第一家入驻企业，据说还参与了早期办公区的设计。<br /><br />“在这里特别省心，可以专注干自己的事情，以前总是忘了买电，活干着突然停电了。来优客工场后，也帮我们介绍了很多客户、合作伙伴。因为自己是技术男，不太产生沟通，但是这里给了一个很好的环境。之后，希望跟着优客工场全国布局的步伐，进行更多的合作。”<br /><br />和刘猷韬聊完，我想到了Y Combinator，很多人知道他们是一家孵化器，却不知道YC是一家技术驱动的孵化器，硅谷大部分孵化器的技术背景都很强，这和中国的孵化业不太一样。YC创始人格雷厄姆把培养年轻极客，扶植创业公司当成自己的使命。他的创业公式就是：搭建原型、上线运营（别管bug）、收集反馈、调整产品、成长壮大。<br /><br />那么由技术男驱动的联创工场，除了改变技术外包行业，或许还有机会成为一家真正由极客驱动的中国式Y Combinator。</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
