<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>想改变世界？找个硅谷范儿的地方搞创业</h1>
                <p class="center-text">在让世界成为一个“better place”之前，得先有一个属于自己的“better place”。</p>
                <img src="/assets/public/news/images/20161130/1_01.png" alt="" class="m-tb">
                <p class="text-item">在过去的十年间，环顾四周，似乎没什么不被科技和互联网所影响。从美国硅谷的传奇，再到BAT、中关村的疯狂，互联网行业无疑成为了最容易改变世界的行业。以程序员为主力军的互联网人，也成为了离改变世界最近的一群人。<br /><br />其实也不能叫“改变”世界，正如乔老爷子在1993年接受wired杂志采访时所说，互联网科技只是工具，世界还是那个世界，只是让人们的生活和工作更加的方便。一件事情想要成为重要的事情，不是一定要去改变世界的。 <br /><br />于是乎，整个硅谷的人都在说：</p>
                <img src="/assets/public/news/images/20161130/1_02.png" alt="">
                <p class="text-item">既然要让世界成为一个“better place”，互联网人决定，得先有一个属于自己的“better place”。<br /><br />自由与开放是互联网的一大精神，据说这源于传说中的车库文化，与之伴随的还有惠普、苹果、Facebook等的口口相传的传奇故事。随着物质生活的极大丰富，车库已经不再流行，但互联网人仍然贯彻着这一傲娇的信仰，并把开放与自由定义为“a better place”的题中之意。也就是说，办公环境首先要够开放、够自由。<br /><br />硅谷的普通员工一般是没有单独的房间，都是开放式的。开放式也有两种，Google最早是一个办公室里面有四五个人，后来很多团队改成了一层楼几十人上百人在一个开阔的办公区里面。Facebook则更开放，Mark的办公室是透明的，玻璃上没有窗帘，所有人都能看到老板在做什么。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/20161130/1_03.png" alt="">
                    <p style="text-align:center">Google Umbono Workspace，pic from flickr, by Haldane Martin<br />授权说明<br />You are free to:<br />Share — copy and redistribute the material in any medium or format</p>
                </div>
                <p class="text-item">而在遥远的东方，雄心壮志的互联网宝宝们才刚刚起步，财力上，自然是比不得国外的GAF和国内的BAT。最重要的是，我们压根没有车库这种东西，总不能让要改变世界的互联网宝宝在地下室里搞创业吧。<br /><br />于是乎，在帝都程序员大杂居、小聚居的上地附近，呆腻了BAT，想要搞创业的几个互联网团队找到了这样一个地方：</p>

                <img src="/assets/public/news/images/20161130/1_04.gif" alt="">
                <p class="text-item">一个2600多平米，自带高速网络、书吧、咖啡、游戏区、饮水机、微波炉、冰箱、会议室、睡眠区......的硅谷范儿、开放式的办公社区。这个叫做优客工场的地方，被某些程序员团队早早发现，还参与了软装的设计环节，不愧是要改变世界的人，动手能力就是强。</p>
            </div>
            <div class="news-items">
                <section class="layout-item mbn">
                    <header class="layout-item-title">
                        <aside>
                        </aside>
                        <h2><a href="javascript:;">优客工场 · 金域国际社区</a></h2>
                    </header>
                    <div class="swiper-container index-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide banner-image-box">
                                <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/1_slide_01.png" alt=""></a>
                            </div>
                            <div class="swiper-slide banner-image-box">
                                <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/1_slide_02.png" alt=""></a>
                            </div>
                            <div class="swiper-slide banner-image-box">
                                <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" src="/assets/public/news/images/20161130/1_slide_03.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <p class="text-item">如你所知，这是一个联合办公社区。有几个邻居想和你分享下他们的互联网创业故事，以及他们是如何make the world a better place的。自己的意志或做出妥协，只做自己能够认可的工作。</p>
                <div class="logo-item">
                    <img src="/assets/public/news/images/20161130/1_logo_01.png" alt="">
                    <p class="text-item">一群纯技术出身的创业团队，想打破技术的壁垒，让思绪天花乱坠，却无从下手的码盲，也有机会改变世界。</p>
                </div>
                <div class="logo-item">
                    <img src="/assets/public/news/images/20161130/1_logo_02.png" alt="">
                    <p class="text-item">一个国内唯一“国字头”互联网+教育工程，专注培养像扎克伯格一样的Geek。他们，通过培养更多的极客，让极客改变世界变得更加可能。</p>
                </div>
                <div class="logo-item">
                    <img src="/assets/public/news/images/20161130/1_logo_03.png" alt="">
                    <p class="text-item">一个20年前起家于地理信息系统开发的团队，转型旅游景区全域营销探索。行前、行中、行后的音频、视频、图片、文字、全景、无人机航拍、VR渠道，或许能改变你看待这个奇妙世界的视角。</p>
                </div>
                <div class="logo-item">
                    <img src="/assets/public/news/images/20161130/1_logo_04.png" alt="">
                    <p class="text-item">作为行业大佬，瓜子二手车有着这么几个会玩的Geek。且看，侃车胡同儿如何用产品经理的思路，做二手车的新媒体。他们，让被改变的世界更快地被普通人接受。</p>
                </div>
                <p class="text-item">如果你也是傲娇的互联网人，并且正在帝都寻找硅谷范儿的办公环境，那么请用最傲娇的姿势，识别这个二维码吧！</p>
                <img src="/assets/public/news/images/20161130/1_ewm.jpg" alt=""style="width:160px!important">
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/01.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">金域国际-开篇</p>
                                    <p class="pictext-desc">傲娇的互联网人想改变世界，于是他们找了一个硅谷范儿的地方一起搞创业</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/02.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">他让“技术”不再成为互联网创业的门槛</p>
                                    <p class="pictext-desc">要说距离改变世界最近的职业，还得是程序员。</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/03.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">想成为极客改变世界，得有个领路人才行</p>
                                    <p class="pictext-desc">HTML、CSS、CSS3、nodejs、php……字还看不懂就想改变世界？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/04.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">专注地理信息系统20年，他们开始做景区全域营销</p>
                                    <p class="pictext-desc">他们让你在旅途中直播、艳遇、网购......</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/05.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">看一个产品经理如何玩转二手车新媒体？</p>
                                    <p class="pictext-desc">瓜子二手车的懂车与侃车。</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/20161130/06.png"></span></dt>
                                <dd>
                                    <p class="pictext-title">极客，代表未来</p>
                                    <p class="pictext-desc">极客对世界的改变，不只Windows系统、Facebook、神舟飞船上的精密的控制系统</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
