<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>想成为极客改变世界，得有个领路人才行</h1>
                <p class="center-text">HTML、CSS、CSS3、nodejs、php……字还看不懂就想改变世界？</p>
                <p class="text-item" style="color:#999">学弟来问：学长我想学H5，应该从哪里开始？<br /><br />知乎大神答：HTML5新增特性在W3C上都可以查得到的。<br /><br />学弟问，不，我想学的是H5，想做H5的页面。<br /><br/>知乎大神答：<br />（前方高能）<br />那你要先学习HTML，包括HTML5的新标准和之前的全部标准。然后学CSS以及CSS3，了解它们在浏览器的实现情况，原生JS了解一点就可以。大多的操作可以用Jquery，了解常用的几个Jquery插件的用法。应该就差不多了。如果想要做更酷炫的，学一下egret或者cocos2d更好。如果要优化加载速度，还要学一下grunt一类的自动化工具。微信的sdk有很多坑，至少nodejs或者php一类的后端语言要会一点……<br /><br/>学弟卒。<br /><br />（感谢知乎大神王德福的回答，虽然我看不懂）</p>
                <p class="text-item">这里，知乎大神侃侃而谈的H5，不是我们常理解的PPT式的活动介绍，或者某个嵌入了活动报名的转发链接；而是具有交互性、依靠程序语言搭建的web前端，从业者被称为web前端<span style="text-decoration:line-through ">攻城狮</span>工程师。</p>
                <img src="/assets/public/news/images/20161130/3_02.png" alt="">
                <p class="text-item">人们对H5的关注从去年开始，之后关于H5作用的讨论甚喧尘上。H5似乎成为了营销界屡试不爽的法宝——一旦出手便手刃敌军。的确，之后也出现了一些颇会玩的明星H5刷爆朋友圈，比如围住神经猫，比如吴亦凡当兵。然而，市场上真正理解H5这个名词背后之技术理念的屈指可数，可用之才更是凤毛麟角。</p>
                <img src="/assets/public/news/images/20161130/3_03.gif" alt="">
                <p class="text-item">优客工场金域国际社区，一个充满极客感的社区里，有一群人，他们带领一批又一批的准极客们进入web前端工程师行业，协助更好实现”科技让世界更美好”（make the world a better place）的理念。</p>
                <img src="/assets/public/news/images/20161130/3_01.png" alt="">
                <p class="text-item">CSTP工程是一个面向准web前端工程师的实践培训工程，主要针对刚结束高等教育还未进入行业的攻城狮小白。工程集合了行业几家大拿，中国软件行业协会、软件教育培训委员会、科技部火炬中心以及中国国际人才交流基金会，四家为这项工程提供了充足的资源背书。</p>
                <div class="logo-item">
                    <img src="/assets/public/news/images/20161130/1_logo_02.png" alt="">
                    <p class="text-item">背靠中国软件行业协会做教育，他们是认真的。</p>
                </div>
                <p class="text-item">中国软件行业协会负责<strong>招兵买马</strong>。作为国内3A组织，软件协会麾下有35个地方软件行业协会和8000余家软件企业会员单位，实现了从行业内部招募行业专家、技术大牛、企业高管。目前，在CSTP任教的讲师有超过8年的行业从业经验，包括百度在内的国内知名互联网公司的技术总监也常常出没CSTP担任客座讲师。<br /><br />CSTP工程创始人、院长卢文静还担任着软件教育培训委员会副秘书长一职。毕业于北京理工大学计算机专业的她，除了深谙计算机行业的从业情况外，还清楚地知道计算机工程师的理论学习与实际操作之间存在的鸿沟。经过长期理论知识学习和实践经验的积累，卢文静提出了计算机工程师教学的“六步教学法”和“三师型”教学理念。</p>
                <img src="/assets/public/news/images/20161130/3_04.png" alt="">
                <p class="text-item">行业中，许多准web前端工程师只知道工程语言和编程方式，却不知道如何应用到项目开发中。高等教育环境下，准工程师们缺乏真实的实践环境，企业往往需要很长周期才能完成对一个工程师小白的上岗培训。<br /><br />CSTP工程就将这个需求融入到培训过程中。在4个月的教学周期中，前3个月由讲师巩固理论知识。最后1个月则从中国软件行业协会麾下的众多会员企业寻找真实项目案例，由企业内的项目经理带队实践，上手操作，模拟IT企业工作环境，还原真实开发流程，以真实企业案例和项目案例作为毕业作品，进行综合考核。</p>
                <img src="/assets/public/news/images/20161130/3_05.png" alt="">
                <p class="text-item">也许在培训期间，你参与开发了优客工场app的部分社交功能。想想还有点小激动呢！<br /><br />不同于其他培训机构的“双师教学”，CSTP工程首次在全国实践了“三师教学”。在传统技能培训中的理论讲师、项目实践之外，还增加了职业素养和职业规划方面的培养和教育。通过邀请知名互联网公司人事总监，工程内的学生有机会直接接触到职场知识，了解职场习惯。<br /><br />不同于市面上的大班授课，CSTP工程全部采用小班教学的方式。因此，记录学生的成长阶段，成为CSTP工程的一大具有可操作性的特色。为学生拍摄入学和毕业视频，为每位学生建立学习档案，实现学生阶段性成长。<br /><br />最近，CSTP还新增了Javak开发工程师、电商新媒体运营等两个培养方向。所有的一切，在 <a href="http://http://www.cncstp.com">http://www.cncstp.com</a> 上全都能找到。<br /><br />加入金域国际社区，他们想更好地服务学生。要帮助学生完成从学校到企业的最后一公里，他们需要搬到了更容易与极客们接触到的地方。</p>
                <p class="center-text">在这里，和其他金域极客一起<br />make the world a better place</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
