<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>文创范er· 五部电影里的炫嘉Xplus维拓社区</h1>
                <p class="center-text">在广袤的朝阳区大草原上<br />2016年5月<br />一个可能是北京最文创范er的社区<br />横空出世</p>
                <img class="p-tb" src="/assets/public/news/images/ur1.jpg" alt="">
                <p class="center-text center-text-line">朝阳区道家村壹号1号楼<br />炫嘉Xplus维拓社区<br />是优客工场第一个文创主题社区<br />又到了真人秀和“说话式唱歌教学”跨界的季节<br />在社区的演播大厅和录音棚<br />婚纱设计和创业纹身的传奇故事才刚刚开始</p>
            </div>
            <div class="news-items">
                <h2>《疯狂动物城》</h2>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/fkdwc.jpg" alt="">
                    <p>-The only thing we have to fear is the fear itself<br />-恐惧本身才是最大的心魔。</p>
                </div>
                <p class="text-item">故事发生在一个所有哺乳类动物和谐共存的美好世界中，兔子朱迪（金妮弗·古德温 Ginnifer Goodwin 配音）从小就梦想着能够成为一名惩恶扬善的刑警，凭借着智慧和努力，朱迪成功的从警校中毕业进入了疯狂动物城警察局。殊不知这里是大型肉食类动物的领地，作为第一只，也是唯一的小型食草类动物，朱迪遇到了前所未有的挑战。但这个动物乌托邦并没有那么令人沮丧。</p>
                <img src="/assets/public/news/images/ur2.jpg" alt="" class="n-p">
                <p class="text-item">维拓社区是一个“文创乌托邦”，多种文创元素的交织给这里添加了不同于其他联合办公空间的独特色彩。主流文化与亚文化共生，娱乐与教育同存。而引领与维持这个社区的人，郑舒阳，正是一个集合了多种特质于一身的新势力。</p>
                <p class="center-text center-text-line">10月28日<br />在“文创乌托邦”维拓社区专题<br />忆炫嘉创始人郑舒阳的过去现在与未来</p>
            </div>
            <div class="news-items">
                <h2>《黄金时代》</h2>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/hjsd.jpg" alt="">
                    <p>-我不能选择怎么生，怎么死，但我能决定怎么爱，怎么活。这是我要的自由，我的黄金时代。</p>
                </div>
                <p class="text-item">在广电总局12年3月发布的电影剧本立项公示上，该片当时的名字还叫《穿过爱情的漫长旅程》，后更名为《黄金时代》，其实这个片名是源自萧红写给萧军信中的一句话：“这不正是我的黄金时代吗？”<br /><br />由于历史、盛衰的客观存在，每个事物、个人都会经历自己的黄金时代。而身处其中的人，因为在历史的长流中，只是渺小的一粒尘埃，对盛不能自知，往往在衰的时候，才回忆起，哦，原来那是一个多么美好的黄金时代。<br /><br />有人说，这是创业最好的时代。维拓社区是一个特别的存在，这个由Xplus炫嘉与优客工场共同打造的社区，聚焦文创，集结文创新生力量， 这里可能见证文创的黄金时代。</p>
                <img src="/assets/public/news/images/ur3.jpg" alt="" class="n-p">
                <p class="text-item">影视，是文创中瞩目的一项。提到电影，总能令人回忆起70-90年代，一个属于香港电影的黄金时代。颜光兴那年32岁，在徐克工作室工作，是张国荣版《倩女幽魂》的制片。后来，他也参与制作了非常多的经典香港电影，是香港电影最繁华时代的见证者之一。<br /><br />如今已是颜导的他，早已定居北京，一晃30年过去，这位从香港电影黄金时代走出来的人，又经历几多起伏人生路？</p>
                <p class="center-text center-text-line">10月29日<br />在结合了新生势力和黄金时代的维拓社区专题<br />品香港导演颜光兴的起伏人生路</p>
            </div>
            <div class="news-items">
                <h2>《本杰明·巴顿奇事》</h2>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/bdqs.jpg" alt="">
                    <p>—What if I told you that I wasn't getting older, but I was getting younger than everybody else? <br />—要是我告诉你我没有变老，而是变得更年轻了呢？</p>
                </div>
                <p class="text-item">《本杰明·巴顿奇事》又名《返老还童》，讲述了本杰明·巴顿违反自然规律，以老人形象降生人世，之后越活越年轻的奇怪生命轨迹。<br /><br />维拓社区是一个关于返老还童的故事，或者，一个从成熟到青春的故事。这栋建成于80年代的老楼，原本是北京维拓时代建筑设计有限公司的办公区。经过青春范er的室内功能改造，和文艺范er的入驻企业的加入，焕发出本杰明·巴顿般“不可思议的年轻”</p>
                <img src="/assets/public/news/images/ur4.jpg" alt="" class="n-p">
                <p class="text-item">与返老还童相呼应的，是维拓社区的少年老成。入驻在社区里最年轻的创始人王逸翛，99年创业极客，从15岁开始创业，目前正在打造企业文档那个协作与管理云平台——风暴云文档。</p>
                <p class="center-text center-text-line">10月30日<br />在返老还童的炫嘉Xplus维拓社区专题<br />看少年老成的风暴云创始人的故事</p>
            </div>
            <div class="news-items">
                <h2>《编舟记》</h2>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/bzj.jpg" alt="">
                    <p>-我要为辞典奉献一生</p>
                </div>
                <p class="text-item">影片中，一群人在信息社会中，为了修编印刷一本辞典沉心创作18载。辞书部负责人松本朋佑教授将解释新抄词汇的辞书，比作旧时代和新时代人们之间彼此思维的摆渡船，新的词典命名为「大渡海」。因此，这部电影被翻译为「编舟记」。<br /><br />这是一个真正关于「职人」的故事。这群人正是日本文化中的典型「职人」：追求自己手艺的进步，并对此持有自信，不因金钱和时间的制约扭曲自己的意志或做出妥协，只做自己能够认可的工作。</p>
                <img src="/assets/public/news/images/ur5.jpg" alt="" class="n-p">
                <p class="text-item">从80年代至今，维拓这座不算年轻建筑，虽居于朝阳一隅，却从未停止过专注与革新。从曾经的建筑设计公司到现在联合办公空间，「职人精神」似乎早已被维拓社区内化。前主人在建筑行业的执着，与优客工场的在空间上的坚持不谋而合。优客工场的空间设计师保留了部分原建筑风格，又注入奇思妙想革新了空间功能。时代大潮一浪一浪，许许多多人成为逐浪儿，但有些屹立在一处多年，历久弥新。<br /><br />李非也许是维拓社区里最「职人」的那位。她曾拒绝资本，专注手艺。用一针一线手工缝制礼服，为每个姑娘编织人生梦想的婚纱。</p>
                <p class="center-text center-text-line">10月31日<br />在职人精神的炫嘉Xplus维拓社区专题<br />赏MagicFit设计师李非的一针一线</p>
            </div>
            <div class="news-items">
                <h2>《音乐的秘密》</h2>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/yydmm.jpg" alt="">
                    <p>- 一首歌从没有词、没有曲，到最终被大众听到，中间都发生了什么？</p>
                </div>
                <p class="text-item">这是一部全片成本不足 20 万的小成本电影。<br /><br />影片里，导演梁欢不仅要尝试不用术语、用最通俗的语言展现一首歌的诞生过程，同时也要揭秘音乐真正的核心力量——幕后人的真实生存状态，让那些来自幕后的声音，能被大众听到。他们中有的是陈奕迅的金牌制作人；有的是中国打击乐之王；还有的是四十年前就给邓丽君拉小提琴的泰斗级大师。大众对他们的作品耳熟能详，但却从没听过他们真正的声音，不了解这群幕后人的生存现状。</p>
                <img src="/assets/public/news/images/ur6.jpg" alt="" class="n-p">
                <p class="text-item">维拓优客工场就是目前唯一自带了录音棚的创业社区，在这里你能找到声音的秘密。<br /><br />王路遥，入驻在维拓社区内的音乐制作人、录音师，一个在北京过着美国时差的音乐工作者，如何平衡情怀与饭碗？一首好歌的诞生，需要花费的精力不比一部手机、一个程序差多少，甚至更难。而如何在这个习惯了免费享用一切的国度，让做音乐，也能变成“一份正经的工作”？</p>
                <p class="center-text center-text-line">11月1日<br />在颜值与实力并存的维拓社区专题<br />听录音师王路遥讲述「听的艺术与技术」<br /><br />-E N D-</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
