<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>做婚纱手工定制设计师，我编织了无数少女的梦</h1>
                <p class="text-item">“大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己，这个梦可能从很小就开始了。在做婚纱定制之前，我认为市场上很多婚纱是亵渎了这个梦的。于是，我下定决心，不要做一个告诉女孩们什么是最时髦的婚纱设计师，我要用我的专业去帮助女孩们实现她们每个人心中对婚纱的梦想。”</p>
                <p class="center-text" style="color:#333;">“所以，公司的中文名字叫「织梦」。”</p>
                <p class="text-item"><em class="orange">李非，先后在《ELLE》《INSTYLE》等时尚杂志任编辑近十年，后创立大礼服定制品牌“MagicFit织梦”，成为专业婚纱高级定制设计师。国内知名演员陈数、秦海璐、江一燕等都曾身穿李非定制的礼服出席各大场合。李非曾获2014 盛装亚洲新晋设计师大奖，美国WB婚礼策划师培训协会讲师、法国电视台FashionTV专访中唯一中国籍高端婚纱设计师、中国著名职场真人秀节目《职来职往》特邀达人。</em> </p>
                <img class="p-tb" src="/assets/public/news/images/5_01.jpg" alt="">
                <p class="text-item">红唇、针织铅笔裙、高跟鞋，有趣不沉闷的服装搭配。初次见到的李非，短短的头发，有着服装设计师该有的所有时尚元素，又有着自己独特的品味。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">我要“美美哒”“萌萌哒”“仙仙哒”</h2>
                <p class="text-item">这是李非的一位客人对自己的三套婚礼服装的要求。”她希望，自己的婚纱萌萌哒，两件礼服分别是仙仙哒、美美哒。“类似这种抽象的而主观的形容词，通常是客人在定制婚纱时用来表达对婚纱期望的形容词。<br /><br />李非要不断沟通、实验、确认来实现客人的对婚纱的所有想象。不同于可以直接购买的婚纱款式，定制的沟通成本很高，有时候甚至比制作成本还要高。<br /><br />”绘制草图已经是第二步了。在这之前，我需要先拆分细节。找出海量的婚纱图片让她挑选，确定哪些材质和搭配会让她觉得萌萌哒。统计整理之后，再根据客人的身材特点和客观需求，确认哪些细节保留，哪些细节舍弃。“李非笑着说，”这时候，其实我做的是统计工作，不是设计。“<br /><br />在为期2至3个月的定制过程中，婚纱会经历至少3次的试衣过程。版师会先根据身材的原始数据制作出一件白坯布样衣，而后再在客人身上进行细致的微调；当调整妥当便会使用最终选择的面料开始制作婚纱。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/5_02.jpg" alt="">
                    <p>”这件礼服，我整整缝了7个月。上班下班都在缝，全手工钉的。缝完近视眼度数更深了。“</p>
                </div>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/5_03.jpg" alt="">
                    <p>李非的另一款手绘设计图</p>
                </div>
                <p class="text-item"><strong style="text-align:center;display:block">每件礼服<br/>至少200-300小时缝制时间<br/>长达2-3个月定制过程<br/>3万以上的单笔客单价</strong><br />李非在每件婚纱上投入的精力超出想象。“定制婚纱设计师对于任何细小处都不可能马虎将就，因为这代表了他人幸福的重要一环。”<br /><br />因为这样，李非还为她的婚纱设计了特殊的工艺。藏在婚纱里的塑身衣就是其中一个隐藏的小秘密。由22根鱼骨组成的塑形衣，与普通婚纱塑形衣的4-5根鱼骨比起来，这个秘密武器可以更加有效起到支撑、聚拢、精简线条的作用，让穿上婚纱的人变得更有曲线。“中国人没有穿大礼服的传统，所以婚礼时除了能展现更美的自己之外，还要觉得安全才会更有自信。”除此以外，李非还自主研发了被她爱称为“小蚕豆”的胸垫，可以跟本身胸部产生很好的互动，修正外扩或下垂胸型，避免了硅胶型胸垫容易导致下坠的缺点。<br /><br />客人们曾这样说过：穿你的婚纱，胸都能托起咖啡杯啦。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/5_04.jpg" alt="">
                    <p>杂志照片：演员郭采洁着李非设计的“在云端”系列婚纱</p>
                </div>
            </div>
            <div class="news-items">
                <h2 class="pbn">30岁之前，除了生存，我要多看世界</h2>
                <p class="text-item">在《ELLE》和《INSTYLE》做时尚编辑的近十年间，李非实现了自己为20到30岁这十年设定的目标：除了生存，我要看世界。<br /><br />完成服装设计专业学习的李非想更接近自己希望的生活方式：一份深爱的工作和为生活加分的兴趣和机会。”那时候没有独立设计师的概念，在北京找工作就想着能去服装公司做设计。面试的过程中，对这样的工作有了更多了解，发现服装公司里的设计师的要求，对市场把握的能力大于设计能力，是对市场反馈的综合整理的能力而非创意。”<br /><br />“我是一个很喜欢动脑筋探索新事物的人，我知道这样的工作并不适合我。企业方要求的设计师特质跟我学设计的初衷大相径庭。”李非的一位朋友建议她尝试一下时尚杂志，那时候她才渐渐知道时尚编辑是做什么的。“我一直以为时尚编辑就是写东西的，后来才知道当时大多数时尚杂志的编辑都是学服装设计的。组织选题、做策划、想创意，不只是写文案……编辑这个岗位似乎为我打开了新视界。最新的时尚资讯，近距离采访顶尖设计大师、参观顶级大牌的高定手工作坊、触摸那些如同艺术品的大礼服，这些都为如今的定制工作积累了眼界和经验。”<br /><br />”30岁之前的经历给我奠定了一个非常好的基础，让我在30岁以后能够重新做一个职业规划和选择。以前工作的性质也会经常出差，参加很多发布会，我获得了很多出国的机会。我还蛮感谢自己当时的选择，编辑工作给了我大开眼界的机会。“</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">30岁之后，一切都是新的</h2>
                <p class="text-item">创业最初阶段，李非之前工作中结识的明星朋友们给予了她很大的支持。”在最开始创业的时候，都靠他们给我下订单来保证我的工作量。“经过一段时间的摸索，李非认为自己的方向更倾向于在大礼服定制上，对普通人来说，穿大礼服的机会就是婚纱。</p>
                <img class="p-tb" src="/assets/public/news/images/5_05.jpg" alt="">
                <p class="text-item">所谓大礼服，通常参加盛大而公开的场合才会穿着。在请柬上通常会以”正式“的穿衣指导出现。通常，这样的盛大活动上，各大品牌都会选择赞助一两个明星，或者赞助明星的婚礼。比如我们知道的美国版《VOGUE》主编Anna Wintour主办的Metball派对。<br /><br />“我的每一件衣服都是收费的，不赞助任何人。我认为婚礼是人生中最重要的仪式之一，每个人都应该选择自己梦想中的那件纱，明星也不例外。”说这话的时候，李非直直地看着我的眼睛。”她说我最大的标签就是真诚，不需要掩饰，我们真的不做赞助。”<br /><br />30岁之后，李非的工作室成立，到今年已经第6个年头。这期间，从一线明星到普通人，在梦想面前，所有的女孩都是应该是最漂亮的。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/5_06.jpg" alt="">
                    <p>Magic Fit策划组织了婚纱版四季跑，60位准新娘穿着自己设计纱裙在跑道上感受四季更迭。还帮助一名女伴成功向男朋友求婚。</p>
                </div>
                <p class="text-item">李非将缝制衣服的过程称为“个人的修行”。她穿着随意，缝制一件有4.5米长拖尾的白绸婚纱缝缀裙摆处的蕾丝装饰，这一刻，她有了点行为艺术的禅定味道，那一刻时空是静谧而虔诚的。</p>
                <img class="p-tb" src="/assets/public/news/images/5_07.jpg" alt="">
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
