<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>专注地理信息系统20年，他们开始做景区全域营销</h1>

                <p class="center-text p-tb ptn">他们让你在旅途中直播、艳遇、网购......</p>
                <img src="/assets/public/news/images/20161130/4_01.png" alt="">
                <p class="text-item">在消费升级的大背景下，越来越多的国人开始注重旅行的品质，旅行方式也从观光游逐渐向休闲度假游、从大团队向小团队、从团队游向自由行转变。<br/><br/>到了休闲度假游时代，人们开始主导自己的行程，整体的旅行节奏也慢了下来。人们会有意识地在有价值的、自己感兴趣的地方多停留一些时间，真正感受当地的人文风情。<br/><br/>休闲度假游时代的到来，对旅游目的地提出了不一样的要求。因为时间和导览能力的限制，导游的作用正在被智能导览系统取代。</p>
            </div>
            <div class="news-items">
                <h2>旅行目的地要顺应自助游和自驾游的趋势</h2>
                <p class="text-item ptn">1998年，恒坤智旅从地理信息系统开发、数据处理、工程测量、不动产测绘和计算机制图起家，并于2015年成立恒坤智旅集团公司。目前集团公司业务发展涵盖旅游目的地地理信息采集、地理信息大数据挖掘、大数据营销平台开发、旅游目的地全域动态营销系统搭建、优客恒坤旅游商学院五大核心体系。<br /><br />基于移动端的景区智能导览，以及在智能导览之上的社交、直播、电商功能，正在迅速冲击传统景区团队旅游“上车吃饭，下车购物”的模式。<br /><br />这个由恒坤智旅开发的拾景旅行智能导览平台，充分理解80后在旅行过程中的所有需求：</p>
                <img src="/assets/public/news/images/20161130/4_02.png" alt="">
                <p class="text-item"><strong>“雁域”功能</strong>，让你在景区里遇到和你一样闲庭信步，笑看花开花落的人。哦，原来你也在这里。<br /><strong>“直播”功能</strong>，让旅游达人和直播红人带你逛景区，告诉你这儿好吃，那儿好逛，住在景区边的这家客栈还不错。<br /><strong>“电商”功能</strong>，通过精准定位推送本地旅游产品，通过线上平台售卖，线下物流配送。快递和你一起到家中。<br /><br />大部分人认为恒坤智旅（拾景旅行）切了景区收入很大一块市场，很难与景区产生深度合作。恒坤智旅联合创始人杨勇认为：“旅行目的地已经意识到自助游和自驾游的上升趋势，拾景旅行在导览方式上的改良，一方面迎合了新兴旅游市场的旅行习惯，另一方面也是对景区服务的升级：不管是旅行场景还是消费应用场景，恒坤智旅都能在让游客获得更好体验的同时，将景区的触角在时间上延伸至行前行后，在渠道上覆盖线上线下。”</p>
            </div>
            <div class="news-items">
                <h2>全域动态营销，做旅游界的共荣共享</h2>
                <p class="text-item ptn">恒坤智旅（拾景旅行）是“全域动态营销”的首推者和倡导者。“<strong>我们想把自己做成旅游版的优客工场。”杨勇说，“我们把所有的景区，类比成优客工场的入驻企业。我们把旅游景区、旅游局当成企业用户来服务。作为共荣共享，我们会提供景区间、景区和供应商之间的对接。当一个景区，一个旅游局需要线上渠道做宣传，我们把N家景区结合到一起，同时往外投放，这就是我们流量的优化。</strong>我们还会实现景区与景区之间的互融共通。景区互融共通的可行性在于，各个景区之间的同质化通常不强，他们可以通过恒坤智旅的平台，把客流做互换。”</p>
                <img src="/assets/public/news/images/20161130/4_03.png" alt="">
                <p class="text-item">在消费渠道的升级上，恒坤智旅打破了旅游产品主要在同业媒体、OTA平台上传播的限制，开发多渠道融合。“比如优客工场开了30多个社区，每个社区都有几百上千的用户，这些用户是有很大的消费能力的。再比如我们跟微企易、拍哪儿这样的app合作，他们本身的用户过百万，我们把这种消费渠道、整合营销渠道做融合。”<br /><br />杨勇认为，像旅游这样资源密集型的行业，仅仅有C端是不够的。只有在考虑C端的同时，将政府和旅游景区同样作为服务对象，各方共赢，才是旅游业发展的保证。<br /><br />到目前为止，恒坤智旅已与位于河南、河北、山西、山东、内蒙古、新疆的全国50多个地级市达成景区智能导览合作关系。</p>
                <img src="/assets/public/news/images/20161130/4_04.png" alt="">
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
