<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>看一个产品经理如何玩转二手车新媒体？</h1>
                <p class="center-text">瓜子二手车的懂车与侃车。</p>
                <img src="/assets/public/news/images/20161130/5_01.png" alt="" class="p-tb">
                <p class="text-item">互联网+给二手车C2C市场注入了新的活力。即使是无车无房无牌照的三无北漂，你也一定在家里/公司里/地铁里，甚至公交站广告牌看见过二手车电商的广告。<br /><br />你一定好奇，身边的朋友，无论有钱没钱都没见谁买过二手车。怎么互联网就给了这些平台这么大的勇气，让电商平台们敢于在这篇线上处女地上，随随便便就挥洒7位数以上推广费用呢？</p>
                <img src="/assets/public/news/images/20161130/5_02.gif" alt="">
                <p class="text-item">首先，我们得看看为什么二手车在欧美等国如此流行，在中国大陆却乏善可陈？</p>
                <p class="center-text">（对车丝毫不懂的软妹，只能再次求助知乎大神，这里感谢上过知乎日报的路爻大神。）</p>
                <p class="text-item">原文千字以上，本着节约大家时间的态度，我来给大家简要介绍路大神提供的几点原因：<br /><br />1 ▷ 价格不透明。搜索引擎里随便一搜“二手车”，一定有负面新闻突突突地跑出来。没有权威评估体系，线下交易缺乏价格对比等弊端，让二手车买家望而却步。<br /><br />2 ▷ 车况不清晰。是否出过事故，车辆有没有改装，是原厂原件还是维修配件？二手车能改的地方太多了，不像美国二手车况可付费追溯详细信息，中国大陆的二手车一直保持着“车贩子就是判官”的老套销售。<br /><br />3 ▷ 缺乏具有公信力的第三方评估机构。有车的人都知道去4s店修车太贵，去个人维修店修车质量没准。在车辆维修上本来就没有太多公信力，要真把二手车送去维修点评估，估计无论是买家还是卖家，对评估结果都不认可。<br /><br />就是这些原因，或多或少给大众带来这样的印象：别轻易买二手车，除非你能接受这样的打击……</p>
                <img src="/assets/public/news/images/20161130/5_03.gif" alt="">
                <p class="text-item">除此之外，法律法规没有及时跟上，从制度上就没给二手车市场太多规范和保障。当大众普遍对二手车市场没信心时，二手车电商平台就是杀出市场困局的一次重要尝试了。<br /><br />其实不难看出，树立信任感，似乎成了二手车电商有效获得市场关注的重要一环。瓜子二手车的新媒体王师傅说：我们希望通过内容获得信任。<br /><br />现在，瓜子二手车服务号每周一发，影响力在二手车行业里已经遥遥领先，有时数据甚至超过一些汽车垂直自媒体。“瓜子挺懂车”系列视频单在腾讯视频的播放量就分分钟超过20万，总浏览量超过800万。很难想象，此系列视频从今年6月才开始运营，每月只播放2期。<br /><br /><a href="https://v.qq.com/x/page/o0331ikd6xk.html" style="display:block;text-align:center">先来个视频看看</a><br /><br />视频订阅号“侃车胡同儿”每天更新，由王师傅的团队一手打造，以短视频形式深入浅出地讲解二手车知识。除了王师傅之外，还有另外一位知识普及小能手瓜子皮儿。从今年8月开始运营的微信订阅号，10月底开放评论功能后就篇篇评论收录达上限，用户粘性可见一斑。</p>
                <p class="center-text">行了，废话不多说，赶紧上车<br />老司机要开车了</p>
                <img src="/assets/public/news/images/20161130/5_04.gif" alt="" class="p-t">
            </div>
            <div class="news-items">
                <h2>一个6年+产品经理的新媒体游戏</h2>
                <p class="text-item ptn">“一个游戏玩腻了，就换个游戏玩玩。”我问王师傅为什么转行时，他这么回答我的。王师傅是北京土著，说话透点风趣又夹着实在。</p>
                <div class="piclist-items m-tb">
                    <img src="/assets/public/news/images/20161130/5_05.png" alt="">
                    <p>王师傅</p>
                </div>
                <p class="text-item ptn">“我做新媒体，用的是产品经理的思路，简单来说就是找需求。”王师傅将AB测试的产品经理方法应用在新媒体上。从运营之初，王师傅就和自己的团队一起，对内容进行测试，并快速迭代。他举了一个例子：“今天我讲买车知识，明天我就讲用车知识。”假如用车这一套观众更受用，王师傅就会带着团队对用车进行更加细分的内容测试。同样的测试方法还会应用在图文的搭配、字体字形的选择。经过多维度的测试，几期之后，他们就比较清楚自己的用户想要什么样的内容，多篇文章之间该如何搭配。<br /><br />不断地测试中，王师傅对数字有了更深的理解。“有时候你不能单纯追求数字。如果只追求数字的话，可能带来内容上的千篇一律。”王师傅非常清楚，4篇车型推荐加1篇用车知识是受众最欣赏的组合方式，转化的效果也最好。但他并不希望拘泥于此，比如保持2篇车型推荐，然后三篇用车知识，或者加上一些新鲜的素材。<br /><br />这样的调研不只局限于文字，视频内容的产生同样通过王师傅的AB测试工作法。王师傅的团队真正做到了阅片儿无数，别误会，是车评片儿。隔一段时间，王师傅还要做一次逐帧的拉片，研究一下篇章布局和镜头转换。“有的片子，估摸着我比视频拍摄的编导组都熟。”<br /><br />调研和测试，是王师傅探索游戏规则的第一步。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/20161130/5_06.png" alt="">
                    <p>王师傅的团队</p>
                </div>
            </div>
            <div class="news-items">
                <h2>做内容要解决的问题，是让用户产生信任感</h2>
                <p class="text-item ptn">你一定看过孙红雷大哥为瓜子二手车拍摄的广告。一向以靠谱、好男人形象出现的孙红雷大哥为瓜子二手车代言，的确为这个平台吸引了不少注意力。</p>
                <img src="/assets/public/news/images/20161130/5_07.png" alt="">
                <p class="text-item">不过，孙红雷大哥的广告，也只是让坐地铁、公交、电梯的你知道了瓜子二手车。而信任瓜子二手车，是从关注和阅读了王师傅带给大家的内容开始的。<br /><br />关于这种信任感，王师傅做了这样的比喻：现在我在优客工场办公，假如我有一天我创业了，想租一办公室，我首先想到你们的公司来优客工场看一看。因为我没去别的办公环境下尝试过，但是我已经在你们这工作过了，我感觉不错。<br /><br />“不怕你不买，就怕你真的想买的时候想不到我们。”<br /><br />相较于广告，无论在视频成本还是推广费用上，王师傅团队的视频拍摄都是一项长期、稳定的高投入。但他们希望通过实实在在的内容，获得更多用户的信任，进而带动用户对瓜子二手车的信任。<br /><br />当然，在评估体系和保险保障上，瓜子二手车也有一套自己的理念。259项检测评估体系、14天可退、先行赔付制度，毫无疑问给堪称混乱的二手车市场一颗定心丸。但这些，王师傅从来不讲。“品牌和宣传不是我们要做的事情，我们只需要提供给用户想要的内容，让他们跟着我们爱车也懂车。”</p>
            </div>
            <div class="news-items">
                <h2>4位数高粘度粉丝，激活用户，王师傅并不急</h2>
                <p class="text-item ptn">不像许多键盘车神，王师傅团队里面的每个小伙伴都爱车、懂车、玩车。前两点可能可以通过不断培养和学习就能实现，但第三点真真需要天时地利人和（也是和键盘车神的本质区别）。<br /><br />也许爱车的人都知道乔治巴顿是稀有车种，但王师傅偏偏能带你看一看乔治巴顿厚重的车门。也许懂车的人都能说得出越野车的性能和特点，但瓜子皮就能找到一辆奥拓改装成的越野mini皮卡（看清楚，是四个圈奥迪的弟弟——奥拓）。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/20161130/5_08.png" alt="">
                    <p>奥拓越野车</p>
                </div>
                <p class="text-item">正是这样的特质，让瓜子二手车和侃车胡同儿冲破二手车市场缺乏信任感的限制，顺顺当当积攒出4位数的高粘度粉丝（看官定是海了去了）。<br /><br />现在，随便打开瓜子皮二手车服务号或侃车胡同的一条推送，就能看到大家评论文章的踊跃性。王师傅感谢大家的积极反馈，所以开开心心送上公司的周边和BD回来的资源。“不仅送给‘沙发评论’（文章发出后的第一个评论），还会送给内容优质的评论。”<br /><br />“某天在文末加了一个瓜子小秘书的二维码，分分钟加爆了。”王师傅竟然很发愁。”我们的美女编辑一晚上都在点‘接受’。之后我们都不敢放了。”现在，王师傅的团队运营者一个500人的粉丝群。群里有铁粉儿，王师傅、瓜子皮等小伙伴没空的时候，铁粉就会主动在群里答疑解惑。<br /><br />“我们没有刻意把群规则定得很死，毕竟一个群内理应产生更多亚文化的社群。现在群内活跃度很高，等着入群的人也很多。但我们没有建二群、三群，要保证社群的质量，所以基本上在保持群内活跃度的同时进行换血。”</p>
                <img src="/assets/public/news/images/20161130/5_09.png" alt="">
                <p class="center-text p-t">在这个极客范儿的社区里<br />有人用产品经理的思路玩转了新媒体<br />Make the world a better place</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
