<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>没错，我就是那个99年的极客创业老兵</h1>
                <p class="text-item">-假设现在有位00后向你讨教创业秘籍，你会怎么说？<br /><br />-好好上学。因为我从来没有问过任何人类似的问题。如果足够有信心，你肯定不会问，如果没有信心，那你干嘛要做这件事儿？一旦有人问我相关的事情，就说明他不适合创业，他还没有ready。所以我对这类人的态度都是你先好好上学。<br /><br /><em class="orange">王逸翛，1999年出生。两年前，这位精通Linux和电子电路的15岁极客少年和同伴一块基于Android系统深度优化开发了麒麟rom。2016年初，王逸翛开始打造企业文档协作与管理云平台——风暴云文档。8月，风暴云文档入驻Xplus炫嘉优客工场。</em></p>
                <img src="/assets/public/news/images/4_01.jpg" alt="" class="n-p">
            </div>
            <div class="news-items">
                <h2 class="pbn">“这是一个品牌与流量的入口”  少年极客的企业级应用软件思路</h2>
                <p class="text-item">用王逸翛的话说，风暴云团队目前开发的，是加上paper的dropbox。<br /><br />国内的企业文档管理市场一直很陈旧，无非网盘、U盘和通过NARS在内网共享三种解决方案。在王逸翛看来，目前的中国市场还没有一款很好的产品来平衡企业文档的下述三个功能：<br /><br />第一，多设备和多人间的共享和同步；<br />第二，文档本身的安全性和管理权限的控制；<br />第三，文档的工作流，包括审批、版本控制等。</strong></p>
                <img src="/assets/public/news/images/4_02.jpg" alt="" class="n-p">
                <p class="text-item">“没有人做这方面的综合的解决方案，这是我看到的中国比较陈旧的问题。”<br /><br />而风暴云将是这样一款企业文档工具：<br /><br />它有着优秀的用户体验，从整体的UI来看是非常轻量化且易用的工具，相比定制化开发，会简单易用得多。每个文档会以列表的方式列出并添加功能，包括个人文档和共享文档的区分、实时工作流、显示哪些人对文档中的哪些内容做了更改并可实现互动。除此之外，每个文档还可以有自己的版本控制，显示上一个更改完的文档和目前文档之间的差别，可实现在线编辑和协同。<br /><br />从2015年开始，2B企业级应用软件资本市场异常火热。包括纷享销客、销售易、今目标等一众企业级软件厂商受到各大VC的资本热捧，阿里重金打造的钉钉，也以后发制人之势席卷整个企业级SaaS市场，力图在这块价值洼地上打造另一个新“入口”。<br /><br />然而，SaaS工具的用户付费习惯底，决策时间长等问题，使得原本蓝图远志、规划清晰的SaaS企业级服务公司运营异常艰难，有的甚至熬不过第一年，就关门歇业。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/4_03.jpg" alt="">
                    <p>（图片来源：创业邦）</p>
                </div>
                <p class="text-item">对于风暴云的定位与盈利，王逸翛有自己的一套思路：<br /><br />“风暴云对我们公司来说是一个品牌入口。他会在业界发出一个声音：第一，我们和所有SaaS企业级服务是同一个赛道的产品；第二，我们就要解决文档相关的东西，和其他无关，这是最关键的两个声音。此外，风暴云会为我们沉淀一些用户，带来一些有益的数据。我不可能指望这样一个产品去盈利。”<br /><br /><strong>“坏的东西不能一棒子打死，好的东西就是他本人的功劳，不是群体的。” 不愿被贴标签的00前创业者宣言</strong><br /><br />2015年2月，王逸翛决定休学。之后他用了一年的时间，找人聊天学习。“初生牛犊，加入到一个新的市场和新的经济体系，总要学习、看一些东西，一旦入了这个门，之后就可以边学边做。这一年交了不少的学费，单就互联网创业这个环境来看，学了很多东西。”<br /><br />2016年初，王逸翛创办风暴云文档。<br /><br />“很多人会challenge我一个问题：你一个17岁的年轻人，为什么不做社交、To C的产品，而要选择这样一个领域。我会告诉他，我们作为一家做解决方案的公司，只要产品做得好，其他东西不用太担心。很多人觉得，你要做这类产品，就要把销售和市场连在一起，但实际上你不擅长的事情可以交给擅长的人来做。后面的销售相关的东西其实我都不太担心，因为有人帮我们铺路。”</p>
                <img src="/assets/public/news/images/4_04.jpg" alt="">
                <p class="text-item">一年时间里，王逸翛对自己的能力项也有了清晰定位：<br /><br />“第一，我不是一个很喜欢运营社交类产品的人，我也没有那么大本事把一个社交网站的流量带到几万的UV、PV。其次，我一直以来是做工具的，我一直以来是秉承解决问题的原则。我说话也好，做事也好，比较偏向于理性。我没有比较花哨的思想，还是做工具比较适合我。我刚开始想的是做google docs。”<br /><br />作为00前创业者，王逸翛几乎不评论90后创业。<br /><br />“我从来不去评价一个群体，这是没有意义的，除非这个群体有极端鲜明的共同特征。比如说，极端恐怖分子，这个是可以去评价一下的。但是对于一类正常人来说，你这样去评价没有任何意义。坏的东西不能一棒子打死，好的东西就是他本人的功劳，不是群体的。”</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">“加班是反人类的” 少年CEO的管理理念</h2>
                <p class="text-item">风暴云文档将于年底上线。王逸翛说，这个团队的开发速度很快，然而从来不加班。“我们不加班的原因不是我不喜欢工作，而是一旦你加班，就说明你的工作安排是不合理的，创始人思想不到位，没有人的工作状态是饱和的。所以你需要用加班来填补不足和空缺。<br /><br />“我最直接的一句话是，认为创业要加班是错的。因为你没有把工作时间合理安排好，所以会加班。但是不排除合理安排好了也要加班，这种公司就是反人类。所以其实我认可的事情是所有人很有工作激情，但不是靠加班这种形式表达出来的。应该是你在工作时间内完成更多的东西，去想哪些任务是有益的。”</p>
                <img src="/assets/public/news/images/4_05.jpg" alt="">
                <p class="text-item">王逸翛对于不加班的自信，来自以下三个方面：<br /><br />第一，风暴云文档的产品经理一定要会写代码。公司的产品经理可以和技术用代码来沟通，可以写一套伪代码出来，让技术照着这套代码写；<br />第二，风暴云的产品文档全部符合工程师思维，减少沟通。每一次的沟通，其实都是效率的降低。办公室里效率最高的东西一定都是机械化的，因为没有人说话，所有行为都自动完成。风暴云开会的时间很短，几乎不开，如果非开不可，那就攒到一定程度再开；<br />第三，给足公司里每一个人足够的话语权。产品经理在产品角度就是独裁。产品经理的需求一定有道理，除非想把公司毁了，才会提不合理的需求。如果不是这样，就听产品经理的。<br /><br />相比于其他00前创业者，王逸翛有更加少年老成、“解决问题”的公众形象。对于创始人用自己的形象为企业背书的问题，他的看法也颇为成熟：“公司创始人形象好这件事情是无可厚非的。但是如果完全不care产品怎么样，只靠公司创始人的PR来做这件事情，那就没有意义了。你可以讲故事，但故事必须讲得通，你得讲真故事。”</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
