<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>极客，代表未来</h1>
                <p class="text-item ptn">金隅国际专题推出的这段时间，古巴革命领袖菲德尔·卡斯特罗逝世。这个曾和切·格瓦拉、萨特、波伏娃、赫鲁晓夫、肯尼迪出现在同一历史事件中的人物，早已成为自由、斗争、革命浪漫主义的标签。</p>
                <div class="piclist-items m-tb">
                    <img src="/assets/public/news/images/20161130/6_01.png" alt="">
                    <p>“革命不是玫瑰花床，革命是未来与过去之间的斗争。” <br />
                    ——菲德尔·卡斯特罗</p>
                </div>
                <p class="center-text">—<br/>在格瓦拉和卡斯特罗的南美<br/>反独裁、国际共运和革命浪漫主义代表未来<br/>—<br/>18世纪的英国<br/>蒸汽机和火车代表未来<br/>—<br/>19世纪的全球<br/>电和汽车代表未来<br/>—<br/>20世纪的全球<br/>计算机、互联网和火箭代表未来<br/>—</p>
            </div>
            <div class="news-items">
                <h2>现在，极客，代表未来。</h2>
                <p class="text-item ptn">极客对世界的改变，不只Windows系统、Facebook、神舟飞船上的精密的控制系统。种种迹象表明，极客对世界的影响，早已超越科技，衍生到从国际政治到日常生活的各个方面。<br /><br />《人类简史》的作者尤瓦尔·赫拉利（Yuval Noah Harari）说：“<strong>自从蒸汽时代以来，政治的节奏没有发生太大变化，可是技术已经迎来了自己的第四次革命。技术革命的速度如今已经大大超越了政治进程。</strong>”<br /><br />多年前网络设计者做出的决定让今天的互联网成为了一个自由的地方，然而它同时无视国界的存在，改变就业市场，对人们的隐私和全球安全也构成了巨大风险。各国政府和民间组织就重新调整互联网结构的问题进行了激烈的争论，但政府的速度赶不上技术的飞速发展。<br /><br />在未来的几十年中，我们可能会看到更多类似于互联网这样的革命，技术会不动声色地对政治和我们的生活施加影响。人工智能和生物技术不仅仅可以革新各国的社会和经济，而且可以“革新”我们的身体和心灵。<br /><br />未来已来。上一周，我们看到的优客工场金域国际社区的入驻企业，正在掀起一场<strong>极客革命</strong>。</p>
                <img src="/assets/public/news/images/20161130/6_02.png" alt="" class="p-t">
            </div>
            <div class="news-items">
                <h2>《纯技术男创业，他让“技术”不再成为互联网创业的门槛》</h2>
                <p class="center-text" style="color:#333">纯技术男刘猷韬和他的联创工场<br />通过输出一整套的技术体系和技术架构<br />帮助想法成熟的创业团队<br />更快更靠谱的做出第一版产品<br />源自硅谷的开源共享理念<br />在他们身上得到技术共享的升华<br />希望他们不只是中国版的Y Combinator<br />引发对<strong>生产方式</strong>和<strong>资本运作方式</strong>的一次革命</p>
                <img src="/assets/public/news/images/20161130/6_03.png" alt="" class="p-t">
            </div>
            <div class="news-items">
                <h2>《想成为极客改变世界，得有个领路人才行》</h2>
                <p class="center-text" style="color:#333">中国软件专业人才培养工程（CSTP）<br />一个面向准web前端工程师的实践培训工程<br />背靠中国软件行业协会<br />软件教育培训委员会<br />科技部火炬中心<br />中国国际人才交流基金会<br />将刚结束高等教育还未进入行业的工程师小白<br />变成大牛<br />他们可能推动的<br />是<strong>软件教育的一场革命</strong></p>
                <img src="/assets/public/news/images/20161130/6_04.png" alt="" class="p-t">
            </div>
            <div class="news-items">
                <h2>《专注地理信息系统20年，他们开始做景区全域营销》</h2>
                <p class="center-text" style="color:#333">恒坤智旅<br />从地理信息系统开发<br />到景区全域营销<br />一边迎合自由行玩家随时导览、社交与网购的需求<br />一边以旅游局和景区为服务对象<br />帮助B端进行产业与服务升级<br />他们在做的<br />是<strong>旅游行业的革命</strong></p>
                <img src="/assets/public/news/images/20161130/6_05.png" alt="" class="p-t">
            </div>
            <div class="news-items">
                <h2>《看一个产品经理如何玩转二手车新媒体》</h2>
                <p class="center-text" style="color:#333">瓜子二手车<br />用透明的互联网为二手车市场背书<br />产品经理背景的新媒体运营<br />将AB测试的方法运用到新媒体<br />及时测试发现问题快速迭代<br />帮助瓜子二手车积累用户<br />获取信任<br />前产品经理王师傅掀起的<br />是一场<strong>跨界的革命</strong></p>
                <img src="/assets/public/news/images/20161130/6_06.png" alt="" class="p-tb">
                <p class="center-text" style="color:#333">优客工场金域国际社区<br />一个引领革命的社区<br />用技术革命<br />带动生活、商业与社会的变革<br />他们的最终目标<br />是“科技让世界更美好”<br />（Make the World a Better Place）<br /><br />登陆优客工场APP<br />或拨打电话<br /><a href="tel:400-1188-891" style="display:block;text-align:center;text-decoration: underline;color: #379be9;">400-1188-891</a><br /><br />和我们一起改变世界</p>
                <img src="/assets/public/news/images/20161130/1_04.gif" alt="" class="p-t">
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/01.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">文创范er· 五部电影里的炫嘉Xplus维拓社区</p>
                                    <p class="pictext-desc">在广袤的朝阳区大草原上，一个可能是北京最文创范er的社区横空出世</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/02.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</p>
                                    <p class="pictext-desc">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/03.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">他是张国荣版《倩女幽魂》制片，告别香港电影黄金时代，又经历怎样的人生路</p>
                                    <p class="pictext-desc">对于出生在七十至九十年代大部分人来说，多少都有着一份港影情节</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/04.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">没错，我就是那个99年的极客创业老兵</p>
                                    <p class="pictext-desc">假设现在有位00后向你讨教创业秘籍，你会怎么说？</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/05.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">做婚纱手工定制设计师，我编织了无数少女的梦</p>
                                    <p class="pictext-desc">大多数女孩对婚礼都有一个特别大的梦，憧憬着在婚礼那天穿上婚纱成为最美的自己</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="/assets/public/news/images/06.jpg"></span></dt>
                                <dd>
                                    <p class="pictext-title">躲在音乐背后的人 ，录音师王路遥</p>
                                    <p class="pictext-desc">音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
