<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯列表专题页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
    <style>
    #footer{display: none;}
    </style>
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <div style="display:none;">
        <img src="/assets/public/news/images/500500.jpg" alt="">
    </div>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- main -->
        <main id="main" style="padding-left:0;padding-right:0;padding-bottom:0">
            @import "topbar.tpl"
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg1.jpg" alt="">
                    <div class="pop-text" style="top:43%;left:15%;">
                        <h2>五部电影里的</h2>
                        <h3>炫嘉Xplus维拓社区</h3>
                    </div>
                    <p style="bottom:8%;left:15%;">在广袤的朝阳区大草原上<br />2016年5月<br />一个可能是北京最文创范er的社区横空出世</p>
                </a>
            </div>
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg2.jpg" alt="">
                    <div class="pop-text" style="top:52%;left:20%;">
                        <h2>她说：</h2>
                        <h3>我的职业就是创业者</h3>
                    </div>
                    <p style="bottom:10%;left:20%;">和舒阳约在炫嘉中心·优客工场<br />下午似乎是她特别忙碌的时间<br />下午2点<br />舒阳已经去过距离炫嘉中心40公里的大厂文创中心<br />还从三里屯往返了一回<br />这是她非常普通的一天</p>
                </a>
            </div>
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg3.jpg" alt="">
                    <div class="pop-text" style="top:41%;left:15%;">
                        <h2>告别香港电影黄金时代</h2>
                        <h3>又经历怎样的人生路</h3>
                    </div>
                    <p style="bottom:8%;left:15%;">对于出生在七十至九十年代大部分人来说<br />多少都有着一份港影情节<br />港片伴随了一代人的成长<br />还有难得一见的录像馆...勾起了恍惚的童年记忆</p>
                </a>
            </div>
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg4.jpg" alt="">
                    <div class="pop-text" style="top:55%;left:20%;">
                        <h2>没错</h2>
                        <h3 style="font-size:0.38rem">我就是99年的极客创业老兵</h3>
                    </div>
                    <p style="bottom:13%;left:20%;">如果足够有信心<br />你肯定不会问<br />如果没有信心<br />那你干嘛要做这件事儿</p>
                </a>
            </div>
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg5.jpg" alt="">
                    <div class="pop-text" style="top:42%;left:15%;">
                        <h2>婚纱手工定制</h2>
                        <h3>我编织了无数少女的梦</h3>
                    </div>
                    <p style="bottom:10%;left:15%;">大多数女孩对婚礼都有一个特别大的梦<br />憧憬着在婚礼那天穿上婚纱成为最美的自己<br />这个梦可能从很小就开始了</p>
                </a>
            </div>
            <div  class="news-special-item">
                <a href="javascript:;">
                    <img src="/assets/public/news/images/list-bg6.jpg" alt="">
                    <div class="pop-text" style="top:56%;left:20%;">
                        <h2>音乐背后的人</h2>
                        <h3>录音师王路遥</h3>
                    </div>
                    <p style="bottom:15%;left:20%;">音乐制作人其实相当于一个电影的导演<br />他监督了整首歌的品质<br />还有整首歌的基调</p>
                </a>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
