<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯列表专题页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
    <style>
    #footer{display: none;}
    </style>
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <div style="display:none;">
        <img src="/assets/public/news/images/500500.jpg" alt="">
    </div>
    <!-- wrapper -->
    <div class="wrapper">
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- main -->
        <main id="main" style="padding-left:0;padding-right:0;padding-bottom:0">
            <div class="special-bannner"><img src="/assets/public/news/images/20161130/list-banner.jpg" alt=""></div>
            <ul class="special-lists">
                <li><a href="javascript:;">
                    <p class="single-text">傲娇的互联网人想改变世界</p>
                    <div class="multi-line-text">
                        <h3>于是他们找了一个硅谷范儿的地方一起搞创业</h3>
                        <p>在让世界成为一个“better place”之前，得先有一个属于自己的“better place”。在过去的十年间，环顾四周，似乎没什么不被科技和互联网所影响。从美国硅谷的传奇，再到BAT、中关村的疯狂，互联网行业无疑成为了最容易改变世界的行业。 </p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
                <li><a href="javascript:;">
                    <img src="/assets/public/news/images/20161130/list-image1.jpg" alt="">
                    <div class="multi-line-text">
                        <h3>要说距离改变世界最近的职业，还得是程序员。</h3>
                        <p>经历了许多嘲笑，看过了几多谢邀，你才明白，最靠谱的做法还是先找一个外包，把早期demo… </p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
                <li><a href="javascript:;">
                    <img src="/assets/public/news/images/20161130/list-image2.jpg" alt="">
                    <div class="multi-line-text">
                        <h3>HTML、CSS、php…字还看不懂就想改变世界？</h3>
                        <p>优客工场金域国际社区，一个充满极客感的社区里，有一群人，他们带领一批又一批的准极客们进入web前端工程师行业… </p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
                <li><a href="javascript:;">
                    <img src="/assets/public/news/images/20161130/list-image3.jpg" alt="">
                    <div class="multi-line-text">
                        <h3>他们让你在旅途中直播、艳遇、网购......</h3>
                        <p>在消费升级的大背景下，越来越多的国人开始注重旅行的品质，旅行方式也从观光游逐渐向休闲度假… </p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
                <li><a href="javascript:;">
                    <img src="/assets/public/news/images/20161130/list-image4.jpg" alt="">
                    <div class="multi-line-text">
                        <h3>瓜子二手车的懂车与侃车。</h3>
                        <p>你一定好奇，身边的朋友，无论有钱没钱都没见谁买过二手车。怎么互联网就给了这些平台这么大的勇气，让电商平台们敢于在这篇线上… </p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
                <li><a href="javascript:;">
                    <p class="single-text">极客，代表未来</p>
                    <div class="multi-line-text">
                        <h3>极客对世界的影响，早已超越科技。</h3>
                        <p>极客对世界的改变，不只Windows系统、Facebook、神舟飞船上的精密的控制系统。种种迹象表明，极客对世界的影响，早已超越科技，衍生到从国际政治到日常生活的各个方面。</p>
                        <span>阅读全文</span>
                    </div>
                </a></li>
            </ul>

            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
