<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>她是炫嘉一姐郑舒阳，她说：我的职业就是创业者</h1>
                <img class="p-tb" src="/assets/public/news/images/2_01.jpg" alt="">
                <p class="text-item">和舒阳约在炫嘉中心·优客工场，下午似乎是她特别忙碌的时间。下午2点，舒阳已经去过距离炫嘉中心·优客工场40公里的大厂文创中心，还从三里屯往返了一回。她说，这是她非常普通的一天。<br /><br />跟着舒阳上楼走去她办公室的路上，她至少同5个人打了招呼，还与其中2位聊了马上要开展的工作，熟络地像住在一个楼道里的邻居。等待她的时候，遇到一位即将入驻炫嘉中心的公司代表：已经上市的他们，计划在炫嘉中心发展自己的北京业务。<br /><br />此时，舒阳正在社区的阳光中庭里和一位投资机构代表聊着一家入驻企业的股权结构。Xplus炫嘉的录音棚里飘出歌声，大抵是入驻企业MSSVOCAL在进行音乐教授课程。<br /><br />郑舒阳创建了Xplus炫嘉国际，北京炫嘉中心·优客工场是炫嘉的第一个落地项目，由优客工场与炫嘉中心合作推进。舒阳说：“庆庆哥给了我很大的支持，让炫嘉真正落地发芽。”炫嘉，似乎缩影了中国文创领域的联合办公新生态。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">一切源于使命感</h2>
                <p class="text-item">舒阳姓郑，一个说话透着北京味儿的江南姑娘，在衢州出生，在军营长大，在北京一混就是十几年。<br /><br />现在的舒阳，已经在文创圈摸爬滚打了十五年。从最初决定从音乐老师这个角色跳出来，辞掉稳定的工作离开家乡来到北京，舒阳就一直低着头往前走，从没想过回头。在央视做编导，在电台组织策划大型活动，出任金牌经纪人签约韩国巨星Rain《手记》中国区宣传，点评王菲演唱会舞美……用舒阳自己的话说，“文创的各个领域我基本都走过，但发现每个职业很难做得非常专业、非常大，所以我想也许我可以用自己的经验帮助一些人。”<br /><br />最初想到去运营一个物理空间时，舒阳也不知道她需要做什么。毕竟，文创行业和房地产行业隔着几座山。“联合办公空间”，在2015年还是一个新鲜得不能再新鲜的名词。<br /><br />“做这件事的初衷非常单纯”，就是从身边朋友的需求出发，“他们创业、运营业务需要什么，我就在空间里面添加哪些服务和元素。不懂投资，我就去学习。需要资源，我就去对接。我把自己当成大家长，每天招呼着所有人做所有事情。”<strong>舒阳把自己比作变形金刚，需要的时候她总有一个工具能拿出来用。</strong><br /><br />“这一切来源于使命感”，一直捧着冰咖啡的舒阳，说出这句话的时候，把手从杯子上拿下来，放在了桌子上。<br /><br />2016年1月17日，Xplus炫嘉国际与优客工场签订合作协议，共同打造北京文创联合办公空间。<br /><br />2016年5月21日，Xplus炫嘉国际的第一个落地社区，北京Xpus炫嘉中心·优客工场正式开幕。<br /><br />2016年6月28日，社区正式开幕后的地38天，与中科利信董事长黄伟先生的两次见面后，Xplus炫嘉国际获得天使轮500万，估值8000万。<br /><br />最近，Xplus炫嘉国际正在与国有机构洽谈战略投资，投后价值约2亿。</p>
                <img src="/assets/public/news/images/2_02.jpg" alt="" class="n-p">
                <p class="text-item">不到半年时间，舒阳已经带着炫嘉中心，通过与优客工场、苏宁集团、阳光100置业集团、华夏幸福的战略合作将文创领域的联合办公空间、中央文创区、青年创业联盟及城市会客厅项目拓展到了大厂、南京、杭州、宜兴、长沙，成都等多个城市。期间，炫嘉中心也正式更名为炫嘉国际。<br /><br />“跑动中调整”是舒阳给自己这将近一年创业的简单概括。当然，调整的不止是公司模式，还有她自己。<br /><br />要知道，一个月之前，她还不能乘坐高铁和飞机出行。一纸裁决将她列入了旅客黑名单。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">用瘦瘦的肩膀担起责任</h2>
                <p class="text-item">舒阳在美国呆了两年多。2015年初，回国的飞机落地之后，“我才知道，我已经被限制出行了。”<br /><br />2010年舒阳为早先创业公司做担保采购设备，后来公司破产清算了，舒阳作为担保人承担了无限连带担保责任，也因此背上了100多万的债务。回国后，这100多万就成了限制舒阳出行的绳索。说起这件事的时候，舒阳笑着：“我很多朋友都说我倒霉，我说没事儿，只要活着就有机会。”<br /><br />2016年7月，回国一年半的她终于靠自己的努力还完了欠款。”我当时高兴得不得了，特别想发个朋友圈说：I can FLY!“</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/2_03.jpg" alt="">
                    <p>8月飞去无锡谈合作时<br />舒阳还是发了这样一张照片</p>
                </div>
                <p class="text-item">可是，这并不是舒阳还过的最大一笔债务，几年前，舒阳还背过一笔更大的债务。说起那段经历，舒阳有些落寞。”我常对社区的伙伴们说，找合伙人，至关重要。“当年，创业公司在创业期间遇到各种各样的问题，问题出现时，很多人的选择却是拎包走人。那时候的舒阳只能自己面对，一人撑起所有债务。那一次债务的金额近千万。“那些年我一直都在还债、做活动还债、再做活动再还债……”<br /><br />想帮舒阳的人很多，舒阳却坚持自己挣钱还债。“我觉得，不管怎样，你自己的债务就要自己还。” 舒阳说，“我希望我女儿能知道，选择了，就要有担当。”<br /><br />最好的时候，舒阳在北京拥有过4套房产，其中2套就在二环边上。“现在，我什么都没有了。”她呵呵一笑。<br /><br />“我妈问我，你这从北京二环一下干到五环外，房子、车子都折腾没了。你怎么还能这么乐呵？”舒阳说着乐起来：<br /><br />我告诉她：‘我们是一群苦逼的人在做一件牛逼的事儿。’<br /><br />舒阳的担当和乐观就像磁场，吸引了多家文创企业聚集到优客工场北京炫嘉中心社区。招商已经不是炫嘉最需要担心的问题。舒阳说：“文创对接的是思想和灵魂，咱们能不能合作主要取决于咱俩灵魂能不能对话。”<br /><br />神经生物学女博士后杨国英创立了MSSVOCAL（加链接），教授“像说话一样”的唱歌之道。他们被舒阳的一句话吸引：“我想以音乐的名义改变世界，我有这么大的心但是我实现不了。”</p>
                <img src="/assets/public/news/images/2_04.jpg" alt="" class="n-p">
                <p class="text-item">当然，炫嘉一定不是只和创业者聊聊天。文创项目难量化，炫嘉就建立一个不断完善的自有量化体系，作为未来评估项目、判断项目的指南针。“<strong>把作品产品化、把产品市场化，让市场化的产品实现资本化”是炫嘉为入驻企业加速的逻辑</strong>。而这些，一般的文创企业单打武斗很难较快实现。借助优客工场的加速功能，舒阳打造了一个文创行业的加速器。<br /><br />上市融资都不是舒阳最大的诉求，“<strong>我觉得我是帮大家实现梦想的人，我更像一个造梦者。</strong>”</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">活就要活得淋漓尽致</h2>
                <p class="text-item">“我爸说：‘你的人生也是没sei了！’”舒阳的父亲说这话时，舒阳正在美国的公路上开着车，带着两位老人去圣地亚哥旅行。<br /><br />从部队出来的父亲从小对舒阳的管教就很严厉。从小学三年级的暑假开始，舒阳就被“下放”到农村插秧。五年级开始，舒阳的寒暑假就负责起家里的饭菜。为了能省下每天2块钱的菜钱，舒阳种了葱、蒜来节省开支。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/2_05.jpg" alt="">
                    <p>舒阳家的家常菜</p>
                </div>
                <p class="text-item">打小爱唱歌的舒阳自然而然地学习了音乐专业，通过兼职攒出了大学的学费。“学艺术的费用很高，我得想办法自己挣。我还挣钱给自己装备了钢琴、空调和摩托车。”只是，自己在老家打拼出来的舒适生活对舒阳的吸引力逐渐降低。一次偶然的旅游机会把舒阳带到了北京。<br /><br />”路过天安门的时候我想，这地方太好了，我×，我得来！”<br /><br />2001年初刚来北京的舒阳没有房子，就每晚在研究生同学的寝室里借宿。找到的编导工作其实是电话销售，舒阳就每天打200多个电话，第一个月就把每月底薪300元的工作做到6400元。2001年底，舒阳就服了首付买了一有个小小的家。而年初来北京时，舒阳的手里只有哥哥赠送的一张来北京的单程火车票。<br /><br />射手座的舒阳天生爱折腾，刚来北京的时候就想着：有一天，我能有一辆自行车，在长安街上自在骑行。生活逐渐稳定下来，舒阳又开始学英语，每天坐着公交车听复读机，新概念第二册翻来覆去又读又背还默写。当时的同事都不理解，“你来北京已经很不错了，你还想干嘛呀？”舒阳笑着说起来，“我当时想，我要去美国。”<br /><br />舒阳的路是她一点一点闯出来的。2003年初舒阳开始在北京人民广播电台策划中心工作，从战战兢兢地做文案PPT，到独立承载一个数百万项目的文案撰写，舒阳当年的拼搏劲儿还留着。舒阳还是获得策划中心连续三年最佳年度项目负责人和最佳创意奖，到现在，这个纪录都还没被打破。<br /><br />“我不喜欢没有挑战的事儿，越难我越有干劲儿。”舒阳说，X是未知，plus是＋；Xplus炫嘉要做的，就是一件“世界之大，无限可能”的事。<br /><br />在炫嘉社区入驻企业ZIZI纹身的创始人张弛（加链接）的设计处理下，舒阳将Xplus的Logo纹在了身上。</p>
                <img src="/assets/public/news/images/2_06.jpg" alt="" class="n-p">
                <p class="text-item">曾有朋友这样评价舒阳：<br /><br /“碰上文化人创业，就是不按常理出牌，有谁狠心把公司logo纹在身上？我要是投资人冲着劲儿就得投个千八百万的。调侃之余更多的是敬意，不给自己留退路的人还能不成事吗？致敬炫嘉一姐郑舒阳。“<br /><br />她说，她不怕输，因为她从没想过输。<br /><br />她还把自己的职业定义成创业者。<br /><br />“我觉得我就是为创业活着。”</p>
                <p class="center-text center-text-line">北京炫嘉中心·优客工场<br /><br />北京朝阳区道家村壹号1号楼<br /><br />文 / Nica<br /><br />图 / 舒阳</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
