<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/news/news.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <div class="news-items">
                <h1>躲在音乐背后的人 ，录音师王路遥</h1>
                <p class="center-text">简述：“技术始终服务于感性”，这也许适用于任何行业。</p>
                <img class="p-tb" src="/assets/public/news/images/6_01.jpg" alt="">
                <p class="text-item"><em class="orange">王路遥，录音师、混音师、音乐制作人。<br />师从北京著名录音师印永信、台湾首席制作人涂惠源；<br />7岁起开始学习钢琴，18岁接触MIDI与录音，多年来一直从事专业唱片、晚会的制作、录音与混音工作，并与大陆、港台多位音乐制作人有着密切的合作关系曾合作过的歌手、艺人：<br />曹格、汪峰、老狼、关喆、胡彦斌、孙伯伦，、李易峰、大鹏、沙宝亮、金海心、凤凰传奇、廖昌永、吕薇、王宏伟、杨洪基、孙楠、赵薇、爱戴、景岗山、金沙、许嵩、小沈阳等。 </em></p>
                <img class="p-tb" src="/assets/public/news/images/6_02.jpg" alt="">
                <p class="text-item"><strong>工作最典型的一天，在北京过美国时差</strong><br /><br />音乐制作人比较宅，而做技术的工作，在这个行业也是比较辛苦的，就像我起床在中午11点到1点，起床后到公司，如果有录音工作，就开始录音。然后帮助一些歌手来调教唱，从录音上做一些基础的工作。接下来的就是后期，类似于影视的剪辑、调色，就是混音、修音，把录到的素材剪辑、进行拼接，做一些后期的处理，之后才能达到大家现在听到的歌。<br /><br />一首歌会做很长的时间，有时候五六个小时，也可能两三天。下班时间一般都是在晚上12点以后。我们工作性质就是下午开始，因为早上起床，歌手的状态是不开嗓子的，所以录音都会放在下午或者晚上，有些歌手也习惯性很晚，10点以后再开录，我们没办法，想规律也规律不了。<br /><br />半夜十二点、一点到家，脑子还没有从工作的状态抽离出来，如果那时候睡觉，一闭上眼睛，脑子里全是旋律，睡不着。所以到家还要做一点别的事情，看看电视剧，打打游戏，放松放松脑子，然后睡觉就凌晨四五点了。<br /><br /><strong>一首歌从创作到制作完成，要经历多少步骤?录音师又扮演了怎样的角色？</strong><br /><br />音乐制作人其实相当于一个电影的导演，他监督了整首歌的品质，还有整首歌的基调。<br /><br />比方说，我想把这首歌做成一个Jazz、R&B、做成funk、朋克，或者其他各种各类的音乐风格。首先，要根据这个歌的旋律和词，来定一个标准。其实就是导演想把这个片子拍成一个古典剧、还是喜剧，或者一个悲情剧。<br /><br />之后，作为制作人，会找合适这种风格的编曲。一首歌旋律拿到了之后，你的音乐从哪来？就是是找编曲。有的制作人自己就可以编，那我自己就搞定。如果制作人没有那么多的空余的时间去做这项工作，他会找直接的编曲来，然后根据歌手的状态来定调，这是前期的工作。定完调之后，编曲出来，歌手试唱，最终才进到录音棚这个环节。</p>
                <img class="p-tb" src="/assets/public/news/images/6_03.jpg" alt="">
                <p class="text-item">在录音棚这操作的不一定就是录音师，可能是录音助理，一般我就不会再亲自上手做基础的东西，会交给录音助理去做。歌手唱成什么样，需要制作人来把控。比如一个旋律，这里觉得不太舒服，我们需要调整一下，要重新唱。唱的好的歌手，我们一段一段录，遇到（唱功）不好的，那可能就是一句一句录，需要我们一个字一个字的拼对（音准），唱的越好，就越省心，但唱的越好，我们对他的要求也越高，所以该有的工作也省不了。每一段，按照各种不同的情绪，录个五条、六条，最终我们再来剪辑、拼成一个完整的音乐。<br /><br /><em class="orange"><a href="http://v.qq.com/x/cover/qgeavdytsrk16oq.html?vid=o0011rygkd2">一个视频告诉你，什么叫神一般的录音师</a></em><br />所以录音师，确实可以把唱的不准的地方，把它修得很漂亮、很好听，这就是为什么电视剧的演员本身不会唱歌，但是大家听到的还不错，对吧？那可能很大部都是后期做了很重要的工作。<br />就像一个声音的PS一样，音不准，就把它修得很标准，音色不好听，可以想办法把它做的好听。<br /><br />但技术是服务于你的感性，首先要明白这一点，就像美术、影视一样，和音乐一样，都是没有一个固化的标准，那你拿了一首歌，你说怎么叫好听？每个人对好听的概念，理解是不一样的。所以考一个录音师证，上七八天课，也只是了解这个行业是干什么的，知道怎么操作，但是做得好与做不好，另说。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">北京奥运会</h2>
                <p class="text-item">08年北京奥运会，我们在西三环有一个录音棚，也是奥组委直接指定的录音棚，所有50%的（录音）工作在那里完成。当时的强度是非常大的，当时我们做的是闭幕式，卞留念老师是音乐总监。工作很密集、大强度，比如今天我们要录弦乐队，40多人的乐队，大提小提，带着乐器进棚，录音师往那一坐，一天就不动了。我们前前后后大概在棚里待了20多天，将近一个月的时间，每天录完之后，还要混音，而且奥运会要求全部都是5.1（声道）。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">录音师的职业病</h2>
                <p class="text-item">没有一个腰好的，这是肯定的。前两年，我一个小学弟，就是长期做了录音，后来就是整个脊椎就废了，然后大休了3个月。<br /><br />听歌的时候，一般的人去听歌，就是歌词旋律，好不好听。但是作为作为我们来说，就听他的制作上精良不精良，哪里可以提高，哪里是值得我们学习，就跟魔术师看别的魔术一样。其实我们更注重的是作品本身，音乐制作，基本上就是词、曲、编、录、混这几道工序，最后才是唱。<br /><br /><strong>- 你合作过那么多歌手，印象最深的是哪一位？</strong><br /><br />这个就比较有意思了，因为我们合作的歌手太多了，包括一些网络歌手很有意思，比如六哲，说名字你们可能陌生，就是《错错错》那首歌的演唱者，后来被洗剪吹（越南HKT组合）翻唱，唱完之后更火了。<br /><br />我们会看到这个歌手，一点点成长起来。关喆也是关系很好的一位歌手，然后庄心妍，《一万个舍不得》等一些列歌都是我做的。</p>
                <img class="p-tb" src="/assets/public/news/images/6_04.jpg" alt="">
                <p class="text-item"><strong>-师从台湾金牌曲作者和音乐制作人涂惠源是您的老师，他给你带来哪些影响？</strong><br /><br /><em class="orange">涂惠源，台湾金牌曲作者和音乐制作人。<br />曾为张惠妹、齐秦、齐豫创作过《听海》、《剪爱》、《往事随风》、《飞鸟与鱼》等脍炙人口的歌曲。</em><br />他（涂惠源）带给我的，是一些良好的制作概念。还有对音乐品质的一个把控，他做了那么多年的作品，那么多好的作品，其实他对音乐的审美，我们会受到影响。对于港台流行音乐，对于中国流行音乐，他的风格的把握、品质的把握，还有那个各个方面都会造成影响。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">互联网时代，录音棚的被迫转型</h2>
                <p class="text-item">像国内的录音棚，在中国起步还是比较晚的。<br /><br />90年代初的时候，大陆没有像样的棚，包括90年代末，都没有，大家国内做的最好的唱片，都是香港做、台湾做的。现在台湾那边现在比较有名的录音棚也没剩几个，因为市场市场需求越来越小。<br /><br />录音的设备的变化，比较早的8轨录音机，后来变成硬盘录音机，最后到了电脑。电脑录音，给这个市场带来最大的冲击是什么？制作成本降低、门槛降低，也就是说我自己在家买一台电脑，我就可以做了。门槛降低，对我们这个行业的冲击就更大了，分流了很多，以前录一首歌费用很高，现在录音加编曲，500块钱都有人敢做。词曲编混都包，5000块钱搞定。<br /><br />这种冲击性，就势必逼着我们，只能做最好的，我们不管普通消费群体，只能往再往上走，就做到这个金字塔尖上，设备、人员、技术各个方面都做到最好，在这个行业里，拔尖儿的你才能生存下去，（对大部分人）其实是很难的。<br /><br />最近付费数字音乐兴起，受益最大的其实是版权运营方，对于我们承制公司来说，收益不是很大，因为国内的版权现在不健全。在国外，词曲编是有版税收的，就是录音混音，是有版税可以收的。国内没有，在国外正常的来说，词曲（版税）比例占25%，版权运营公司占25%，歌手占25%，混音25%，但是国内编曲混音都没有版权费拿，就一次性，所以说特别不合理。</p>
            </div>
            <div class="news-items">
                <h2 class="pbn">这是个传统行业，技术和人才是瓶颈</h2>
                <p class="text-item">现在是自己的工作室，叫2496。<br /><br />因为最早（自己）没有公司的概念，就我们这样做技术的，转到公司运营上面，可能就会牵扯到很多，跟本身职业无关的这个东西，比方我想把公司做大，那BP怎么做、公司运营方向上怎么把握、融资又怎么去弄......其实我们录音棚，如果想把它量化生产，设备装修都是可copy的，但是技术、人才，这一方面是无法copy的，这个是我们的瓶颈。</p>
                <img class="p-tb" src="/assets/public/news/images/6_05.jpg" alt="">
                <div class="piclist-items">
                    <img src="/assets/public/news/images/6_06.jpg" alt="">
                    <p>2496录音棚，2496是说指音频的24比特96kHz采样频率</p>
                </div>
                <p class="text-item">这是一个传统行业，技术需要你大量的精力去学习、大量的时间去积攒经验。培养一个人也是需要花很多功夫和时间，还有精力。如果说，这个公司在考虑想转型的话，唯一可做的，那可能是转变成一个科技公司，音乐科技类，做一些音乐上的延伸品，可能是软件或者APP，但跟这个行业关系就不大了。<br /><br />最早我给千千静听APP做了一些技术上的支持，包括他们的EQ均衡器和一些预制参数，后来他没保持住（用户量），因为它只是一个客户端播放器，没有内容，死得快。不提供内容，就没有客户粘性，就生存不下去。所以比较看好网易云音乐，我们跟网易也有一些合作，下一步网易马上要针对他们的版权，马上成立一个自己的公司，专门做音乐版权。<br /><br /><strong>- 觉得这个地方（Xplus炫嘉 · 优客工场）怎么样？</strong><br /><br />一般我下午到，但是所有所有的公司休息，我是没休的，一周7天，我至少6天在这。（感觉这儿）还挺好的，给我们提供了不错的物理空间，我觉得这个事情对于我们来说挺关键的，搭录音棚，对硬件物理空间还是有要求的，比方说它的层高、面积。<br /><br />有一些有趣的邻居会经常交流，其实联合办公的好处，就是大家互相都认识了，资源各方面都可以互通，包括业务上，包括内部消化，你成本也可以压低。</p>
                <div class="piclist-items">
                    <img src="/assets/public/news/images/6_07.jpg" alt="">
                    <p>Xplus炫嘉 · 优客工场一瞥</p>
                </div>
                <p class="text-item"><strong>- 最近在忙什么工作？<br /></strong>最近在做关喆的网络大电影，叫《神笔马娘》，应该是11月初，爱奇艺独播上线。所以影视剧，我们做很多，包括去年王祖蓝的《高跟鞋先生》，整体的音乐都是我们做的，然后电视剧就不用说了，每年都有很多，文章的《小爸爸》，然后江苏卫视的《新恋爱时代》，芒果台的《古剑奇谭》，包括李易峰唱的主题曲等。<br /><br />现在好歌手或者说纯歌手，在这个行业越来越难做，让音乐真人秀给比下去了，专业的歌手出不来，推一首歌太难了。每年从我公司出去的歌至少100多，200首，但是你真真正正能在市场上得到反馈还不错了，10%都不到，所以其实你走专业歌手这个路子已经很难做，很难走，但是还有人坚持在做。<br /><br />所以很多歌手现在都想有没有什么好的办法，你比方说这个关喆，一方面是圆他拍电影的梦，另一方面，是再借着电影，推出新的音乐作品，用其他的渠道去做音乐。<br /><br />音乐类的综艺，其实对这个行业是有帮助的，让观众知道做音乐，还有这帮乐手，同样的歌，还可以做成别的版本，让听众、消费群体知道编曲是干什么用的，其实是普及了音乐知识，但是对市场带来的冲击就是，其实并没有（帮助）。<br /><br /><strong>音乐人也要吃饱饭，只玩情怀，那叫艺术家</strong><br /><br />其实做这行，最难的就是前期，怎么解决生计问题，因为它赚得并不多，并没有想象的做音乐怎么高大上。可能现在好一点了，我们转（型）过来，只能说所谓的行业上层，真真正正与国际相接轨，包括硬件、技术，还是有差距。<br /><br />所以说音乐人，当然是有情怀在里面，但也分人，有的人成熟，我就是有了这项技能，我要赚钱，吃饭；有的人，可能在吃饭的同时，我还想玩点自己的情怀；再一类就是只玩情怀，那叫艺术家。但玩的好玩、牛逼，那才叫艺术家。</p>
            </div>
            <div class="news-items layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">相关阅读<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" alt="" src="http://static.urwork.cn/index/banner/banner-01.png?imageMogr2/thumbnail/!220x164r/gravity/Center/crop/220x164"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/news/news.js"></script>
</body>

</html>
