<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AA加速器</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/aa-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/aa-logo.png" alt="">
                    </div>
                    <h1>AA加速器</h1>
                    <p>AA加速器于2015年8月创建，以发现和助力中国未来的改变者为使命，为创业者植入“为改变而生”的理念，用产品经理的思维和专注度来打磨“加速系统”和“加速质量”，是一个通过输出加速机制、加速导师、加速成果量化系统等一系列有效的加速行为促进优质项目实现成功的创业内容成长平台。目前AA加速器已打造AA加速、AA inside（空间联盟）、AA+（服务联盟）三个品牌。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>生态系统</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/aa-image1.png" alt="">
                            <p>吴玲伟，AA加速器创始人、CEO，洪泰基金合伙人。曾在联想供职十年，担任联想集团战略顾问，曾担任九牧王集团战略运营副总裁，帮助九牧王成功IPO，曾自己创立聚焦于战略落地的咨询及教练公司，拥有十余年公司运营管理、战略规划的经验。南开大学本科，清华大学MBA，清华大学职业生涯规划导师，南开大学创业导师，南开允能商学院理事等，是中国认证的最早的国际专业教练，为多位知名企业的CEO担任1对1教练，在企业界积累了良好的高端人脉，创建了AA加速、AAinside（众创空间的内容芯片）、AA+（创业服务联盟）三个品牌，为国内定义了加速。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>目前AA加速器已打造AA加速、AA inside（空间联盟）、AA+（服务联盟）三个品牌，围绕加速本身，布局创业成长生态。AA加速器配套AA加速基金，只投资AA加速的项目，但通过AA深度筛选、深度加速、深度观察的过程，大大降低了早期投资项目的风险，提高精准度和成功率。AA加速器可为产业基金和致力于做内部孵化的大企业提供招募、筛选、深度孵化、投资及路演打磨的系统化加速服务。<br /></p>
                            <h2>AA inside</h2>
                            <p>在AA两期加速营产品打造的基础上，AA加速器在2016年3月29日发布了旗下战略级子品牌——AA-inside。AA-inside将整合AA两期加速营所固化的加速体系、导师体系、项目成长体系、运营体系、战略合作资源、资本资源，形成一整套标准化创业加速成长体系，深植于中国各众创空间中，助力中国众创空间在项目质量和创业服务上的升级，为众创空间提供强劲的芯，为所有早期创业项目注入改变的力量，和为改变而生的信念。<br />这是一次基于加速器自身模式及理念的突破。它使我们真正把加速体系作为核心，不再受单一空间载体的制约，真正走向内容化、体系化、服务化，成为植入孵化器内部的加速芯片。<br />当然，这也是AA始终坚持的理念：认真做一家不一样的加速器。认真做一家专注内容的加速器。<br /></p>
                            <h2>AA+</h2>
                            <p>AA+是AA战略产品之一，是为了响应互联网+的号召，实现加速器自身的互联网+。AA+是一款AA着力打造的app，通过手机实现加速过程的互联网化、产品化，让用户（创业者、投资人）能够直观的了解AA所提供的加速服务。并且，AA在所有合作伙伴中优选了十家优秀的企业服务提供商，他们所提供的企业服务有效的补充了AA能够为创业者提供的创业服务种类，这些合作伙伴能够更好的完善AA的加速服务体系，并以最好的价格和品质只为创业团队提供最实质的服务，其中包括技术研发、设计、品牌定位、社会化传播、人才猎头、财务、法务等。</p>
                            <img src="/assets/public/helpclub/images/aa-image2.png" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-ie"></i><em>AA加速器</em></p>
                    <img src="/assets/public/helpclub/images/aa-image3.png" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
