<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>长江商业评论</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/changjiang-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/changjiang-logo.png" alt="">
                    </div>
                    <h1>长江商业评论</h1>
                    <p>《长江商业评论》（Cheung Kong Business Review，简称CKBR）创建于2013年，是移动互联网时代的新型商业评论。我们的使命是致力于研究和传播互联网时代的创新商业理念，以及其在管理实践领域的实际应用。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>关于我们</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/changjian-image1.png" alt="">
                            <p>韩志坚，12年市场营销工作经验，其中7年数字营销工作经验，曾在盛大网络，百讯达等知名企业工作，有过2年创业公司经历，目前在贝塔斯曼集团下属的Arvato Digital Services公司数字营销部任大中华区首席代表，近2年时间协助微软官方商城在大陆，香港以及台湾的数字营销推广工作。擅长数字营销策略与实施，媒体业务拓展与货币化，移动端产品规划。主要负责《长江商业评论》的战略和商务工作。同济大学工科学士和长江商学院MBA学位。</p>
                            <img src="/assets/public/helpclub/images/changjian-image2.png" alt="">
                            <p>郑昊，北京大学本科毕业后，供职于一家外资咨询公司，为包括中国移动、高盛、壳牌石油等大型国际公司在内的客户提供咨询服务。后就读于长江商学院MBA项目，并以优异成绩毕业。后在互联网行业和体育行业进行开拓性尝试，其所创办的陆客帆船是目前国内帆船行业首屈一指的服务型机构。此外，他还是自媒体《资治通鉴》的作者。主要负责《长江商业评论》的运营和编辑工作。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <h2>移动互联时代的商业评论</h2>
                            <p>随着移动互联技术的不断发展和普及，人类社会已经进入了一个全新的时代。新技术所驱动的大规模商业创新，以及随之而来的治理创新、制度创新，在全球范围内都展示出前所未有、广阔无边的巨大可能。《长江商业评论》应这个时代而生。<br />充分利用互联网时代的全新传播方式，经过几年发展，我们已经成为了中国大陆首屈一指的新型商业评论，拥有百万规模的读者人群，并通过我们的方式对中国的商业社会施加影响。</p><br />
                            <h2>跨界｜互联｜共享</h2>
                            <p>我们关注创新和变革。在互联网技术日新月异的今天，我们尤其认同“跨界、互联、共享”的互联网精神，并将之作为我们的价值准则，努力为读者提供符合当代发展趋势的内容。<br />当然，我们也尊重传统。“长江”是华夏文明的母亲河，象征着文明传统的源远流长。以此为名的我们，一直积极汲取文化传承中的养分，希冀为当代的大变革提供启示。</p><br />
                            <h2>新生代中产阶级的思想伙伴</h2>
                            <p>随着互联网经济的崛起，越来越多的有着良好教育水平和独立思考能力的年轻人成为了新生代中产阶级，并逐渐成为了中国社会的中坚力量。这也是我们致力服务的一个最重要群体。<br />我们着重于满足这一群体的需求，打造一个年轻、充满活力、不拘一格的媒体。我们提供前沿的行业资讯，为他们带去知识；我们提供真实的实践案例，为他们带去参照；我们提供有洞察力的见解，为他们带去启发。</p><br />
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-mail"></i><em>editor@ckreview.cn (投稿及内容合作)<br/>bd@ckreview.cn (广告及商务合作)</em></p>
                    <p><i class="uricon-erweima"></i><em>长江商业评论</em></p>
                    <img src="/assets/public/helpclub/images/changjiang-image3.png" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
