<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>创客总部</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/ckzb/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/ckzb/logo.jpg" alt="">
                    </div>
                    <h1>创客总部</h1>
                    <p class="text-justify">创客总部是北大校友、联想之星创业联盟成员企业2013
                        年发起，专注实验室技术投资和孵化，是科技成果变现
                        第一站，专业投资孵化高校和科研院所的前沿技术与技
                        术精英，提供早期投资、产业链业务对接和办公场地等
                        服务，帮助技术项目和大型企业建立业务合作关系，同
                        时为大型企业引入前沿技术，促进大型企业转型升级。
                        创客总部是中关村创新型孵化器，国家级众创空间。投
                        资与孵化——人工智能、新材料、医疗健康和消费升级
                        等领域。截至2017年1月，通过评审入孵的项目有
                        275个，有122个项目获得投资，共获得11.3亿元人民
                        币投资，单个项目单次获得最高融资2.3亿元人民币，
                        其中创客总部投资了50个项目。
                    </p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <p><strong>创始人 & CEO：陈荣根</strong></p>
                            <p class="text-justify">
                                陈荣根，创客总部合伙人，北大校友创业联合会副会长。北京大学数学校友理事会理事、中国移动北京开发者俱乐部理事、山东理工大学兼职教授、中关村高端领军人才、科技部评审专家。创客总部专注实验室技术投资和孵化，投资孵化高校和科研院所的前沿技术与技术精英，立志于成为科技成果变现第一站。截止2017年1月，孵化了275个项目，其中122个项目拿到了共11.3亿的融资，单个项目单次最高融资额2.3亿元，创客总部投资了其中50个项目。
                            </p>
                            <img src="/assets/public/helpclub/images/ckzb/img1.jpg" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-ie"></i><em>htp://www.91maker.com</em></p>
                    <p><i class="uricon-erweima"></i><em>创客总部</em></p>
                    <img src="/assets/public/helpclub/images/ckzb/qrcode.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
