<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大观建筑</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/daga/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/daga/logo.jpg" alt="">
                    </div>
                    <h1>北京大观建筑设计咨询有限公司</h1>
                    <p>大观事务所由具有国际视野和丰富经历的设计师创立，
                        主要是为提供建筑设计、室内设计、城市规划和景观
                        设计服务。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>关于我们</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/daga/image1.jpg" style="display: block; width: 50%; margin: 0 auto" alt="">
                            <p>申江海毕业于英国威斯敏斯特大学建筑设计硕士，近10
                                多年工作经验，先后工作于伦敦Zaha Hadid
                                Architects扎哈哈迪德事务所，伦敦杨经文Ken
                                Yeang事务所，北京万科，远洋地产，现为大观建筑事
                                务所主持建筑师及AD国际艺术教育创始人。其建筑作
                                品在国内外多次获奖，并且有《一条线的桌子》、
                                《萌芽》、《翅》等家具设计作品。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            大观事务所由具有国际视野和丰富经历的设计师创立，
                            主要是为提供建筑设计、室内设计、城市规划和景观
                            设计服务。公司成立近两年，项目涉及国内外，参与
                            北京卫视家装改造节目《暖暖的新家》，参与北京东四
                            共享际、兰会所优客工场、新加坡优客工场、北京丰
                            台邻里家养老公寓、白塔寺胡同改造等项目。
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2 class="layout-item-tl">联系方式</h2>
                    <p><i class="uricon-ie"></i><em>www.arcxtec.com</em></p>
                    <p><i class="uricon-erweima"></i><em>DAGA大观建筑</em></p>
                    <img src="/assets/public/helpclub/images/daga/qrcode.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
