<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大脑智库</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/dnzk/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/dnzk/logo.jpg" alt="">
                    </div>
                    <h1>大脑智库</h1>
                    <p>大脑智库创办于2014年，总部位于北京市海淀区中关村，用“互联网+科技+教育心理学”的思维，“测评+咨询+教育方案”的闭环式服务模式，专注于为1-24岁孩子及家庭提供教育测评工具、精细化教育咨询和个性化教育解决方案。<br>
                        大脑智库拥有独立的研发和技术团队，现已研发了数十种教育测评工具，均拥有独立的知识产权。创立至今，公司已经培育了近2000名生命解读师，并为孩子及家长整合了国内、国际非常全面、精英化的成长课程，且联合了三十多所国际一流的高校，以不拘一格的方式挑人才，让孩子有机会活出独一无二的价值！</p>
                </section>
                <fieldset class="layout-item">
                    <h2>投资机构</h2>
                    <img src="/assets/public/helpclub/images/dnzk/img1.jpg" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>市场价值</h2>
                    <p class="text-justify">大脑智库2015年获得天使投资500万，市场估值2500万。2016年受邀参加央视财经节目“创业英雄汇”，现场获得北大创投爆灯抢投，市场估值1个亿，并获得Pre - A轮投资500万。大脑智库已成为投资界新宠，被投资者普遍看好，2017年市场估值已达2.5亿元。</p>
                </fieldset>
                <fieldset class="layout-item" style="padding: 0">
                    <img style="margin: 0" src="/assets/public/helpclub/images/dnzk/banner2.jpg" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>核心价值观</h2>
                    <img src="/assets/public/helpclub/images/dnzk/img2.jpg" alt="">
                </fieldset>
                <fieldset class="layout-item" style="padding: 0">
                    <img style="margin: 0" src="/assets/public/helpclub/images/dnzk/banner3.jpg" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>企业荣誉</h2>
                    <img src="/assets/public/helpclub/images/dnzk/img3.jpg" alt="">
                </fieldset>
                <div class="tab-box">
                    <ul>
                        <li class="selected">核心团队</li>
                        <li>发展历程</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/dnzk/img4.jpg" alt="">
                            <p class="text-justify">
                                国家二级心理咨询师，国际认证催眠师，两岸知识经济产业交流协会理事、顾问，美国哥伦比亚大学访问学者，国家师资级皮纹分析师。<br>
                                刘冬梅毕业于湘潭大学管理学院，先后任职于南方都市报，第一财经日报、触动传媒，她是第一财经日报的首批创刊人并曾担任北京分社副总经理，也是触动传媒创始股东之一。<br>
                                2004年创立大脑智库，将自己独特的个性化教育理念传播到全国各地，三年多时间受益家庭20万户。2016年成立公益基金，为贫困山区孩子、特殊儿童献爱心，每年个人公益捐款达百万，真正做到正心正念传递爱与力量！
                            </p>
                            <img src="/assets/public/helpclub/images/dnzk/img5.jpg" alt="">
                        </fieldset>
                        <fieldset style="display:none">
                            <h2>2014年5月</h2>
                            <p>北京自然之道教育科技有限公司，注册成立。</p>

                            <h2>2015年1月</h2>
                            <p>公司更名为“北京大脑智库教育科技有限公司”。</p>

                            <h2>2015年4月</h2>
                            <p>参加“中信国安创客杯”首都青年创新创业大赛，大脑智库晋级百强。</p>

                            <h2>2015年8月</h2>
                            <p>业务规模扩张，全国代理商近150个。</p>

                            <h2>2015年9月</h2>
                            <p>大脑智库2015年获得天使投资500万，市场估值2500万，由领势、创客总部投资。</p>

                            <h2>2015年11月</h2>
                            <p>大脑智库入围中关村国家自主示范区“金种子工程”。</p>

                            <h2>2015年12月</h2>
                            <p>大脑智库入围清科集团中国高成长企业CEO峰会暨第十届“中国最具投资价值企业50强。</p>

                            <h2>2016年3月</h2>
                            <p>大脑智库研发的测评工具获得8项软件著作权，4项专利实际审查中。</p>

                            <h2>2016年4月</h2>
                            <p>大脑智库公益基金成立，无偿服务志愿者达30人。</p>

                            <h2>2016年9月</h2>
                            <p>大脑智库创始人刘冬梅女士受邀参加央视财经节目“创业英雄汇”，现场获得北大创投爆灯抢投。</p>

                            <h2>2016年6月</h2>
                            <p>大脑智库与中国航天人才开发交流中心达成战略合作，为夏令营的孩子获得发现自己独一无二的机会。</p>

                            <h2>2016年6月</h2>
                            <p>大脑智库获得国内唯一培训且颁发人社部皮纹分析师证的机构资格。</p>

                            <h2>2016年8月</h2>
                            <p>大脑智库与国内基因检测行业领头羊核子基因达成战略合作，打造儿童天赋天性基因检测。</p>

                            <h2>2016年10月</h2>
                            <p>大脑智库成立”全球高校联盟”项目，获两岸知识经济产业交流协会和台湾高校教育联盟的支持，让高考不再是独木桥，为学子们提供更多的优质的大学教育资源。</p>

                            <h2>2016年11月</h2>
                            <p>大脑智库创始人刘冬梅、联合创始人郑叔亮获得“两岸知识经济产业交流协会”副理事、顾问职务。</p>

                            <h2>2016年12月</h2>
                            <p>大脑智库获“国家高新技术企业”荣誉。</p>

                            <h2>2017年5月</h2>
                            <p>获得P r e - A轮投资500万，市场估值1个亿，由领势投资、优客工场、创合汇、汉富资本投资。</p>

                            <h2>2017年5月13日</h2>
                            <p>大脑智库创始人刘冬梅、联合创始人王莲君做客中央人民广播电台youRadio都市之声频道（FM101.8）周末育儿亲子节目《阳光芳草地》栏目。</p>

                            <h2>2017年6月</h2>
                            <p>大脑智库创始人作为两岸知识经济产业交流协会顾问赴台与马英九交流教育合作。</p>

                            <h2>2017年7月</h2>
                            <p>大脑智库测评体系覆盖全国24个省37个市，代理商超过300个。</p>

                            <h2>2017年7月</h2>
                            <p>大脑智库入围“第八届北京影响力50强”。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-phone"></i><em>010－57290897 ／ 010－57741541</em></p>
                    <p><i class="uricon-ie"></i><em>www.brainbase.com.cn</em></p>
                    <p><i class="uricon-location"></i><em>北京市海淀区中关村海龙大厦H座3层R309</em></p>
                    <img src="/assets/public/helpclub/images/dnzk/img6.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
