<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>光合旅程</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/guanghe/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/guanghe/logo.jpg" alt="">
                    </div>
                    <h1>北京沃尔克思科技有限责任公司</h1>
                    <p>北京沃尔克思科技有限责任公司成立于2015年12月，
                        专注于制作并分发境外深度体验游解决方案，创始团队
                        集结了众多优秀海归和青年企业家、创业家，当前主营
                        项目是“光合旅程”，通过直采境外上游资源，并将碎
                        片化产品通过金字塔筛选进行整合并制作成“目的地独
                        特主题产品”，满足特异性用户群体定制需求的同时保
                        证采购成本，打造轻奢定制游概念的深度人文主题产品
                        ，并分发给下游的团体、社群、旅行社、OTA等渠道
                        ，现已签约500万元。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>关于我们</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/guanghe/image1.jpg" style="display: block; width: 50%; margin: 0 auto" alt="">
                            <p>3年留学行业经验，拍摄纪录片《US》。创立光合旅程
                                前大部分经历在美国，本身就是一个自由行的爱好者，
                                喜欢分享，希望把世界各地真正有价值的本地体验发掘
                                出来。计算机专业，还有拍纪录片的经历，因此完全可
                                以把记录、分享与游历结合到一起。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <h2>创业项目产品</h2>
                            <p>
                                本项目“光合旅程”实质是制作并分发境外人文主题轻
                                奢游产品，通过直采境外上游资源，并将碎片化产品通
                                过金字塔筛选（赋值+属性+标签）进行整合并制作成
                                “目的地独特主题产品”，再分发给下游的社群、旅行
                                社、OTA等渠道，解决了市面上出境游产品同质化严
                                重，传统定制游价格对大众又过高的问题。同时，APP
                                还支持用户自定义需求后由系统自动按属性配置个性化
                                产品。
                                目标客户分两类，一类是有出行需求的商学院及企业等
                                团体用户，第二类是拥有用户的下游渠道，光合会帮助
                                扩充对方的产品线，增加内容变现渠道，例如在日本的
                                千年古寺体验坐禅、和寿司之神学习料理制作、到欧洲
                                探访奢侈品皮具制作的故事。代表产品如与锤子科技联
                                名推出的日本匠人匠心探寻之旅、带着腾讯视频高管走
                                过的关西佛教之旅、带着高晓松走过的米其林餐厅之旅
                                和与陈妍希一起设计的日本抹茶甜品探访之旅。光合旅
                                程，出境游领域的米其林。

                            </p>
                            <h2>服务创新内容</h2>
                            <p>
                                光合旅程通过将上游的产品碎片化，碎片化产品标准化，
                                标准化产品优质化，通过独特的金字塔筛选体系，对上
                                游服务提供商、地接社、DMC的服务进行筛选并整理
                                成碎片化产品，对上游供给侧进行改革，将碎片化产品
                                根据不同的品类制作成主题品类，再将主题与下游渠道
                                相结合，提高了渠道制作和定制产品的效率，提高了用
                                户获取碎片化产品的效率，独特的金字塔推荐体系可以
                                帮助用户快速定位到需求，提高行前决策的效率。App
                                端通过数据算法可以快速获取用户的偏好和需求，帮助
                                用户快速定制行程，后台精品的光合推荐指南更可以快
                                速识别出用户在自由行社区和论坛中看到的游记，并以
                                最优化的方案帮助用户将行程落地。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2 class="layout-item-tl">联系方式</h2>
                    <p><i class="uricon-mail"></i><em>business@lightrips.com</em></p>
                    <p><i class="uricon-erweima"></i><em>光合旅程</em></p>
                    <img src="/assets/public/helpclub/images/guanghe/qrcode.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
