<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>帮帮堂列表页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <ul class="helpclub-list">
                    <li>
                        <a href="#">
                            <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/yhwe.png);">
                                <div class="helpclub-title"><h2>优和维尔</h2><p>高端医疗</p></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/zgg.png);">
                            <div class="helpclub-title"><h2>知呱呱</h2><p>知识产权服务</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/paonaer.png);">
                            <div class="helpclub-title"><h2>跑哪儿</h2><p>互联网+体育</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/wjkj.png);">
                            <div class="helpclub-title"><h2>无界空间</h2><p>联合办公</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/wxy.png);">
                            <div class="helpclub-title"><h2>问校友</h2><p>留学咨询</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/kcr.png);">
                            <div class="helpclub-title"><h2>KCR</h2><p>市场咨询</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/mcf.png);">
                            <div class="helpclub-title"><h2>幂次方学院</h2><p>创业教育</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/ykll.png);">
                            <div class="helpclub-title"><h2>优客里邻</h2><p>传媒</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/ybhs.png);">
                            <div class="helpclub-title"><h2>优博恒深</h2><p>投融资管理</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/fyzx.png);">
                            <div class="helpclub-title"><h2>泛优咨询顾问</h2><p>人力</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/aajsq.png);">
                            <div class="helpclub-title"><h2>AA加速器</h2><p>加速器</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/jkcx.png);">
                            <div class="helpclub-title"><h2>极客晨星</h2><p>幼儿教育</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/qyhz.png);">
                            <div class="helpclub-title"><h2>企业盒子</h2><p>企业服务</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/xzjy.png);">
                            <div class="helpclub-title"><h2>小栈教育</h2><p>教育细分</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/ykwh.png);">
                            <div class="helpclub-title"><h2>攸克文化传媒</h2><p>媒体</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-imginner" style="background-image:url(/assets/public/helpclub/images/list/cjsy.png);">
                            <div class="helpclub-title"><h2>长江商业评论</h2><p>商业新媒体</p></div>
                        </div>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/scripts/base.js"></script>
    <script src="/assets/public/scripts/public.js"></script>
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
