<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>极客晨星儿童编程课程培训机构</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/jikechenxing-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/jikechenxing-logo.png" alt="">
                    </div>
                    <h1>极客晨星儿童编程课程培训机构</h1>
                    <p>极客晨星是一家致力于中国儿童信息科学教育的培训机构，创立与2016年8月。我们希望成为中国儿童信息科技教育普及化的推手，让中国的孩子在信息化时代与世界同步。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>课程介绍</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/jikechenxing-image1.png" alt="">
                            <p>展爽女士是伊利诺伊大学MBA毕业，美国注册管理会计师。十年美国大型企业从事金融管理财务分析经验。 历任雷诺汽车中国公司等世界500强企业中国区CFO。作为联合创始人组建多家高科技公司 负责企业的战略放向 融资规划。目前三家企业均在各自的领域占有一席之地。2016年8月创建了极客晨星儿童编程课程培训机构。受到了儿童和家长的热烈欢迎。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>极客晨星专门为中国儿童设计的教学编程课程，从开始就避开了孩子入门学习的困境降低学习门槛。主要特色：用模块化的方式，避开了计算机语言语法；专注于逻辑和算法，用拖拽模块的方式实现和演练孩子的创意，使试错成本极大的降低；运用有趣的游戏，系统的由浅入深的反复演练概念，增强理解。孩子们在学习的过程中看到的都是游戏逻辑和自己创意的实现，从不认为自己是在学习一些枯燥的知识，一旦实验成功非常有成就感。然后再一步一步进入我们的高级课程。</p>
                            <img src="/assets/public/helpclub/images/jikechenxing-image2.png" alt="">
                            <p>我们的课程结合了中国和美国教学的特色，既避免了中国教育过于死板和功利性，同时又避免了美国教育过于强调游戏好娱乐的特点。是一套全面 系统 全方位的学习编程的体系。我们都的课程从趣味编程开始 ，一直进阶到最高端的国际信息学竞赛的竞赛班，全部囊括。目前，在北京顺义优客工场和中关村海龙大厦优客工场都有开班。受到孩子和家长的热烈欢迎。 欢迎中国的家长更多的了解信息科学教育，了解极客晨星。也欢迎更多的科技工作者加入儿童信息科学教育领域，为中国的孩子创造更加科学、先进的科学知识学习实践平台。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-tel"></i><em>13910996292</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
