<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>KateChanResearch</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/kate-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/kate-logo.png" alt="">
                    </div>
                    <h1>KateChanResearch</h1>
                    <p>我们一贯坚持，成为高级管理层的合作伙伴，帮助企业发现并把握机遇、挑战并克服苦难，正视战略问题的重要性，贯彻有利于客户增长、卓越经营的变革是我们的使命！</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人致辞</li>
                        <li>公司优势</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <p>卓越品质，乃取信基石，凡事必精，始取信于人，忧愁之心，必渐行渐远，是 KateChanResearch 同仁的共同信念。<br />感谢始终如一陪伴我们的忠诚客户与团队成员，还要感谢尽非完善的市场调研领域所带给我们的各种机遇与挑战；正是逆境和偏见，才真正促使我们不断努力，提升质量，创新技术，在该行业中获得市场竞争力。此外，
                            还要感谢西方科学的方法论，它帮助我们建立了客观公正的理论基础和调研方法；更要感谢中国博大精深的文化底蕴，建立了我们文化和精神之根本。两者相辅相成。作为一家国际性企业，我们先专注于服务来自不同国家的外资企业，在华以西方的思维方式和质量要求来进行市场调研，实现我们质量，技术和品牌的升级和国际化；再来协助走向海外的国内企业的国际化进程。“先难后易”成为了我们的选择，这种选择直接造就的是“慢，中出细活”；也因此，我们一步步，慢慢地赢得了西方世界的尊重和认可，真是十年磨一剑。</p>
                            <img src="/assets/public/helpclub/images/kate-image.png" alt="">
                            <p>作为以战略为导向的市场调研领域的 NICHER（奇葩），KateChanResearch 采中国古典哲学阴阳之道，习西方先进市场调查之术，求科学方法之论（如心理分析，逻辑演绎，行为研究, 大数据挖掘 <或数据分析>, 发散思维和聚焦思维, 等等），集联盟型（B2B）和传统型（B2C）/资源型（B2E）/淘宝型（C2C）多家之长。<br />综上之方法，皆为客户提供最值得信赖的信息所设，用于进一步核实、证伪、质疑茫茫研究结果。信息的真实是客户做出最有价值、最正确决断的第一步。我们的长期忠实客户都非常赞同这一观点。<br />若能有幸为您的组织在具体的市场调查和市场战略问题上服务，KateChanResearch 将愿鞠躬尽瘁！<br />敬上！<br />KateChanResearch 团队</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p><strong>1盈利</strong><br />KateChanResearch 将市场信息直接转变为客户的盈利能力，帮助客户顺利调整业务，并制定相关市场战略，协助客户有效引领市场风向。<br /><br /><strong>2资源与质量</strong><br />十年磨一剑，至今 KateChanResearch 共完成102个项目，拥有丰富的市场调查和战略规划的经验。我们愿与客户分享该11年铸就的方法论与积淀，并能提供高质量，实用的英文报告。<br /><br /><strong>3便捷</strong><br />每个项目都配有项目计划书和推进表，客户能及时跟进研究进度，了解项目执行情况。<br /><br /><strong>4溢价与后续计划</strong><br />为企业续创佳绩，我们乐意帮助客户的项目代表更好地理解和使用该报告，以便运用到实际操作中。<br /><br /><strong>5专注</strong><br />这11 年，我们只做了一件事：市场调研，只为专精。<br /><br /><strong>6即时</strong><br />在战略调研中，我们通常能通过敏锐的洞察力，专业知识等，挖掘到能给客户带来即时利益的商业机会，并在第一时间告知客户，以及指导其如何争取到该机会的驱动因素。<br /><br /><strong>7可靠</strong><br />项目中所有统计数据和图表都可追溯和证伪。在项目结束之际，客户可以购买该数据来源。<br /><br /><strong>8全球同步</strong><br />由于沟通技术的不断发展，我们与海外的互通已达到同步，甚至超前。因此，在进行跨国市场调研时，我们善于运用科技手段获得一手资料的渠道和效率。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-more"></i><em>Info@KateChanResearch.com</em></p>
                    <p><i class="uricon-more"></i><em>http://www.katechanresearch.cn</em></p>
                    <p><i class="uricon-more"></i><em>中国北京朝阳区建国路91号金地中心</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
