<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>北京优客里邻传播顾问有限公司</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/lilin-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/lilin-logo.png" alt="">
                    </div>
                    <h1>北京优客里邻传播顾问有限公司</h1>
                    <p>成立于2016年3月，由国内最大的联合办公及创业加速器“优客工场”孵化而成。2016年7月获得300万软妹币天使投资，获得众多资源方及投资机构青睐。已累计为20余家创业企业提供品牌传播营销服务，创业企业规模涵盖天使轮到D轮颠覆传统公关公司服务模式，一切品牌传播服务以创业公司的灵活实际需求为导向既善于品牌定位和传播创意，又关注落地执行及效果。百余品牌营销及传播资深专业人士及机构提供智慧支持，预算报价全程透明可控。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>品牌介绍</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/lilin-image1.png" alt="">
                            <p>优客工场执行合伙人兼CMO，曾就职于Uber、戴尔、百事、亚马逊、诺基 亚以及奥美集团等世界500强和国际互联网企业，担任中国区企业传播总 监、公关总监及公关公司副总裁等职务，拥有18年的品牌传播、市场公关 领域的经验。北大国际MBA(BIMBA)，获纽约福坦莫大学(Fordham University)商学院工 商管理硕士学位。2009年100位最有影响力企业新闻发言人;2010年中国企业十大新闻发言人(人民网及中国发言人俱乐部组织评选)中央财经大学新传播研究中心特约讲师;香港大学中国商业学院新媒体营 销精英俱乐部客座讲师;百度金熊掌创业训练营讲师。担任多家创业公司品牌公关传播顾问。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <h2>创投类媒体“有言”</h2>
                            <img src="/assets/public/helpclub/images/lilin-image2.png" alt="">
                            <p>构有情(情怀)、有趣(趣味)、有用(价值)、有品(品质)的创投媒体平台，希望成为“最懂创业者的媒体情趣用品”。 聚焦新经济及创业创投领域，通过文字、图片、视频、直播等多种形态，帮助创业者讲好自己的故事，打造更多创业者IP，搭建创业者、投资人及读者用户沟通分享的有效渠道。与中国消费者报新媒体达成战略合作，在中国消费网首页合作开设“创时代”栏目。“今日头条”创作空间二期入孵自媒体，发起成立“梦马新媒联盟”。</p>
                            <img src="/assets/public/helpclub/images/lilin-image3.png" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-erweima"></i><em>有言Utalk</em></p>
                    <img src="/assets/public/helpclub/images/lilin-image4.png" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
