<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小觅智能</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/myntai/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/myntai/logo.jpg" alt="">
                    </div>
                    <h1>小觅智能</h1>
                    <p class="text-justify">MYNTAI（小觅智能）成立于2014年7月，专注立体视
                        觉技术整体解决方案。核心技术包括基于CNN和深度学
                        习的视觉避障导航、自动驾驶、环境/物体识别、人脸
                        /身份识别等。产品包括不同级别的vSLAM视觉模块，
                        双目摄像头模块以及基于视觉技术衍生的机器人产品。
                        未来，通过多步走战略，MYNTAI的战略目标是通过软
                        硬件融合的成熟解决方案，打造基于计算机视觉导航与
                        识别的行业最优VPS云服务商。
                    </p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>核心团队</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <p><strong>创始人 & CEO： 庞琳勇 Leo 博士</strong></p>
                            <p class="text-justify">庞琳勇博士，毕业于美国斯坦福大学，拥有机械工程博士和计算机科学硕士（机器人视觉专业）的双学位，并曾在中国科技大学师从光学测量泰斗伍小平院士，在立体视觉领域深耕多年并有多项研究成果。庞博士在创立MYNTAI小觅智能前曾创立过4家公司，参与过1家公司的NASDAQ IPO，其中2家公司被收购，是硅谷创业家、企业家和资深职业经理人。此外还担任国际光学工程学会的专家委员以及中国国际半导体会议分会主席，拥有31项专利，还有25项待批，有65篇论文在国际刊物和会议上发表。</p>
                            <p class="text-center"><img src="/assets/public/helpclub/images/myntai/img1.jpg" alt="" width=120></p>
                        </fieldset>
                        <fieldset style="display:none">
                            <img src="/assets/public/helpclub/images/myntai/img2.jpg" alt="">
                            <img src="/assets/public/helpclub/images/myntai/img3.jpg" alt="">
                            <img src="/assets/public/helpclub/images/myntai/img4.jpg" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-ie"></i><em>http://www.myntai.com/cn/coretech</em></p>
                    <p><i class="uricon-erweima"></i><em>小觅智能</em></p>
                    <img src="/assets/public/helpclub/images/myntai/qrcode.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
