<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>企业盒子</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/qiyehezi-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/qiyehezi-logo.png" alt="">
                    </div>
                    <h1>企业盒子</h1>
                    <p>企业盒子是一家专注企业服务领域的高品质搜索与交易平台，面向众创空间，联合办公、科技园区等空间运营商，通过共享价格，共享品质，共享优选服务资源库，为其降低服务成本，保障服务品质，打造企业服务升级。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>企业介绍</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/qiyehezi-image1.png" alt="">
                            <p>企业盒子创始人兼CEO，TMT行业资深从业者，10年企业服务领域经验。曾任世界500强外企亚太区市场经理、国内最大的CDN服务商事业部总监，百度大数据运营开创者，优客工场执行合伙人。对企业端产品与服务有着深刻理解与实践。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>企业盒子是一家专注企业服务领域的高品质搜索与交易平台，面向众创空间，联合办公、科技园区等空间运营商，通过共享价格，共享品质，共享优选服务资源库，为其降低服务成本，保障服务品质，打造企业服务升级。</p>
                            <img src="/assets/public/helpclub/images/qiyehezi-image2.png" alt="">
                            <p>对于企业用户，企业盒子的使命是“让企业高效、放心地找到所需服务”，通过优选、征信、交易与评价机制，降低企业的决策与失败成本，建立规范的企业服务诚信体系。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-tel"></i><em>13811546625</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
