<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>跑哪儿</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/runner-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/runner-logo.png" alt="">
                    </div>
                    <h1>跑哪儿</h1>
                    <p>跑哪儿是一家通过互联网跑步赛事平台提供赛事技术解决方案、提升中国跑步爱好者参赛体验的高科技企业，2016年3月获得优客工场、领势投资、华的投资等多家创投机构投资，总部位于北京CBD。跑哪儿致力于以赛事为入口，进一步打通参赛、办赛、跑者社群、跑步内容等领域，成为最具影响力的跑步赛事生态平台。</p>
                </section>
                <fieldset class="layout-item">
                    <h2>跑哪儿倡导并实践马拉松精神</h2>
                    <p>自律、勤奋的刻苦精神<br />不断挑战自我的进取精神<br />好玩、有趣的快乐精神<br />成就他人的利他精神</p>
                    <img src="/assets/public/helpclub/images/runner-image1.png" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>跑哪儿-轻松跑遍全球</h2>
                    <img src="/assets/public/helpclub/images/runner-image2.png" alt="">
                    <p>跑哪儿目前与全球近100场优选马拉松<br />及其他跑步赛事达成合作，<br />涵盖北美、欧、日 韩、澳等热门目的地，<br />同时是夏威夷、首尔等世界顶级赛事<br />中国区独家合作伙伴；<br />跑哪儿通过PC端、移动端<br />向用户提供一站式参赛及配套服务。</p>
                </fieldset>
                <fieldset class="layout-item">
                    <h2>跑哪儿赛事云</h2>
                    <p>对于跑者而言，<br />每一场路跑赛事都是独一无二的难忘旅程，<br />赛事组织者的运营效率直接关乎着旅程体验。<br />跑哪儿与国内知名企业、地方政府、旅游景区<br />等合作伙伴共同运营精品路跑赛事，<br />运营海拔最高马拉松－丽江雪山半程马拉松等<br />旅游目的地跑步赛事；<br />同时通过提供赛事计时、报名、成绩管理等<br />模块功能参与数十场马拉松赛事，<br />服务数万跑者。</p>
                    <img src="/assets/public/helpclub/images/runner-image3.png" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>一站式计时与成绩服务</h2>
                    <p>用世界马拉松六大满贯的同款计时系统<br />服务你的赛事！</p>
                    <img src="/assets/public/helpclub/images/runner-image4.png" alt="">
                </fieldset>
                <fieldset class="layout-item">
                    <h2>赛事主页发布工具</h2>
                    <p>不要再满足于通用型解决方案了！<br />我们简单易用、敏捷发布的网页发布工具<br />使赛事活动的网站实现“全订制”！</p>
                    <ul>
                        <li>
                            <img src="/assets/public/helpclub/images/runner-icon1.png" alt="" />
                            <p>可定制模板</p>
                        </li>
                        <li>
                            <img src="/assets/public/helpclub/images/runner-icon2.png" alt="" />
                            <p>共享与上传</p>
                        </li>
                        <li>
                            <img src="/assets/public/helpclub/images/runner-icon3.png" alt="" />
                            <p>功能流程化</p>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="layout-item">
                    <h2>跑者客户关系管理</h2>
                    <img src="/assets/public/helpclub/images/runner-image5.png" alt="">
                    <p>专跑者大数据平台推荐赛事，<br />提供完整、便捷、个性化的报名流程，<br />提升选手参赛体验</p>
                </fieldset>
                <fieldset class="layout-item">
                    <h2>赛事运营管理</h2>
                    <p>通过分析，提供全流程赛事运营的云支持，<br />简化赛事流程有效管控成本，提升执行效率</p>
                    <ol>
                        <li><p>赛事需求轻松概算</p></li>
                        <li><p>合理制定计划</p></li>
                        <li><p>整合供应商平台</p></li>
                        <li><p>严格把控时间</p></li>
                    </ol>
                </fieldset>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-more"></i><em>400-6042-195</em></p>
                    <p><i class="uricon-more"></i><em>http://index.runnar.net</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
