<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问校友</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/schoolfellow-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/schoolfellow-logo.png" alt="">
                    </div>
                    <h1>问校友（北京）科技有限公司</h1>
                    <p>问校友是由哈佛资深校友发起的在线咨询和分享平台，为寻求海外学习和全球发展机会的中国青少年提供高质量的指导和服务。“问校友”不仅关注出国留学，还关注在美学业、实习就业、个人成长等。这是一个集全球一流大学校友资源，利用互联网平台，为更大范围（包括边远地区）的中国青少年提供全方位的线上咨询，是对狭义的留学咨询的提升和补充。同时也致力于加强校友之间的联系，释放海归红利，发挥更大社会能量。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>我们的产品</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/schoolfellow-image1.png" alt="">
                            <p>毕业于哈佛大学肯尼迪政府学院，哈佛大学亚太区校友会主席，曾任国际著名咨询公司中国区高级副总裁、董事总经理、中国与全球化智库副主任等职。朝阳区国际高端商务人才俱乐部执委。<br />2016年初创办问校友——全球名校校友经验共享平台，并担任CEO。孙玉红获得的荣誉包括：中国十大公关人物、中国百佳魅力女性、中国最具影响力十大女性等。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>问校友APP是问校友(北京)科技有限公司旗下产品，是一款面向中国留学群体的移动互联网服务平台。问校友APP是一座桥梁，跨越不同的城市，飞跃不同的国家，将中国准备留学的学子和海外名校的学长、学姐和校友建立联系。<br />问校友APP是一个真实认证的海外名校校友聚集宝地，不管你向往哈佛、憧憬耶鲁、逐梦MIT，亦或是钟情布朗，你都能在这里找到你的学长、学姐还有那些学成归国并且在国内各个领域发光发热的知名校友。问校友APP是一扇面向海外名校的全视角窗户，从学校概况、到录取专业、申请要求，再到学校周边，吃的、住的、玩的、看的，我们来为你真实展现。<br />无论是留学规划、择校选专业、标准化考试还是文书面试，来这里问校友吧！<br />无论申请要点、专业解密、就业方向还是创业指导，来这里问校友吧！</p>
                            <img src="/assets/public/helpclub/images/schoolfellow-image2.png" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-more"></i><em>http://www.wenxiaoyou.com/index</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
