<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>空间研习社</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/space-more/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/space-more/logo.jpg" alt="">
                    </div>
                    <h1>空间研习社</h1>
                    <p style="text-align: justify; padding-bottom: 0">
                        <b style="color: #333">创始人：</b>陈敏，空间研习社创始人，地产自媒联盟
成员，中国首个空间产业跨业协作组织“空间产业联
盟”发起人及秘书长；曾任济南军区《前卫报》特约
通讯员，获济南军区优秀通讯员二等奖，荣立三等功
2次；退伍后历任金鹰百货、易居中国、复星集团三
家上市公司策划经理、运营经理、商业总监、总裁助
理等职，参与实操过全国数十个商业地产项目，熟悉
商业与商业地产的运营与开发流程。
                    </p>
                    <p style="text-align: justify;">
                        曾联合创立上海赋锐资产管理有限公司，服务全国众多
商业地产开发商。空间研习社目前专注于房地产存量时
代新空间运营领域的品牌与内容服务，目前已成为该细
分领域遥遥领先的社群自媒体，被地产与空间行业熟知。
                    </p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">企业简介</li>
                    </ul>
                    <div class="tab-con" style="text-align: justify">
                        <fieldset style="display:block">
                            <p>
                                空间研习社是一家垂直于新空间产业的社群自媒体，更
                                是以媒介为入口的空间内容服务商。空间研习社在帮助
                                新空间运营商品牌传播的同时，不断“发现好内容，共
                                享好空间”，通过媒介为帮助空间运营商获取上游发展
                                物业及下游创新内容及用户，最终推动新空间产业的发
                                展和繁荣。
                            </p>
                            <p>
                                空间研习社在媒体传播上更注重通过对产品的精准认
                                知，并与产品运营方一道发掘和塑造产品独特价值，并
                                通过强大的泛地产媒体及创投媒体合作资源，为新空间
                                产业的上下游企业精准营销，获取高效链接。
                            </p>
                            <p>
                                空间研习社还联合优客工场、P2、新派公寓、阿那亚、
                                当代置业等19家新空间产业优秀代表创立了中国首个
                                新空间产业跨业协作组织——空间产业联盟，并担任联
                                盟秘书长，负责联盟事务的落地。目前空间研习社已
                                推动空间产业联盟主办了《空间产业共享峰会》、 《空
                                间产业联合论坛》及大小沙龙活动百余期，为新空间
                                产业的行业认知建立及行业创新奠定了基础。接下来，
                                空间研习社将通过一年一次《空间产业内容峰会》，每
                                周一次的“发现好内容，共享好空间” 空间产业内容
                                发现会，以及不定期组织线下考察、线上教学，打造
                                “媒体+研学”双引擎，立志成为新空间产业第一内
                                容服务商。
                            </p>
                            <p>
                                如果您是共享办公、共享居住、共享商业空间的运营
                                商或服务商，只要您的产品或创意够优秀，空间研习
                                社都愿意为您的品牌发声，帮助您定位品牌、策划活
                                动、推广渠道、链接合作资源。
                            </p>
                            <img src="/assets/public/helpclub/images/space-more/content-img1.jpg" alt="">
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>关注我们</h2>
                    <p><i class="uricon-erweima"></i><em>空间研习社</em></p>
                    <img width="138" height="138" src="/assets/public/helpclub/images/space-more/qrcode.jpg" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
