<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UFO</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/ufo/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/ufo/logo.jpg" alt="">
                    </div>
                    <h1>UFO众创空间</h1>
                    <p style="text-align: justify; padding-bottom: 10px">
                        <b style="color: #333">创始人兼CEO：</b>李杨，曾任河南某地产公司总经理，
                        具有7年地产项目管理经验。现任UFO众创空间科技
                        企业孵化器总裁，全面负责UFO众创空间科技企业孵
                        化器规划和建设和运营工作。李杨自2013年起，开始
                        从事创新创业指导工作，团队管理、市场运作、行业预
                        判等经验丰富。于2014年9月开始筹备UFO众创空
                        间，2015年3月UFO众创空间正式运营；
                    </p>
                    <p style="text-align: justify; padding-top: 0;padding-bottom: 10px">
                        <b style="color: #333">联合创始人：</b>聂鹏飞曾任河南省汉旺旅游开发有限公司
                        总经理，万家普乐（北京）咨询有限公司总经理助理等
                        职务；是专业的职业经理人，善于企业管理，长期从事
                        企业管理，拥有较强的统筹管理能力，现任UFO众创
                        空间副总裁、负责UFO众创空间科技企业孵化器的日
                        常运营工作，主要负责综合办公室、财务部、UFO联
                        合基金部、对外商务合作拓展等方面工作。
                    </p>
                    <p style="text-align: justify; padding-top: 0;">
                        <b style="color: #333">UFO创投执行董事：</b>李玄一，曾任河南华夏海纳创业
                        投资集团投资经理、遇见天使股权众筹平台CEO、郑
                        州科梦多科技发展有限公司董事长。在互联网、创业
                        投资、创业指导、商业模式梳理、孵化器运营等领域
                        具备资深从业经验，并成功辅导多家互联网公司成功
                        融资。
                    </p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">我们是谁</li>
                        <li>UFO理念</li>
                    </ul>
                    <div class="tab-con" style="text-align: justify">
                        <fieldset style="display:block">
                            <p>
                                郑州UFO（YOUR FIRST OFFICE）众创空间是由优埃
                                富欧科技（北京）有限公司打造，是在国家深入实施
                                创新驱动发展战略和适应经济发展新常态的大背景下
                                组建的专注于全方位助推创新创业产业的孵化平台，
                                其定位为全周期产业孵化平台，致力于通过“苗圃+
                                孵化器+加速器”的运营模式，为创业者提供组合投
                                资支持、全程创业辅导、关键合作对接、日常运营支
                                持、多元办公空间、可选增值服务等多元化的服务支
                                持，为具有创新力、成长力、有思想的新锐创业者，
                                打造会员协作式创业社区，保姆式社交联合办公室，
                                帮助新锐创业者从一个不明飞行物成长为一颗耀眼的
                                商业新星。目前，郑州UFO众创空间已于3月12日
                                在河南省郑州市高新区国家大学科技园2号楼7-9层
                                启动，3135平米WeWork风格的物理孵化空间5月
                                份正式启用，已进入项目招募甄选阶段。
                            </p>
                            <img src="/assets/public/helpclub/images/ufo/content-img1.jpg" alt="">
                        </fieldset>
                        <fieldset style="display:none">
                            <p>
                                通过创业投资、接力学院、联合基金和产业资源，协
                                助创业者最大化的实现创业梦想。专注于产业孵化，
                                通过全方位的创业服务，打造全周期产业孵化区域平
                                台。为中国培养更多优秀创业企业；与中国的创业者、
                                投资者、政府、产业机构等携手，共同打造健康、良
                                性的创业生态，助推产业升级转型。
                            </p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>UFO官网</h2>
                    <p><i class="uricon-ie"></i><em><a href="http://www.ufo1000.com/" target="_blank">http://www.ufo1000.com/</a></em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
