<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wedo</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/wedo/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/wedo/logo.jpg" alt="">
                    </div>
                    <h1>Wedo</h1>
                    <p>Wedo联合创业社是一个社区化的联合办公+孵化器；以联合办公为基础服务，用社区的理念来运营所有空间，并为创业团队提供深度孵化服务：投融资服务、技术VC、媒体直通车、专家智囊团、知名企业对接、新三板上市服务等。<br>同时，Wedo联合创业社也是：国家级众创空间、薛蛮子新三板孵化创新基地、中国联合办公TOP10空间品牌、深圳市第一批创客空间示范单位、南山“创业之星”孵化基地。</p>
                </section>
                <fieldset class="layout-item">
                    <h2>Wedo联合创业社能为创业团队提供</h2>
                    <img src="/assets/public/helpclub/images/wedo/img1.jpg" alt="">
                    <p>2017年7月，获得全球共享办公领导者优客工场的战略投资。</p>
                </fieldset>
                <fieldset class="layout-item">
                    <h2>创始人</h2>
                    <p class="text-left">蒋凌广Peter，Wedo联合创业社创始人/CEO，打造全新联合办公+孵化器的创新创业社区模式。（目前Wedo联合创业社是国家级科技孵化器、蛮子新三板孵化器、南山“创业之星”孵化基地）	；
                        <br><br>
                        法国L’institute Vatel学院管理学硕士；
                        <br><br>
                        法国Marne La Vallee大学博士第一阶段（精通中、英、法语）；
                        <br><br>
                        曾就职于意大利集团CANDY-HOOVER GROUP 担任中国区总经理（在华收购企业运作/全球财务中心设立等）；曾就职于TCL 集团担任家电事业部、数码电脑事业部海外中心总监（GE/Trane/Toshiba 等大型项目合作），跨国并购合资项目负责人；
                        <br><br>
                        （TCL-Delonghi合资公司项目等）；社会职务：中国家用电器服务协会副会长；中国家电百名专家团成员；
                        <br><br>
                        广东省电子商务协会副会长；同时于2012 年获得广东省人力资源厅颁发的“伯乐奖”；2013 年获得广东营销学会授予的“广东最具影响力的品牌策划人”。
                    </p>
                </fieldset>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-ie"></i><em>http://www.wedounion.com</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
