<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>无界空间</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/woo-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/woo-logo.png" alt="">
                    </div>
                    <h1>无界空间</h1>
                    <p>无界空间寓意为空间无界，交流亦无界，创业更无界。无界空间协助创业者应对一切办公问题，用有格调、高性价比的办公场地和高质量的服务吸引创业者，通过极富设计感的空间环境和简洁智能的工作设施，合理规划功能性、舒适性，让大家在高效工作的同时享受生活方式，令“创业+生活”紧密结合。</p>
                </section>
                <div class="layout-item swiper-wrap-hidden layout-item-tl layout-item-plrbn">
                    <h2>我们的空间</h2>
                    <!-- swiper-fixed-ratio -->
                    <div class="swiper-fixed-ratio">
                        <div class="swiper-container swiper-workstage">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work1.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">百子湾店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work2.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">三元桥店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work3.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">望京南店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work4.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">望京国际</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work5.jpeg');">
                                            <div class="center-text">
                                                <p class="text-title">朝阳大悦城店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work6.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">望京博泰店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-image-box">
                                        <a  class="swiper-image" href="javascript:;" style="background-image:url('/assets/public/helpclub/images/woo-work7.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">无界·蚂蚁公社店</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /swiper-fixed-ratio -->
                </div>
                <fieldset class="layout-item layout-item-tl">
                    <h2>我们的创始人</h2>
                    <img src="/assets/public/helpclub/images/woo-image.png" alt="">
                    <p>创始人兼CEO万柳朔（Randy） 8岁随父母移民美国，在常青藤名校康奈尔大学就读期间，Randy参与创建了全球性学生组织——全球中国连接（Global Chinese Connection），是第一批的五个理事会成员之一。曾就职于波士顿咨询集团，于2015年离职创立无界空间。联合创始人兼COO韩昕锜是Randy大学同学，毕业于康奈尔大学酒店管理专业，并以同届第一名的成绩毕业，之后进入纽约一家咨询公司从事管理咨询工作。 于2015年在Randy的鼓动下回国加入一起创业，创办无界空间。</p>
                </fieldset>
                <div class="layout-item layout-item-tl contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-more"></i><em>400-603-7986</em></p>
                    <p><i class="uricon-more"></i><em>zhangwei@wujiespace.com</em></p>
                    <p><i class="uricon-more"></i><em>http://www.wujiespace.com/index.html</em></p>
                    <p><i class="uricon-more"></i><em>北京市朝阳区曙光西里甲10号2层无界空间</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
