<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小栈教育</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/xiaozhanjiaoyu-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/xiaozhanjiaoyu-logo.png" alt="">
                    </div>
                    <h1>小栈教育</h1>
                    <p>小栈教育科技是一个具有硅谷与创业基因的公司，致力于将最新开发技术带回国内，针对国内预备以及在职创业者，准备开始学习的个人开发者，对技术感兴趣的极客们，提供一套系统的培养全栈式应用开发能力的课程体系，和各种视频内容，技术讲座和活动。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>团队介绍</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/xiaozhanjiaoyu-image1.png" alt="">
                            <p>毕业于普渡大学计算机系软件工程，硅谷顶尖风Grey Lock和Lightspeed所投的Tier 1创业公Avi Networks早期工程师，负责系统网络栈底层开发分析引擎，和云平台集成，擅长软件定义网络以及分式系统开发，也是全栈工程师。公司创立一年半即融超过3800万美金。之后成为风险投资公司丹华资本驻企业家，负责市场推广。大学期间，他在Morgan Stanley以及Microsoft有过工作经验，是一个集科技于金融于一体的人才。<br />李博文不仅对创业公司的发展历程有脚踏实地的亲身体会，也能从资本角度看创业的需求和思路。回国推广项目期间，发现现在创业公司招人的痛点和中美之间的技术隔阂，最新的开源的好技术并没有得到广泛的应用。他现在致力于把硅谷的技术和创业思路传达给国内对于技术和创新有热情的人。希望让更多的开发者自己拥有产品和市场的思路，让更多的CEO有对技术的概念与把控，让更多的希望入行的人快速掌握开发能力。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>团队及顾问由硅谷在职优秀工程师，国内外创业者构成，都来自斯坦福，卡内基梅隆等顶尖计算机高校。会根据自己擅长的项目做客座专题，范围涵盖最新技术专题：机器视觉，深度学习，VR，数据安全，物联网等等。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-erweima"></i><em>小栈教育</em></p>
                    <img src="/assets/public/helpclub/images/xiaozhanjiaoyu-image2.png" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
