<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问校友</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
    <style>
        .tab-box .yhwe-list {
            margin-bottom: 20px;
            background: none;
        }
        .tab-box .yhwe-list li {
            position: relative;
            float: none;
            padding: 0;
            padding-left: 20px;
            line-height: 26px;
            font-size: 14px;
            color: #666;
        }
        .dot {
            position: absolute;
            top: 9px;
            left: 0;
            width: 8px;
            height: 8px;
            background-color: #999;
            border-radius: 50%;
        }
    </style>
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/youheweier/banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/youheweier/logo.jpg" alt="">
                    </div>
                    <h1 style="padding: 10px 35px">优和维尔健康产业投资管理（北京）有限公司</h1>
                    <p>优和维尔健康产业投资管理（北京）有限公司是一家专
                        业从事医疗服务、健康管理、私人医疗服务的机构，企
                        业下设优和维尔综合门诊部。整合高端医师资源、高端
                        医疗技术、高端服务、高端环境，为高端人群提供高端
                        医疗服务，服务内容包括高端人群的私人医生及会诊、
                        咨询、转诊（绿色通道）、就医引荐、高端检查、健康
                        管理等新型医疗服务机构。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">公司简介</li>
                        <li>公司使命</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:none">
                            <p>基于位于长安街的实体综合门诊部，依靠专业的专家团队，关注于创造更加丰富和更具吸收力的客户体验，而进行的个体化、精准的高端健康管理和医疗服务平台。线上、线下综合服务。<br />基于移动互联网技术，构建健康服务平台和大数据员工健康管理系统。<br />以客户（患者）为中心的医疗服务，优和维尔国际医院门诊旨在为您就诊的每一个环节创造舒适、无忧的体验。我们广泛的服务和国际化的专家团队在这里为您营造一个身心宁静的医疗环境。</p>
                             <img src="/assets/public/helpclub/images/youheweier/img01.jpg" alt="">
                        </fieldset>
                        <fieldset style="display:block">
                            <p><strong>优和维尔以“健康、专业、共享”为使命</strong></p>
                            <p>让每一个生命、每一个家庭在专业医疗技术和职业团队服务下拥有健康的身心和快乐的生活。我们致力于打造全球范围内高端医疗和健康资源共享平台，为客户提供精准的健康管理、高效的就诊会诊、专业的慢病康复服务，从而成就更优生命价值。</p>
                            <ul class="yhwe-list">
                                <li><i class="dot"></i>毗邻长安街</li>
                                <li><i class="dot"></i>提供线上、线下健康管理和医疗服务</li>
                                <li><i class="dot"></i>专属定制私人医生团队健康管理（体检→评估→调理→监测）</li>
                                <li><i class="dot"></i>全球权威专家精准诊治；个体化高端医疗（医前评估→就医、专家会诊→转院对接（国内外）→医后慢病管理）</li>
                                <li><i class="dot"></i>我们的服务国际国内特色医生团队及医疗服务通道贴心高效服务（日本、美国、德国、瑞士等）。</li>
                            </ul>
                            <img src="/assets/public/helpclub/images/youheweier/img02.jpg" alt="">
                        </fieldset>
                    </div>
                </div>
                <fieldset class="layout-item layout-item-tl">
                    <h2>企业服务</h2>
                    <img src="/assets/public/helpclub/images/youheweier/img03.jpg" alt="">
                </fieldset>
                <fieldset class="layout-item layout-item-tl">
                    <h2>我们的优势</h2>
                    <img src="/assets/public/helpclub/images/youheweier/img04.jpg" alt="">
                </fieldset>
                <div class="layout-item contact-item text-left">
                    <h2>联系方式</h2>
                    <p>优客工场医务室贵宾专线：    13651052436  朱老师</p>
                    <p>优和维尔国际医疗贵宾专线： 010-65238188</p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
