<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>北京攸克文化传媒有限公司</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/youke-banner.png" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/yoyke-logo.png" alt="">
                    </div>
                    <h1>北京攸克文化传媒有限公司</h1>
                    <p>北京攸克文化传媒有限公司成立于2014年5月。由北京房地产传媒、营销领域的资深人士发起设立。微信公众号《攸克地产》是其主要产品。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">创始人</li>
                        <li>企业介绍</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">
                            <img src="/assets/public/helpclub/images/youke-image.png" alt="">
                            <p>殷苏峰，北京房地产传媒营销领域资深人士，房地产从业经历超过15年。曾任《楼市》杂志常务副总经理。现任公司董事长。</p>
                        </fieldset>
                        <fieldset style="display:none">
                            <p>攸克地产将“做房地产行业高价值信息的提供者和视野的开拓者”作为自身的产品定位。以原创为方式，提供具有价值的政策信息披露和解读；热点公司战略、运营、并购、资本运作等方面重要信息的披露和解读；对市场热点、走势的前瞻性分析；典型人物及其价值观的阐释；具有实践和推广价值的公司技术；热点公共事件的评论等内容。目前，攸克地产已经成为中国房地产自媒体领域的标杆。<br />攸克传媒在此基础上，围绕用户需求，在营销推广、培训等领域提供创新性的服务。目前已开展包括飞米商学院等在内的线上培训业务。</p>
                        </fieldset>
                    </div>
                </div>
                <div class="layout-item contact-item">
                    <h2>联系方式</h2>
                    <p><i class="uricon-tel"></i><em>010-58603800</em></p>
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
