<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>知呱呱</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/helpclub/helpclub.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div id="content">
                <section class="title-box">
                    <img src="/assets/public/helpclub/images/zhiguagua-banner.jpg" alt="" class="banner-image">
                    <div class="logo-box">
                        <img src="/assets/public/helpclub/images/zhiguagua-logo.png" alt="">
                    </div>
                    <h1>知呱呱</h1>
                    <p><strong>创始人：</strong>严长春，十多年的科技服务从业经验，擅长专利申请和运营、科技成果评价、技术咨询、成果推广转化及产业化等工作。曾荣获科技部中国技术市场金桥奖。2015年7月创办了知呱呱网站，凭借其领先的商业模式，出色的技术水平，超强的执行力以及良好的用户体验，获得了清华启迪、优客工场、创势资本、天翼资本、优投资本、方信资本、乐邦乐成等多家知名机构的联合投资，并在2015年12月被中关村管委会评选为“中关村金种子企业”。<br />2009年6月创办并带领中科合创团队，任中科合创（北京）科技推广中心主任。从一家普通的民营科技服务机构，成为在业界具有一定知名度的国家级科技服务机构。<br />在2015年4月，当选为北京技术市场协会常务理事。于此同时，还现任中关村高新技术转移促进会常务副会长兼秘书长、中国技术市场协会科技成果转化顾问委员会秘书长、中国中小企业国际合作协会常务理事、中国国际科技促进会常务理事等职务。</p>
                </section>
                <div class="tab-box">
                    <ul>
                        <li class="selected">我们是谁</li>
                        <li>呱呱理念</li>
                    </ul>
                    <div class="tab-con">
                        <fieldset style="display:block">

                            <p>知呱呱是专业提供知识产权服务和运营的电商平台，以“把创新成果转化为财富”为使命，为用户提供“一站式”的知识产权服务。</p><p>凭借其领先的商业模式，出色的技术水平，超强的执行力以及良好的用户体验，获得了清华启迪、优客工场、创势资本、天翼资本、优投资本、方信资本、乐邦乐成等多家知名机构的联合投资，并在2015年被中关村管委会评选为“中关村金种子企业”。2016年获得北京市科委中小企业促进专项资金支持以及中央引导地方科技发展专项三年滚动资金支持，并荣获“2016青年科技创新汇创新奖”。知呱呱自上线以来，各项业务得到了高速发展，每月订单量成倍增长，在业界引起了巨大反响，受到政府相关部门的高度重视，国务院参事徐锭明、北京市政府研究室、中关村管委会等领导先后来知呱呱调研指导工作。</p>
                            <img src="/assets/public/helpclub/images/zhiguagua-image1.jpg" alt="">
                        </fieldset>
                        <fieldset style="display:none">
                            <p><strong>客户至上</strong></p>
                            <p>——用心服务，注重体验；追求卓越，创造价值；</p>
                            <p><strong>专业</strong></p>
                            <p>——专业视野，经验丰富；质量保证，值得信赖；</p>
                            <p><strong>诚信</strong></p>
                            <p>——正直坦诚，求真务实；勇于担当，信守承诺；</p>
                            <p><strong>合作</strong></p>
                            <p>——以人为本，高效沟通；快速执行，团队协作；</p>
                            <p><strong>创新</strong></p>
                            <p>——拥抱变化，不断探索；勇于尝试，推陈出新。</p>
                        </fieldset>
                    </div>
                </div>
                <fieldset class="layout-item">
                    <h2 class="layout-item-tl">懂你所需  做你所想</h2>
                    <p>知呱呱将“服务质量、服务效率、用户体验”作为知呱呱的生命线。通过对知识产权服务进行深入研究，建立了统一的服务流程和服务标准，制定了严格的质量标准控制体系，并通过互联网技术手段，实现了案件的智能化管理和案件进度信息的实时自动推送。彻底解决了传统知识产权服务业长久以来存在的信息不对称、收费不透明、服务效率低、质量难保证等诸多顽疾，让用户的知识产权保护在阳光下进行，让用户真正享受到专业、安全、快捷、高性价比的服务。</p>
                    <p>知呱呱既汇聚了一批来自北大方正、腾讯、百度等一线互联网公司的核心技术骨干，又汇聚了一批前国家知识产权局的资深审查员、知名传统代理机构高管等知识产权专家加入，将互联网技术与知识产权服务完美融合，让复杂的知识产权保护变得像网上购物一样简单方便，用户只需要在线注册、在线下单、在线付款，线下就有专业团队为其提供服务。在创新路上，知呱呱将坚守使命，始终陪伴大家，为您的创新成果提供法律保障，实现知识产权价值最大化！</p>
                </fieldset>
                <div class="layout-item contact-item">
                    <h2 class="layout-item-tl">联系方式</h2>
                    <p><i class="uricon-erweima"></i><em>知呱呱</em></p>
                    <img src="/assets/public/helpclub/images/zhiguagua-image2.png" alt="">
                </div>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/helpclub/helpclub.js"></script>
</body>

</html>
