<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/plugins/simditor/styles/simditor.css">
    <link rel="stylesheet" href="/assets/public/notice/styles/notice-detail.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <section class="article-layout">
                <header>
                    <h1>生鲜丰富华北“菜篮子”</h1>
                    <p><time>2016/4/7  15:43</time><span class="author">优客工场</span></p>
                </header>
                <article class="editor-style">

                </article>
            </section>
        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->
    @import "goto.tpl"
    @import "footer-common.tpl"
</body>

</html>
