<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/payment/confirmpayment.css">
</head>
<body style="background: #f0f0f0;">
    <!-- header -->
    <header id="header" class="header-def">
        <!-- titlebar -->
        <div id="titlebar">
            <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
            <span class="title">标题</span>
        </div>
        <!-- /titlebar -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="img-show">
            <span style="background-image: url('http://m.urwork.cn/assets/public/index/images/news/news-01.jpg?0508')"></span>
        </div>
        <div class="content">
            <h2><span class="f-fl">宝宝滋润清爽季体验门票</span><span class="f-fr">￥200</span></h2>
            <p><i class="uricon uricon-flag"></i><span>宝宝滋润清爽季</span></p>
            <p><i class="uricon uricon-time"></i><span>05/08 00:00-05/31 00:00</span></p>
            <p><i class="uricon uricon-locationB"></i><span>方圆大厦·优客工场</span></p>
        </div>
        <dl>
            <dt>支付方式</dt>
            <dd><i class=" f-fl zhifubao"></i><span>支付宝</span><i class="right f-fr"></i></dd>
        </dl>
        <div class="content-footer">
            <div>
                实付：<span class="money">￥120</span>
                <a  href="javascript:void (0)" class="give-money">立即支付</a>
            </div>
        </div>
    </main>
</body>
</html>
