@charset "UTF-8";

@import 'variable';
@import 'mixins';
@import 'plugins/swiper';
@import 'chip/piclist';
@import 'common';


.layout-item{
    .layout-item-title{
        h2{
            font-size: 18px;
            font-weight: 600;
        }
        aside{
            font-size: 12px;
            line-height: 30px;
            a{
                color: #999;
            }
        }
    }
}
.swiper-fixed-ratio .swiper-container{
    overflow: visible;
    .piclist-item{
        margin-right: 8px;
    }
}
.swiper-text-box{
    padding-top: 15px;
    .text-title{
        display: flex;
        justify-content: space-between;
        h2{
            width: 63%;
            @include text-overflow;
            font-size: 15px;
            font-weight: 600;
        }
        p{
            color: #666;
        }
        span{
            color: #fd6e37;
        }
    }
    .text-tip{
        color: #666;
        width: 80%;
        @include text-overflow;
        line-height: 24px;
        font-size: 12px;
    }
    .text-desc{
        font-size: 12px;
        color: #999;
    }
}

.banner-image-box {
    @include fixed-ratio-box(53.33334);
    .banner-image {
        @include fixed-ratio-inner;
    }
}
.book-main{
    padding: 27px 20px 18px;
}
.icon-list{
    .icon-wrap{
        position: relative;
        width: 30px;
        height: 30px;
    }
}
.like-item{
    @include clearfix;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 10px;
    .like-pic{
        float: left;
        width: 85px;
        height: rem(170);
        margin-right: 14px;
        background: #f5f5f5 url("#{$placehold_img}") no-repeat center;
        background-size: 72%;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
    }
    .like-text{
        float: left;
        width: calc(100% - 99px);
        h2{
            @include text-overflow;
            width: 100%;
            padding: 3px 0;
            font-weight: 600;
        }
        p{
            @include text-overflow;
            width: 100%;
            color: #666;
            font-size: 12px;
        }
        .btn-primary-market{
            margin-top: rem(22);
            width: rem(130);
            line-height: rem(44);
            height: rem(46);
            border-radius: 28px;
            font-size: 11px;
            background-color:#ffd53d;
        }
    }
}
.book-station .piclist-item .piclist-image-box::before{
    padding-top: 55.970%;
}
.book-meetingRoom .piclist-item .piclist-image-box::before{
    padding-top: 55.970%;
}
.book-place .piclist-item .piclist-image-box::before{
    padding-top: 55.970%;
}
.book-community .piclist-item .piclist-image-box::before{
    padding-top: 122.010%;
}

.book-community{
    .piclist-item{
        position: relative;
    }
    .community-text-box{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,.3);
        color: #fff;
        padding: 10px 8px;
        h2{
            font-size: 15px;
            width: 100%;
            @include text-overflow;
        }
        .community-tip{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 12px;
            }
        }
    }
}
