<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/index/modules.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- main -->
        <main id="main">
            <!-- slide -->
            <div class="swiper-container index-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /slide -->
            <!-- open-door -->
            <div class="open-door">
                <button class="open-door-btn">开门</button>
            </div>
            <!-- /open-door -->
            <!-- index-user -->
            <section class="layout-item index-user">
                <h1><em>常宇常宇常宇常宇常宇常宇常宇常宇</em>，今天在哪里办公？</h1>
                <ul>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-bgw"></i>
                            <p>订工位</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-hys"></i>
                            <p>订会议室</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-cd"></i>
                            <p>订场地</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-yjfk"></i>
                            <p>意见反馈</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /index-user -->
            <section class="layout-item">
                <header class="layout-item-title">
                    <a class="link-btn" href="javascript:;">预约参观</a>
                    <h2><a href="javascript:;">优客社区<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-workstage">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">北京</p>
                                                <p>25 个社区</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');">
                                            <div class="center-text">
                                                <p class="text-title">天津</p>
                                                <p>20 个社区</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">精彩活动<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-activity">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                    </div>
                                    <a href="javascript" class="outer-text">心理工作坊情商训练营</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></a>
                                    </div>
                                    <a href="javascript" class="outer-text">心理工作坊情商训练营</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">优客支持<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="btn-list">
                    <li><em class="hot-tip">HOT</em><a href="javascript:;">投融资</a></li>
                    <li><a href="javascript:;">法律</a></li>
                    <li><a href="javascript:;">财务</a></li>
                    <li><a href="javascript:;">财税</a></li>
                    <li><a href="javascript:;">人力资源</a></li>
                    <li><a href="javascript:;">政务</a></li>
                    <li><a href="javascript:;">营销推广</a></li>
                    <li><a href="javascript:;">更多</a></li>
                </ul>
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <a class="link-btn gap" href="javascript:;"><b></b><em class="hot-tip">9</em><i class="uricon-more"></i>优惠券</a>
                    <h2><a href="javascript:;">为您推荐<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-recommend">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                    </div>
                                    <a href="javascript" class="outer-text-box">
                                        <p class="outer-title">阳光100社区</p>
                                        <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场</p>
                                        <p class="outer-price">&yen;50/天</p>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></a>
                                    </div>
                                    <a href="javascript" class="outer-text-box">
                                        <p class="outer-title">阳光100社区阳光100社区阳光100社区阳光100社区</p>
                                        <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场北京市光华路2号阳光100D座B1优客工场</p>
                                        <p class="outer-price">&yen;50/天</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">优客资讯<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>
            <a href="javascript:;" class="crosswise-full-btn">
                <button type="button">加入会员，享更多特权</button>
            </a>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/scripts/base.js"></script>
    <script src="/assets/public/scripts/public.js"></script>

    <!-- build:js /public/index/index.js -->
    <script src="../../public/plugins/jquery.swiper.js"></script>
    <script src="modules.js"></script>
    <!-- endbuild -->
</body>

</html>
