<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>投融资首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/financeServer/financeServer.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <!-- slide -->
            <div class="swiper-container main-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /slide -->
            <!-- layout-item -->
            <section class="layout-item layout-item-financeserver">
                <ul class="icon-list">
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-zxm"></i>
                            <p>找项目</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-ztz"></i>
                            <p>找投资</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /layout-item -->
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2>热门项目</h2>
                </header>
                <div class="quare-list">
                    <div class="pictextbtn-item">
                        <a href="javascript:;" class="btn">＋ 关注</a>
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title pictextbtn-title-pr">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                        <p class="pictextbtn-detail">真实故事IP运营</p>
                    </div>
                    <div class="pictextbtn-item">
                        <a href="javascript:;" class="btn">＋ 关注</a>
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title pictextbtn-title-pr">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                        <p class="pictextbtn-detail">真实故事IP运营</p>
                    </div>
                    <div class="pictextbtn-item">
                        <a href="javascript:;" class="btn">＋ 关注</a>
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                        <p class="pictextbtn-detail">真实故事IP运营</p>
                    </div>
                </div>
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <aside>
                        <a class="btn" href="javascript:;">成为投资人</a>
                    </aside>
                    <h2>热门投资人</h2>
                </header>
                <div class="circle-list">
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京天使／北京天使／北京天使／北京天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em><em>标签名</em><em>标签名</em><em>标签名</em></p>
                            </dd>
                        </dl>
                    </div>
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                    </div>
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                    </div>
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">农夫良品</p>
                                <p class="pictextbtn-desc">天使／北京</p>
                                <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/financeServer/financeServer.js"></script>
</body>

</html>
