<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>服务首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/financeServer/financeServer.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <!-- slide -->
            <div class="swiper-container main-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title="" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /slide -->

            <!-- layout-item -->
            <section class="layout-item layout-item-financeserver">
                <ul class="icon-list">
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-fws"></i>
                            <p>服务商</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-trz"></i>
                            <p>投融资</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-hqzc"></i>
                            <p>获取支持</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /layout-item -->

            <section class="layout-item">
                <header class="layout-item-title">
                    <h2>获取支持</h2>
                </header>
                <ul class="support-list">
                    <li><span>投融资</span></li>
                    <li><span>法律</span></li>
                    <li><span>财政</span></li>
                    <li><span>财税</span></li>
                    <li><span>人力资源</span></li>
                    <li><span>政务</span></li>
                    <li><span>营销推广</span></li>
                    <li><a href="javascript:;">更多</a></li>
                </ul>
            </section>

            <section class="layout-item">
                <header class="layout-item-title">
                    <!--<aside>-->
                        <!--<a class="btn" href="javascript:;">成为服务商</a>-->
                    <!--</aside>-->
                    <h2>精选服务商</h2>
                </header>
                <div class="rectangle-list">
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">优和维尔健康产业投资管理（北京）</p>
                                <p class="pictextbtn-tip"><em>医疗</em><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                        <dl class="bigimage">
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <div class="pictextbtn-info">
                                    <p class="pictextbtn-title">品牌系统服务</p>
                                    <p class="pictextbtn-desc">阳光100·优客工场，阳光100·优客工场阳光100·优客工场阳光100·优客工场阳光100·优客工场</p>
                                </div>
                                <a href="javascript:;" class="btn btn-primary">查看详情</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="pictextbtn-item">
                        <dl>
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <p class="pictextbtn-title">优和维尔健康产业投资管理（北京）</p>
                                <p class="pictextbtn-tip"><em>医疗</em><em>娱乐</em><em>标签名</em></p>
                            </dd>
                        </dl>
                        <dl class="bigimage">
                            <dt>
                                <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                            </dt>
                            <dd>
                                <div class="pictextbtn-info">
                                    <p class="pictextbtn-title">品牌系统服务</p>
                                    <p class="pictextbtn-desc">阳光100·优客工场，阳光100·优客工场阳光100·优客工场阳光100·优客工场阳光100·优客工场</p>
                                </div>
                                <a href="javascript:;" class="btn btn-primary">查看详情</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title ">
                    <!--<aside>-->
                        <!--<a class="btn" href="javascript:;">成为投资人</a>-->
                    <!--</aside>-->
                    <h2>热门投资人</h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container circle-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                            <a href="javascript:;" class="disabled">小牛电动</a>
                                            <a href="javascript:;">悦跑圈</a>
                                            <a href="javascript:;" class="disabled">拉勾网</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                            <a href="javascript:;" class="disabled">小牛电动</a>
                                            <a href="javascript:;">悦跑圈</a>
                                            <a href="javascript:;" class="disabled">拉勾网</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                            <a href="javascript:;" class="disabled">小牛电动</a>
                                            <a href="javascript:;">悦跑圈</a>
                                            <a href="javascript:;" class="disabled">拉勾网</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                            <a href="javascript:;" class="disabled">小牛电动</a>
                                            <a href="javascript:;">悦跑圈</a>
                                            <a href="javascript:;" class="disabled">拉勾网</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pictextbtn-item">
                                    <dl>
                                        <dt>
                                            <span style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg')"></span>
                                        </dt>
                                        <dd>
                                            <p class="pictextbtn-title">孙培麟 <span>北京倾成投资</span></p>
                                            <p class="pictextbtn-tip"><em>娱乐</em><em>标签名</em></p>
                                        </dd>
                                    </dl>
                                    <div class="pictextbtn-detail">
                                        <p class="pictextbtn-detail-title">投资项目</p>
                                        <div class="pictextbtn-detail-list">
                                            <a href="javascript:;">ICR人工智能投票</a>
                                            <a href="javascript:;">秘境 LocationHunter</a>
                                            <a href="javascript:;" class="disabled">小牛电动</a>
                                            <a href="javascript:;">悦跑圈</a>
                                            <a href="javascript:;" class="disabled">拉勾网</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->

            </section>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/financeServer/financeServer.js"></script>
</body>

</html>
