<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>服务首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/financeServer/financeServer.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="entrance-list">
                <h1>选择您需要的帮助类型</h1>
                <ul>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>人力资源服务</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>财税会计服务</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>品牌宣传推广</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>投融资对接</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>IT支持</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="uricon-arrow-right"></i><span>其他</span></a>
                    </li>
                </ul>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/scripts/base.js"></script>
    <script src="/assets/public/scripts/public.js"></script>
    <script src="/assets/public/financeServer/financeServer.js"></script>
</body>

</html>
