<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>“彩云之滇·匠心传橙”2017深潜训练营活动合同</title>
    @import "meta.tpl"
</head>
<body>
    <article class="agree-text">
        <h1 style="text-align: center; padding: 20px;margin-bottom: 0;">“彩云之滇·匠心传橙”2017深潜训练营活动合同</h1>
        <section>
            <ul style="margin-bottom: 30px">
                <li>
                    甲方：
                </li>
                <li>
                    注册号：
                </li>
                <li>
                    联系电话：
                </li>
                <li>
                    联系地址：
                </li>
            </ul>
            <ul>
                <li>
                    乙方：深圳市深潜教育培训有限公司
                </li>
                <li>
                    注册号：440301112365333
                </li>
                <li>
                    联系电话：
                </li>
                <li>
                    联系地址：
                </li>
            </ul>
            <p>（甲方与乙方以下合称为「双方」）</p>
        </section>
        <section>
            <h2 style="text-align: center">前言</h2>
            <ul>
                <li>
                    1.Deep Dive深潜褚橙营是乙方组织的企业家培训活动，旨在帮助企业家通过一系列体育、领导力、文化等挑战，实现自我突破与发现。
                </li>
                <li>
                    2.乙方规划将于云南地区举办Deep Dive深潜训练营(以下称「本活动」），甲方自愿报名参加本活动，成为本活动的学员。
                </li>
            </ul>
        </section>
        <section>
            <p>
                有鉴于此，为明确双方的权利义务，双方根据《中华人民共和国合同法》等有关规定，在自愿、平等、互利的基础上，就本活动相关事宜，签署本Deep Dive深潜训练营（云南行程）活动合同（以下称「本合同」）达成如下协议︰
            </p>
            <dl>
                <dt>一.合同期间</dt>
                <dd>1.本合同自双方均签署完成之日起生效。</dd>
                <dd>2.除本合同解除或终止外，本合同期间届满日与第二条所定之活动期间届满日相同。</dd>
            </dl>
            <dl>
                <dt>二.活动时间与活动安排</dt>
                <dd>1.自2017年  月  日起至2017年   月    日止，共4日。具体以乙方通知时间为准。双方确认乙方的组织活动自上述起始日当日甲方抵达昆明长水机场并与乙方人员会合时开始（如甲方并非搭乘乙方指定之航班者，则于甲方自行抵达乙方指定之本活动起始地点时开始），至甲方离开乙方指定之本活动结束地点时终止。</dd>
                <dd>2.本活动相关日程与安排，如附件1所载，于本活动开始前，乙方若变更日程与安排，应修改附件1内容并通知甲方，本活动之日程与安排以乙方最终确认之版本为准；于活动期间，乙方亦得依据现场状况，与甲方沟通后，对活动日程与安排进行必要之调整。</dd>
            </dl>
            <dl>
                <dt>三.活动费用</dt>
                <dd>1.本活动费用为人民币壹万玖仟捌佰圆整（RMB19,800）。</dd>
                <dd>2.本活动费用之包括与不包括事项，详如附件2所载。</dd>
            </dl>
            <dl>
                <dt>四.付款安排</dt>
                <dd>1.付款：甲方应在优客工场平https://www.urwork.cn/activity/detail?id=1358报名及付款后，方视为完成本活动之报名程序。如甲方逾期未足额支付活动费用，乙方有权单方解除本合同，并不承诺保留学位。已收取费用不予退还。</dd>
                <dd>
                    2.账户：乙方指定账户如下：</br>
                        户名：深圳市深潜教育培训有限公司</br>
                        开户行：中国银行深圳东部支行营业部</br>
                        账号：770564946428</br>
                        备注：[姓名]2017褚橙营
                </dd>
                <dd>3.发票：乙方均应于确认款项入帐后7日内开立增值税普通发票，并寄送至甲方指定地址。</dd>
            </dl>
            <dl>
                <dt>五.甲方义务</dt>
                <dd>1.甲方应按时将本活动费用给付予优客工场平台，并配合乙方之安排，全程参与本活动。如在本活动进行期间，甲方因个人家庭或公务而必须退出本活动，应立即告知乙方人员并以书面通知乙方，以便乙方对其他参加者之训练课程做出妥善调整，并且不得向乙方请求退费。</dd>
                <dd>2.乙方将为学员购买个人旅游保险基础套装一份，乙方应采取一切必要措施和手段在合同约定课程时间和地点内，确保甲方人身和财产安全。甲方于本活动期间应注意人身财产安全、妥善保管自己的证件及行李物品。乙方将尽一切努力提醒、防止各种意外事件发生；乙方将运用自己的一切资源，积极协助配合甲方处理甲方在当地所遇到的各种事宜，如甲方发生人身意外或随身携带物品遗失、被盗、被抢等情况，相关的责任、费用及损失由甲方自行负担，乙方对于甲方之损失不负担赔偿责任。于发生前述事件时，甲方应保留有关的单据和证明文件，自行依照相关机构（如航空公司、保险公司）所订立的赔偿条例处理。乙方将对此全力协助和配合。</dd>
                <dd>3.于本活动进行中，甲方应遵守和服从工作人员的安排，谨遵工作人员和安全提示和指导，与工作人员一起做好安全防范工作。甲方应遵守法律与规定，如甲方法律、法规而被罚、被拘留、或被追究其他刑事、民事责任的，一切责任和费用由甲方自负。乙方承诺积极协助维护甲方合法权益并协助有关机构查明事宜，惟对于相关之责任或损害不负任何责任。</dd>
                <dd>4.乙方接待人员是本活动的组织协调者，甲方在本活动期间应服从乙方接待人员的安排。</dd>
                <dd>5.甲方于本合同签订时已确实却阅读并同意本合同附件2「甲方声明书」之内容，并于本合同签订同时在甲方声明书上签名，就甲方已声明同意之事项不得再对乙方为任何相反之请求或主张。</dd>
            </dl>
            <dl>
                <dt>六.乙方义务：</dt>
                <dd>1.乙方应秉持专业与最大诚意安排本活动之行程，确保本活动之质量。如因甲方不配合乙方指示之方式与地点进行本活动，或因甲方个人行为而导致本活动无法顺利进行，乙方对此不负担任何责任。</dd>
                <dd>2.如由于乙方在接待中安排不当而导致课程及活动无法进行造成的经济损失由乙方承担。因可归责于乙方之事由致甲方不能成行（因不可抗力导致的延期出发不在此列），乙方应将甲方所交费用如数退还，但无须另外做出赔偿。</dd>
                <dd>3.乙方不承担对甲方陪同的家属成员提供行程安排的责任，但在力所能及的范围内会为甲方家属的合理要求提供建议参考。对于甲方陪同的家属成员行程安全等问题，双方一致同意适用本合同第五条的第2、3、4、款之内容。</dd>
                <dd>4.遇其它特殊情况，甲乙双方通过协商解决。 </dd>
            </dl>
            <dl>
                <dt>七.免责事项</dt>
                <dd>1.本条款下的「第三方」系指在办理该训练营中除甲乙双方外活动涉及的其他机构、企业及个人，包括但不限于发照机关、饭店、餐厅、及其它。</dd>
                <dd>2.甲方在考察中购物及参加各种自定项目等属个人行为，买卖自由，风险自担。由此发生的损失及纠纷，由甲方自行承担和解决，乙方不负责任何直接或间接责任。</dd>
                <dd>3.如因第三方之原因而致甲方或乙方受到损失者，甲方应配合乙方采取积极措施防止损失扩大，如甲方未配合乙方及时采取措施，致使损失扩大，甲方无权就扩大的损失请求赔偿。 </dd>
                <dd>如因甲方未按期支付团款而导致行程更改或费用增加等一切损失将由甲方负责承担。</dd>
            </dl>
            <dl>
                <dt>八.保密义务</dt>
                <dd>1.双方对于本合同之内容，以及因本合同而取得或得知他方之资讯(包括但不限于商业资讯、财务状况、客户资料、技术文件、活动设计概念、文案、图像、影音等资讯），均视为营业秘密或机密资讯，双方与其公司负责人、董事、监察人与受雇人等，均负有保密义务，除因与第三方合作执行本合同内容之必要者外，不得泄漏予第三人得知。</dd>
                <dd>2.如一方泄漏因本合同所取得或得知之他方营业秘密或机密资讯，致生损害于他方者，对他方之损害负赔偿责任。</dd>
                <dd>3.本条所约定之双方保密义务不因本合同之终止或解除而终止。</dd>
            </dl>
            <dl>
                <dt>九.不可抗力</dt>
                <dd>1.本合同执行时，如因 洪水、地震、火山爆发、海啸、台风、瘟疫、政变、战争、难民潮、恐怖袭击或其他不可预见之不可抗力因素致使合同无法履行时，如果甲方或乙方认为不可抗力发生并影响其履行本合同义务，应在第一时间通知他方，并在不可抗力发生后的10日内提交书面证明材料。按照不可抗力对履行合同影响的程度，由双方协商决定是否免除或者部分免除合同义务，或者延期履行合同。</dd>
                <dd>2.如发生不可抗力事由，而经乙方评估仍能进行本活动者，乙方有权于向甲方适当说明后变更本活动之地点、日期或做其他适当安排，因此而超出的费用应由甲方承担、节省的费用应退还甲方。如甲方对乙方之变更不同意时，由双方通过友好协商解决之。</dd>
                <dd>3.不可抗力发生时，任何一方均不能被视为违约或不履行本合同义务。不可抗力发生在本合同签订后、本活动开始前者，乙方应退还甲方已付之费用；不可抗力发生在本活动期间者，乙方无须退还甲方任何费用。</dd>
            </dl>
            <dl>
                <dt>十.合同之解除或终止</dt>
                <dd>1.乙方得于本合同签订后对甲方的资格进行审核，如经审核认为甲方不适合参与本活动，乙方得解除本合同，并将甲方已给付之费用在扣除乙方已产生之费用后返还予甲方。</dd>
                <dd>2.甲方如欲于本活动开始前单方终止本合同，应于5个工作日前以书面通知乙方。除事前已与乙方协商并经乙方同意者外，就已支付之费用不得向乙方请求返还。</dd>
                <dd>3.乙方如欲于本活动开始前单方终止本合同，应于5个工作日前以书面通知甲方。除合同之终止系因可归责于甲方之事由者外，乙方应于10个工作日内返还甲方已给付之费用。</dd>
                <dd>4.一方若有违反本合同之情事，若违约之情形得补正者，他方得以书面定合理期间通知违约方补正，若依性质不能补正、或违约方逾期未补正或拒绝补正者，他方得终止解除本合同，并请求违约方赔偿所受之损害。</dd>
            </dl>
            <dl>
                <dt>十一.  法律适用与争议解决</dt>
                <dd>1.本合同适用中华人民共和国（为本协议目的，不包括香港、澳门、台湾地区）法律。</dd>
                <dd>2.凡因本合同引起的或与本合同有关的任何争议，双方应先秉持最大善意协商，如无法通过协商处理，则应提交华南国际经济贸易仲裁委员会（又称“深圳国际仲裁院”）解决，并以仲裁决定为最终结果，双方均不得再争执。</dd>
            </dl>
            <dl>
                <dt>十二.  其他</dt>
                <dd>1.本合同所称之「书面」，包含信件、传真、电子邮件、微信讯息（必须同时发给乙方所设置之公众账号及乙方指定之联系人员，方视为合法通知）等在内。</dd>
                <dd>2.本协议书所称之日，如未表明为「工作日」者，皆为日历日。</dd>
                <dd>3.如因履行本合同，而衍生之任何税捐或政府规费，甲方与乙方各自依法负担。</dd>
                <dd>4.本合同构成双方之完整合意，并取代任何以往有关本活动之口头或书面之协商、承诺、约定等。</dd>
                <dd>5.本合同之附件视为本合同之一部份，与本合同具有相同效力。</dd>
                <dd>6.本合同之任何条款，倘部份条款因故无效或无法履行，不影响其他条款之效力，其它条款继续有效。</dd>
                <dd>7.本合同正本共一式二份，双方各执一份为凭。</dd>
            </dl>
            <p style="text-align: right">[本行以下无正文]</p>
        </section>
        <section>
            <p>立合同人：</p>
            <table border="1">
                <col width="50%">
                <col>
                <tr>
                    <td>甲方：</td>
                    <td>乙方：深圳市深潜教育培训有限公司</td>
                </tr>
                <tr>
                    <td>身份证号：</td>
                    <td>注册号︰440301112365333 <br/>
                        法人代表：
                    </td>
                </tr>
                <tr>
                    <td>日期：</td>
                    <td>日期：</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>附件1  活动费用之包含与不包含项目</h2>
            <ul>
                <li>本活动之费用包括：</li>
                <li>•交通：训练营活动期间学员集体出行地面交通费。</li>
                <li>•用餐：行程中三次早餐、午餐及晚餐（不包含学员每天早中晚三餐及自由活动时间的用餐）。用餐为统一安排，包含适量酒水。甲方人员若有特殊饮食需求，需于训练营活动时间开始至少两周前通知乙方予以调整。若甲方人员因个人饮食偏好考虑，选择不食用训练营所安排之伙食，甲方需自行承担所有额外费用，乙方不予以退费。</li>
                <li>•酒店：训练营活动期间住宿费用；</li>
                <li>•课程：文化讲座课程、特邀嘉宾讲座。</li>
                <li>•个人旅游保险一份。</li>
                <li>•防晒用品</li>
                <li>•路途中的必备生活物资（水、水果等）</li>
            </ul>
            <p>训练营活动期间，除因不可抗力原因如天灾、疾病等紧急因素外，学员放弃参加活动或者如因自身原因未能参加活动项目的，相关费用概不退还。</p>
            <ul>
                <li>本活动之活动费用不包括：</li>
                <li>•抵达/离开云南的机票：甲方需自行购买机票前往，于乙方所指定时间抵达指定地点。甲方应尽早购买机票避免购票紧张。乙方于出发日期之前提供统一的参考航班信息给甲方。</li>
                <li>•整个活动期间的酒水和自由活动时间（非统一安排的集体活动）的交通、门票、饮食等相关费用。</li>
                <li>•洗衣、电话传真、收费电视、烟酒等个人消费。当地购物时请慎重考虑，自行保存好所有的购物票据。</li>
                <li>•因交通延阻、战争、政变、罢工、天气、飞机机器故障、航班取消或更改时间等不可抗力原因所引致的额外费用。</li>
                <li>•团队活动中非特殊情况擅自离团（自由活动除外）造成的损失和额外费用由甲方自行承担。</li>
                <li>•甲方亲友随行、探视产生的一切额外费用由甲方自行承担。</li>
                <li>•总费用以外甲方的其他自费项目及活动费用。</li>
                <li>未列举于本活动费用包括项目之其他一切费用，均由甲方自行负担。</li>
            </ul>
        </section>
        <section>
            <h2>附件2  甲方声明书</h2>
            <p>甲方确认已阅读以下免责声明，已明白无误地知悉、理解和掌握本免责声明及授权的全部内容和含义并确认符合要求并完全接受。</p>
            <ul>
                <li>1.甲方保证自身身心健康，无疾病、伤残或其他可能影响参加附件活动和比赛的情形，并保证在报名时向活动组织方出示相关证明，包括个人基本信息状况说明，真实合法有效且无任何隐瞒；</li>
                <li>2.甲方需应乙方要求出具近期体检报告作为信息收集需要。具体报告项目要求乙方会尽快提供。</li>
                <li>3.甲方对附件活动和比赛及其他相关情形的风险性及可能带来的不利后果已有充分认识；</li>
                <li>4.活动期间，甲方服从活动组织方的安排，凡因个人私自行动或因隐瞒个人实际情况（病史、身体状况及其他状况）而造成的一切后果，由本人承担完全责任；</li>
                <li>5.甲方免除乙方、活动组织方、主办方以及与活动工作人员的相关责任，使其免受由于本人在非活动期间和非乙方组织的活动事项，以及活动期间或者活动事项中因甲方原因所遭受的损失、财产损坏、受伤、疾病或死亡而主张的任何索赔。</li>
                <li>6.甲方认真阅读并充分了解肖像权使用声明（附件：肖像权使用协议）并明确5人以上即为群体照片，乙方（在有80%成员都签署同意肖像使用协议的前提下）有权使用其作为宣传用途。</li>
                <li>7.甲方了解参加训练营可以携带家属的规定，但声明不会因家属原因影响本人参与集体训练、课程学习和课后讨论等集体活动，服从训练营安排。</li>
            </ul>
            <p style="text-align: right">声明人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               （签名）</p>
            <p style="text-align: right">2017年  &nbsp;&nbsp;&nbsp;  月   &nbsp;&nbsp;&nbsp; 日</p>
        </section>
        <section>
            <h2>附件3  肖像权授权协议</h2>
            <p>  授权方为自愿报名参加Deep Dive《深潜训练营》的学员，愿意向被授权方深圳市深潜教育培训有限公司授权使用肖像。双方本着平等、自愿的原则，经协商订立本协议，并共同遵守。</p>
            <ul>
                <li>一.本人            (以下简称「授权方」) 授权深圳市深潜教育培训有限公司(以下简称「被授权方」)对于2017年授权方参与被授权方所组织举办的Deep Dive《深潜训练营》活动所拍摄的活动照片和视频中带有授权方肖像和文字的活动宣传记录片享有永久使用权，被授权方有权用于广告、新闻、出版等用途。相关照片和视频作品的知识产权和著作权归被授权方所有。</li>
                <li>二.被授权方可以自行或授权第三方根据需要将前述作品做合理修改、加工，包括增加文字或其它描述性语言，并将修改后的作品用于广告、新闻、出版等用途，授权方承诺不会加以限制，不要求被授权方另行支付报酬。</li>
                <li>三.被授权方、被授权关联公司以及代表被授权方利益的第三方，均有权在对Deep Dive《深潜训练营》及相关事宜（包括但不限于Deep Dive《深潜训练营》相关活动，下同）进行宣传时，将前述作品在各种媒介上（包括但不限于报纸、杂志、互联网、电视广告等）使用，用于所有合法的商业和非商业用途，同时无使用次数、期限、地域的限制。但被授权方不得自行或授权第三方将带有本人肖像的视频或者照片用于任何不道德或非法用途。</li>
                <li>四.授权方授权被授权方以及被授权方关联公司以及代表被授权方利益的第三方参与Deep Dive《深潜训练营》及相关事宜的任何报导或资料中免费使用授权方的姓名、其它个人信息、照片、个人形象等，授权方今后不得就此次拍摄的图像视频/摄影等前述作品的肖像权、姓名权、隐私权、名誉权、使用权等问题向被授权方及被授权方授权使用的第三方提出任何要求或诉讼。</li>
                <li>五.本协议中未尽事宜，均遵照中华人民共和国相关法律规定执行。</li>
                <li>六.争议解决：本协议适用中华人民共和国法律（不包括香港、澳门特别行政区法律）。凡因本协议引起的或与本协议有关的任何争议，均应提交华南国际经济贸易仲裁委员会解决。</li>
                <li>七.本协议一式两份，授权方及被授权方各执一份，自双方签字盖章之日起生效。本合同中所列授权方、被授权方的地址即为各方的收件地址。通过快递或邮寄方式发出的通知，自通知到达对方时生效（对方未收到的，自通知发出后第四日起自动视为送达）。</li>
            </ul>
            <p style="padding-top: 10px">
                授权方（签字）：<br/>
                身份证号：<br/>
                日 期：
            </p>
            <p>
                被授权方：深圳市深潜教育培训有限公司<br/>
                法定代表人: Nan Feng<br/>
                日 期：
            </p>
        </section>
    </article>
</body>
</html>
