@charset "UTF-8";
// clearfix

@mixin clearfix-mixin() {
    &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

%clearfix {
    @include clearfix-mixin;
}
// 在父级调用 clearfix 混合，即可清除浮动
@mixin clearfix() {
    // @extend %clearfix;
    @include clearfix-mixin;
}
