<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>阳光100长租帐户</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/enterprise/styles/sub-account-detail.css">
</head>

<body class="gray-bg" no-downloadbar>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <div class="packages-banner">
            <div class="packages-banner-inner">
                <div class="packages-banner-text">
                    <a class="packages-banner-text-item" href="./coupons.html">
                        <p>帐户余额 (元)</p>
                        <bigger>200.00</bigger>
                        <button class="btn account-detail">账户明细</button>
                    </a>
                </div>
            </div>
        </div>

        <section class="layout-item">
            <header class="layout-item-title">
                <aside>
                    <a class="btn-link" href="./account-details.html">更多<i class="uricon-arrow-right"></i></a>
                </aside>
                <h2><a href="javascript:;">账户明细</a></h2>
            </header>
            <ul class="account-list">
                <li>
                    <a href="#">
                        <div class="account-item">
                            <div class="desc-wrap">
                                <p class="desc-price-center">-&nbsp;&yen;200.00 </p>
                            </div>
                            <div class="info-wrap">
                                <div class="time-wrap">
                                    <p>02-27</p>
                                    <p>25:05</p>
                                </div>
                                <div class="user-info-wrap">
                                    <div class="img-wrap">
                                        <img class="image" src="http://7xp26u.com1.z0.glb.clouddn.com/158cf683-0d37-40d1-991c-be904a825869.jpg" alt="" src="http://7xp26u.com1.z0.glb.clouddn.com/158cf683-0d37-40d1-991c-be904a825869.jpg?imageMogr2/thumbnail/!670x376r/gravity/Center/crop/670x376">
                                    </div>
                                    <p>张晓旭旭</p>
                                </div>
                            </div>
                            <div class="text-wrap">
                                <h6 class="text-title">预订工位</h6>
                                <p>阳光100 B1层 A3区</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="account-item">
                            <div class="desc-wrap">
                                <p class="desc-price-center">-&nbsp;&yen;1000.00 </p>
                            </div>
                            <div class="info-wrap">
                                <div class="time-wrap">
                                    <p>02-27</p>
                                    <p>25:05</p>
                                </div>
                                <div class="user-info-wrap">
                                    <div class="img-wrap">
                                        <img class="image" src="http://7xp26u.com1.z0.glb.clouddn.com/158cf683-0d37-40d1-991c-be904a825869.jpg" alt="" src="http://7xp26u.com1.z0.glb.clouddn.com/158cf683-0d37-40d1-991c-be904a825869.jpg?imageMogr2/thumbnail/!670x376r/gravity/Center/crop/670x376">
                                    </div>
                                    <p>张晓旭</p>
                                </div>
                            </div>
                            <div class="text-wrap">
                                <h6 class="text-title">预订工位</h6>
                                <p>阳光100 B1层 A3区阳光100 B1层 A3区阳光100 B1层 A3区</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->

@import "goto.tpl"
@import "footer-common.tpl"
<!--<script src="/public/enterprise/scripts/index.js"></script>-->
<script>
    $('.account-detail').click(function () {
        if (UR.isApp()) {
            UR.setUrl('urwork:// ');
        } else {
            UR.openApp.init({
                intentUrlParams:location.href
            });
        }
    })
</script>
</body>

</html>
