<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我的企业</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/myCompany/styles/mycompany.css">
</head>


<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"        
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main" class="company-container">
        	<!-- 头部切换 -->
			<section  class="company-tab">
				<ul class="tabs">
					<li><a href="my-company.html">我的企业</a><em></em></li>
					<li class="on"><a href="">关注的企业</a><em></em></li>
				</ul>
			</section>
			<!-- /头部切换 -->
			<!-- 内容区 -->
			<section>
				<div class="follow-container">
					<dl>
						<dt><img src="/assets/public/myCompany/images/logo.png" alt=""></dt>
						<dd><p>北京风起云飞科技有限公司</p><img src="/assets/public/myCompany/images/logo.png" alt=""></dd>
					</dl>
					<dl>
						<dt><img src="/assets/public/myCompany/images/logo.png" alt=""></dt>
						<dd><p>山西天域起云飞科技有限有限公司</p></dd>
					</dl>
				</div>
			</section>
			<!-- /内容区 -->
        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->
    <script src=""></script>
</body>

</html>
