<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>在线打印</title>
    @import "meta.tpl"
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar-def.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">

        <div class="result-tips">
            <div class="result-tips-inner">
                <img src="/assets/public/images/expect.png" alt="">
                <h5 style="font-size: 18px; margin-bottom: 10px">敬请期待</h5>
                <p style="font-size: 12px">即将上线，敬请期待</p>
            </div>
        </div>

    </main>
    <!-- /main -->

</div>
<!-- /wrapper -->
</body>

</html>

