<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>标题</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">

        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->
    @import "goto.tpl"
    @import "footer-common.tpl"
    <script src=""></script>
</body>

</html>
