<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VIP 会员权益说明</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <article class="agree-text">
                <section>
                    <h1>【VIP会员说明】</h1>
                    <section>
                        <h2>1.VIP会员购买：</h2>
                        <ol>
                            <li>• 价格：299元/月；</li>
                            <li>• 会员身份即买即生效。</li>
                        </ol>
                    </section>
                    <section>
                        <h2>2.VIP会员有效期：</h2>
                        <ol>
                            <li>• 有效期自购买当天开始，至次月当日结束（例：2016年11月15日购买的会员，有效期为：2016年11月15日-2016年12月15日）；</li>
                            <li>• 当前会员有效期结束之后，方可购买后续月份的VIP会员。</li>
                        </ol>
                    </section>
                    <section>
                        <h2>3.VIP会员礼包：</h2>
                        <ol>
                            <li>• 工位优惠券 8张（每张面额50元）；</li>
                            <li>• 会议室优惠券 5张（每张面额10元）。</li>
                        </ol>
                    </section>
                    <section>
                        <h2>4.VIP会员特权：</h2>
                        <ol>
                            <li>• 会员专属VIP标志；</li>
                            <li>• 优客工场社区内的社交、私信功能；</li>
                            <li>• 优客工场会员专享服务商优惠明细；</li>
                            <li>• U物VIP会员价；</li>
                            <li>• 以上会员特权将随会员身份一起失效。</li>
                        </ol>
                    </section>
                </section>
                <section>
                    <h1>【优惠券使用说明】</h1>
                    <section>
                        <h2>1.工位优惠券</h2>
                        <ol>
                            <li>• 适用范围：全国内的优客工场；</li>
                            <li>• 限制条件：此工位优惠券仅限订购优客工场中的“开放工位”（部分暂未开放相应区域的优客工场尚不支持预订）；</li>
                            <li>• 有效期：每次购买会员时，所获得的优惠券有效期从购买当日开始，截止至当次购买会员的会员有效期截止日期（例：2016年11月15日初次购买会员，会员有效期为：2016年11月15日-2016年12月15日，获赠的优惠券有效期为：2016年11月15日-2016年12月15日）；</li>
                            <li>• 使用方法：通过优客工场web网站、APP预订工位时，结算流程中选用优惠券即可抵扣现金使用；</li>
                            <li>• 使用说明：工位预订单次消费不限优惠券使用数量，直至订单金额抵扣为0元，如优惠券抵扣金额超过实际金额，扣除的整张优惠券不予找零；</li>
                            <li>• 过期说明：优惠券超过有效截止日期之后，将无法使用，并不予返赠，请优先使用即将过期的优惠券。</li>
                        </ol>
                    </section>
                    <section>
                        <h2>2.会议室优惠券</h2>
                        <ol>
                            <li>• 适用范围：全国内的优客工场；</li>
                            <li>• 限制条件：此会议室优惠券仅限订购优客工场中的“开放会议室”（部分暂未开放相应区域的优客工场尚不支持预订）；</li>
                            <li>• 有效期：每次购买会员时，所获得的优惠券有效期从购买当日开始，截止至当次购买会员的会员有效期截止日期（例：2016年11月15日初次购买会员，会员有效期为：2016年11月15日-2016年12月15日，获赠的优惠券有效期为：2016年11月15日-2016年12月15日）；</li>
                            <li>• 使用方法：通过优客工场web网站、APP预订会议室时，结算流程中选用优惠券即可抵扣现金使用；</li>
                            <li>• 使用说明：会议室预订单次消费不限优惠券使用数量，直至订单金额抵扣为0元，如优惠券抵扣金额超过实际金额，扣除的整张优惠券不予找零；</li>
                            <li>• 过期说明：优惠券超过有效截止日期之后，将无法使用，并不予返赠，请优先使用即将过期的优惠券。</li>
                        </ol>
                    </section>
                </section>
                <br>
                <p><b>最终解释权归优客工场所有</b></p>
            </article>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "goto.tpl"
    @import "footer-common.tpl"
</body>

</html>
