<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>vip订单页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/vip/vip.css">
</head>

<body class="gray-bg">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- wrapper-inner -->
        <div class="wrapper-inner">
            <!-- main -->
            <main id="main">
                <!-- content -->
                <div id="content">
                    <div class="pay-state">
                        <img src="/assets/public/vip/images/vip-pay-success.png" height="59" width="59" alt="">
                        <p>您的订单已经支付成功！</p>
                        <a href="javascript:;">点击查看</a>
                    </div>
                </div>
                <!-- / content -->
            </main>
            <!-- / main -->
        </div>
        <!-- / wrapper-inner -->
    </div>
    @import "footer-common.tpl"
    <script src="/assets/public/vip/vip.js"></script>
</body>
</html>
