// Uricon
@font-face {
  font-family: 'uricon';
  src: url('../fonts/uricon.ttf?880ybn') format('truetype'),
  url('../fonts/uricon.woff?880ybn') format('woff'),
  url('../fonts/uricon.svg?880ybn#uricon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=" uricon-"],
[class^="uricon-"] {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'uricon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uricon-audio-play-big:before {
  content: "\e9bd";
}
.uricon-audio-number:before {
  content: "\e9be";
}
.uricon-audio-pause:before {
  content: "\e9bf";
}
.uricon-audio-play:before {
  content: "\e9c0";
}
.uricon-community:before {
  content: "\e9bc";
}
.uricon-decrease-ld:before {
  content: "\e9bb";
}
.uricon-empty-ld:before {
  content: "\e9b9";
}
.uricon-shop-ld:before {
  content: "\e9ba";
}
.uricon-more-r:before {
  content: "\e9b8";
}
.uricon-video-commit:before {
  content: "\e9b7";
}
.uricon-phone-solid:before {
  content: "\e9b5";
}
.uricon-talk-solid:before {
  content: "\e9b6";
}
.uricon-phone-l:before {
  content: "\e9b4";
}
.uricon-sort:before {
  content: "\e9b3";
}
.uricon-chengyuan:before {
  content: "\e9a8";
}
.uricon-fangchanfuwu:before {
  content: "\e9a9";
}
.uricon-hulianwang:before {
  content: "\e9aa";
}
.uricon-jiankangyiliao:before {
  content: "\e9ab";
}
.uricon-jiaoyu:before {
  content: "\e9ac";
}
.uricon-jinrong:before {
  content: "\e9ad";
}
.uricon-qita:before {
  content: "\e9ae";
}
.uricon-qiyefuwu:before {
  content: "\e9af";
}
.uricon-shenghuofuwu:before {
  content: "\e9b0";
}
.uricon-wenyuchuanmei:before {
  content: "\e9b1";
}
.uricon-yingjian:before {
  content: "\e9b2";
}
.uricon-like:before {
  content: "\e9a6";
}
.uricon-like-o:before {
  content: "\e9a7";
}
.uricon-search-2:before {
  content: "\e97b";
}
.uricon-account-market:before {
  content: "\e9a1";
}
.uricon-company-market:before {
  content: "\e9a2";
}
.uricon-list-market:before {
  content: "\e9a3";
}
.uricon-setting-market:before {
  content: "\e9a4";
}
.uricon-daohang2:before {
  content: "\e9a0";
}
.uricon-daohang:before {
  content: "\e94b";
}
.uricon-dd-kqdk:before {
  content: "\e99c";
}
.uricon-dd-smkm:before {
  content: "\e99f";
}
.uricon-setting-o:before {
  content: "\e99d";
}
.uricon-share-o:before {
  content: "\e99e";
}
.uricon-product-o:before {
  content: "\e996";
}
.uricon-list:before {
  content: "\e997";
}
.uricon-company:before {
  content: "\e998";
}
.uricon-account:before {
  content: "\e999";
}
.uricon-setting:before {
  content: "\e99a";
}
.uricon-website-o:before {
  content: "\e99b";
}
.uricon-quanzi:before {
  content: "\e994";
}
.uricon-dianzanb:before {
  content: "\e995";
}
.uricon-dianzan:before {
  content: "\e98c";
}
.uricon-bianji:before {
  content: "\e98d";
}
.uricon-jineng:before {
  content: "\e98e";
}
.uricon-jiaxiang:before {
  content: "\e98f";
}
.uricon-pinglun:before {
  content: "\e973";
}
.uricon-shequ:before {
  content: "\e991";
}
.uricon-xingqu:before {
  content: "\e992";
}
.uricon-xuexiao:before {
  content: "\e993";
}
.uricon-plus-w:before {
  content: "\e98b";
}
.uricon-coffee:before {
  content: "\e98a";
}
.uricon-uqby:before {
  content: "\e989";
}
.uricon-qyjs:before {
  content: "\e987";
}
.uricon-yuncai:before {
  content: "\e988";
}
.uricon-spyl-m:before {
  content: "\e980";
}
.uricon-smpj-m:before {
  content: "\e981";
}
.uricon-yljk-m:before {
  content: "\e982";
}
.uricon-zscq-m:before {
  content: "\e983";
}
.uricon-znjj-m:before {
  content: "\e984";
}
.uricon-gszc-m:before {
  content: "\e985";
}
.uricon-all-m:before {
  content: "\e986";
}
.uricon-search-r:before {
  content: "\e9a5";
}
.uricon-giftbag:before {
  content: "\e97f";
}
.uricon-time-r:before {
  content: "\e97c";
}
.uricon-city-r:before {
  content: "\e97d";
}
.uricon-class-r:before {
  content: "\e97e";
}
.uricon-danke:before {
  content: "\e97a";
}
.uricon-txl:before {
  content: "\e976";
}
.uricon-shuimiancang:before {
  content: "\e977";
}
.uricon-flag:before {
  content: "\e978";
}
.uricon-ofo:before {
  content: "\e975";
}
.uricon-hd:before {
  content: "\e96a";
}
.uricon-xm:before {
  content: "\e966";
}
.uricon-yjfk-c:before {
  content: "\e967";
}
.uricon-yycg:before {
  content: "\e968";
}
.uricon-zx:before {
  content: "\e969";
}
.uricon-dcd:before {
  content: "\e96b";
}
.uricon-dgw:before {
  content: "\e96c";
}
.uricon-dgy:before {
  content: "\e96d";
}
.uricon-dhys:before {
  content: "\e96e";
}
.uricon-fws-b:before {
  content: "\e96f";
}
.uricon-home:before {
  content: "\e970";
}
.uricon-sixin:before {
  content: "\e990";
}
.uricon-pl:before {
  content: "\e972";
}
.uricon-visitor:before {
  content: "\e964";
}
.uricon-pic:before {
  content: "\e965";
}
.uricon-notice:before {
  content: "\e962";
}
.uricon-clear:before {
  content: "\e960";
}
.uricon-menu-a:before {
  content: "\e95f";
}
.uricon-search:before {
  content: "\e95e";
}
.uricon-qyhz:before {
  content: "\e95d";
}
.uricon-msg:before {
  content: "\e955";
}
.uricon-slh:before {
  content: "\e94d";
}
.uricon-sleep:before {
  content: "\e953";
}
.uricon-xiuxiqu:before {
  content: "\e95c";
}
.uricon-cd:before {
  content: "\e904";
}
.uricon-bgw:before {
  content: "\e903";
}
.uricon-online-print:before {
  content: "\e979";
}
.uricon-coffe:before {
  content: "\e948";
}
.uricon-hys:before {
  content: "\e913";
}
.uricon-activity:before {
  content: "\e946";
}
.uricon-bookbar:before {
  content: "\e947";
}
.uricon-chufang:before {
  content: "\e949";
}
.uricon-chuwugui:before {
  content: "\e94a";
}
.uricon-dayinji:before {
  content: "\e94c";
}
.uricon-duogongneng:before {
  content: "\e94e";
}
.uricon-fanshouji:before {
  content: "\e94f";
}
.uricon-foodbar:before {
  content: "\e950";
}
.uricon-jianshen:before {
  content: "\e963";
}
.uricon-guanxichi:before {
  content: "\e951";
}
.uricon-health:before {
  content: "\e952";
}
.uricon-linyushi:before {
  content: "\e954";
}
.uricon-marketed:before {
  content: "\e956";
}
.uricon-mombaby:before {
  content: "\e957";
}
.uricon-movie:before {
  content: "\e958";
}
.uricon-park:before {
  content: "\e959";
}
.uricon-suizhiji:before {
  content: "\e95a";
}
.uricon-water:before {
  content: "\e95b";
}
.uricon-delete2:before {
  content: "\e944";
}
.uricon-locationB:before {
  content: "\e93b";
}
.uricon-coupon:before {
  content: "\e93c";
}
.uricon-zan:before {
  content: "\e93d";
}
.uricon-people:before {
  content: "\e93f";
}
.uricon-ly:before {
  content: "\e942";
}
.uricon-light2:before {
  content: "\e92b";
}
.uricon-login:before {
  content: "\e92d";
}
.uricon-tyy:before {
  content: "\e92e";
}
.uricon-wifi:before {
  content: "\e92f";
}
.uricon-yx:before {
  content: "\e930";
}
.uricon-zy:before {
  content: "\e931";
}
.uricon-changzhuo:before {
  content: "\e932";
}
.uricon-dianshi:before {
  content: "\e933";
}
.uricon-door:before {
  content: "\e934";
}
.uricon-ht:before {
  content: "\e935";
}
.uricon-jiangtai:before {
  content: "\e936";
}
.uricon-erweima:before {
  content: "\e929";
}
.uricon-tel:before {
  content: "\e928";
}
.uricon-ztz:before {
  content: "\e901";
}
.uricon-zxm:before {
  content: "\e902";
}
.uricon-fws:before {
  content: "\e911";
}
.uricon-hqzc:before {
  content: "\e912";
}
.uricon-lw:before {
  content: "\e917";
}
.uricon-phone:before {
  content: "\e919";
}
.uricon-trz:before {
  content: "\e91a";
}
.uricon-lingdang:before {
  content: "\e92c";
}
.uricon-yjfk:before {
  content: "\e91b";
}
.uricon-time:before {
  content: "\e940";
}
.uricon-tip:before {
  content: "\e939";
}
.uricon-close-o:before {
  content: "\e937";
}
.uricon-back-o:before {
  content: "\e938";
}
.uricon-mail:before {
  content: "\e918";
}
.uricon-fabu:before {
  content: "\e93e";
}
.uricon-success:before {
  content: "\e945";
}
.uricon-ur-b:before {
  content: "\e923";
}
.uricon-uwu-b:before {
  content: "\e924";
}
.uricon-person-nav-o:before {
  content: "\e961";
}
.uricon-delete:before {
  content: "\e93a";
}
.uricon-join:before {
  content: "\e974";
}
.uricon-language:before {
  content: "\e971";
}
.uricon-yjfk-b:before {
  content: "\e925";
}
.uricon-down-b:before {
  content: "\e926";
}
.uricon-fuwushang-b:before {
  content: "\e927";
}
.uricon-ie:before {
  content: "\e914";
}
.uricon-location:before {
  content: "\e916";
}
.uricon-zan2:before {
  content: "\e943";
}
.uricon-ly2:before {
  content: "\e941";
}
.uricon-success-circle:before {
  content: "\e92a";
}
.uricon-menu-b:before {
  content: "\e922";
}
.uricon-jt:before {
  content: "\e915";
}
.uricon-download:before {
  content: "\e91f";
}
.uricon-down:before {
  content: "\e91e";
}
.uricon-up:before {
  content: "\e91d";
}
.uricon-light:before {
  content: "\e900";
}
.uricon-right:before {
  content: "\e91c";
}
.uricon-close:before {
  content: "\e920";
}
.uricon-back-b:before {
  content: "\e921";
}
.uricon-arrow-dropright:before {
  content: "\e909";
}
.uricon-arrow-dropleft:before {
  content: "\e908";
}
.uricon-arrow-dropdown:before {
  content: "\e907";
}
.uricon-arrow-dropup:before {
  content: "\e90a";
}
.uricon-arrow-right:before {
  content: "\e90d";
}
.uricon-arrow-left:before {
  content: "\e90c";
}
.uricon-arrow-bottom:before {
  content: "\e905";
}
.uricon-arrow-top:before {
  content: "\e90e";
}
.uricon-arrow-down:before {
  content: "\e906";
}
.uricon-arrow-up:before {
  content: "\e90f";
}
.uricon-arrow-back:before {
  content: "\e90b";
}
.uricon-arrow-forward:before {
  content: "\e910";
}
