<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/skipDownload/skipDownload.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <img src="/assets/public/skipDownload/images/banner.png" alt="" class="special-image">
            <a href="javascript:;" class="btn btn-primary" data-ios="http://www.weibo.com" data-android="http://www.163.com" data-weixin="http://m.baidu.com">下载客户端</a>
            <img src="/assets/public/skipDownload/images/erweima.png" alt="" class="special-image">
            <em class="special-tip">长按识别二维码下载客户端</em>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/skipDownload/skipDownload.js"></script>
</body>

</html>
