<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/skipDownload/skipDownload.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <!-- main -->
        <main id="main">
            <img src="/assets/public/skipDownload/images/banner.png" alt="" class="special-image">
            <p class="special-desc">此功能需要在<br />优客工场APP中使用</p>
            <a href="javascript:;" class="btn btn-primary" data-ios="http://www.weibo.com" data-android="http://www.163.com" data-weixin="http://m.baidu.com">下载客户端</a>
            <dl class="special-logo">
                <dt><img src="/assets/public/skipDownload/images/logo.png" alt=""  width="100%"/></dt>
                <dd>
                    <p>优客工场</p>
                    <p>共享智慧，联合办公</p>
                </dd>
            </dl>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    <script src="/assets/public/skipDownload/skipDownload.js"></script>
</body>

</html>
