<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>领取会员包</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/memberPackage/index.css">
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- wrapper-inner -->
        <div class="wrapper-inner">
            <!-- main -->
            <main id="main">
                <!-- content -->
                <div id="content">
                    <section class="member-wrapper">
                        <div class="member-content">
                            <h3 class="member-title">你已经领取过了</h3>
                            <article>
                                <p>每人限领一次哦！</p>
                            </article>
                            <div class="member-btn-groups">
                                <a href="javascript:;" class="btn btn-line">订工位</a>
                                <a href="javascript:;" class="btn btn-line">订会议室</a>
                            </div>
                        </div>
                        <a href="todo.html" class="member-btn-view">查看代金券>></a>
                    </section>
                </div>
                <!-- / content -->
            </main>
            <!-- / main -->
        </div>
        <!-- / wrapper-inner -->
    </div>
    <!--/ wrapper -->
    @import "footer-common.tpl"
<script>
$(function() {

});
</script>
</body>
</html>
