<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>芝麻信用</title>
    @import "meta.tpl"
    <style type="text/css">
        h1{
            font-weight: 900!important;
        }
        h2{
            font-weight:900!important;
            margin-bottom: 5px;
        }
    </style>
</head>
    
<body>
    <article class="agree-text">
        <h1>什么是芝麻信用</h1>
        <section>
            <h2>芝麻信用</h2>
            <p>芝麻信用管理有限公司是合法独立的信用评估及信用管理机构，其推出的芝麻信用是面向社会的信用服务体系,依据方方面面的信息，运用大数据及云计算技术客观呈现个人的信用状况，通过连接各种服务，让每个人都能体验信用所带来的价值。</p>
        </section>
        <section>
            <h2>芝麻分</h2>
            <ul>
                <li>芝麻信用分（简称芝麻分）是芝麻信用管理有限公司旗下产品，是芝麻信用管理有限公司根据当前采集的个人用户信息进行加工、整理、计算后得出的信用评分，分值范围是350到950，分值越高代表信用水平越好，较高的芝麻分可以帮助个人获得更高效、更优质的服务。 芝麻分综合考虑了个人用户的信用历史、行为偏好、履约能力、身份特质、人脉关系五个维度的信息。需要提醒的是，没有任何一个单项信息能够直接或完全决定个人的芝麻分，其五个维度包含的内容举例如下：</li>
                <li>1) 信用历史：过往信用账户还款记录及信用账户历史</li>
                <li>2) 行为偏好：在购物、缴费、转账、理财等活动中的偏好及稳定性</li>
                <li>3) 履约能力：享用各类信用服务并确保及时履约</li>
                <li>4) 身份特质：在使用相关服务过程中留下的足够丰富和可靠的个人基本信息</li>
                <li>5) 人脉关系：好友的身份特征以及跟好友互动程度</li>
                <li>未来授权芝麻信用获取更多个人信息将可提高信用评分与个人信用状况的吻合度。</li>
            </ul>
        </section>
        <section>
            <h2>怎么查看芝麻分</h2>
            <p>你可以随时随地通过支付宝钱包APP查看，或者在获得你授权后的部分芝麻信用合作商户处查看。后续还会有多种渠道可以提供芝麻分的查询服务。</p>
            <p>如果想查看其他人的芝麻分，则可打开支付宝钱包APP财富页点击芝麻信用分一栏在信用猜猜中输入对方的手机号码进行申请，或者在部分芝麻信用合作商户处进行申请，但芝麻分属于个人隐私信息须获得对方的同意后才可以看到。未经个人授权同意，芝麻信用不会向他人透露你的信用相关的隐私信息。</p>
        </section>
        <section>
            <h2>芝麻分怎么应用</h2>
            <p>作为个人用户，较高的芝麻分可帮助你获得更快、更多、更好的生活服务和金融服务体验。比如免押金租车、酒店先住后付、消费分期，以及在一些金融机构快速获得放贷。</p>
            <p>各种生活服务商户和金融机构可以参考个人用户的芝麻分，从而更快速、更精准地做出决策，更好地为目标客户提供服务。</p>
            <p>同时个人与个人之间也可以通过芝麻分了解彼此的信用水平，从而帮助个人做出更好的决策。比如拼车、租房时，查看对方的芝麻分以了解其信用水平可以更好地帮你做出是否一同出行或合租房子的决定。</p>
            <p>需要提醒的是，通常情况下商户或用户是综合参考个人所有信息后做出决策，而不仅是依赖于个人的芝麻分。</p>
        </section>
        <section>
            <h2>芝麻分如何提升</h2>
            <p>芝麻分是芝麻信用根据当前了解的信息，运用大数据方法综合评估而得，未来芝麻信用也会提供更多的信息采集渠道，个人用户通过这些渠道让芝麻信用了解其更多信息将有助于提升芝麻分。同时在日常生活或经济活动中尽可能使用信用服务及时履行约定也有助于芝麻分的提升。 信用的提升是一个循序渐进的过程，无法通过单个行为或事件迅速提升，需要你长期的积累。总而言之，点滴珍贵、重在积累。</p>
        </section>
        <section>
            <h2>芝麻分一般什么时候更新</h2>
            <p>芝麻分一般每月6日定期更新。</p>
        </section>

    </article>
</body>

</html>
