<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    @import "meta.tpl"
    <style>
        .link {
            position: absolute;
            top: 364px;
            left: 50%;
            width: 140px;
            height: 36px;
            transform: translateX(-50%);
            transform-origin: 0 0;
            background-color: #fec600;
            color: #fff;
            text-align: center;
            line-height: 36px;
            border-radius: 36px;
        }
    </style>
</head>

<body>
<img src="/assets/public/index/images/a_img.jpg" alt="">
<a class="link" href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.urwork.www&from=singlemessage">下载按钮</a>

</body>

</html>
