<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/index/index.css">
    <link rel="stylesheet" href="../../../../images/fontface/希遇/boss/v1/ficon/style.css">
    <link rel="stylesheet" href="../../public/styles/core/_icon.scss">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <!-- slide -->
            <div class="swiper-container index-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-01.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-02.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-03.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-04.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /slide -->
            <!-- open-door -->
            <div class="open-door">
                <button class="open-door-btn">开门</button>
            </div>
            <!-- /open-door -->
            <!-- index-user -->
            <section class="layout-item index-user">
                <div class="greeting"><em>常宇常宇常宇常宇常宇常宇常宇常宇</em>,今天在哪里办公？</div>
                <ul class="icon-list">
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-bgw"></i>
                            <p>订工位</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-hys"></i>
                            <p>订会议室</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-cd"></i>
                            <p>订场地</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-yjfk"></i>
                            <p>意见反馈</p>
                        </a>
                    </li>
                </ul>
                <div class="notice-mod">
                    <div class="notice-inner">
                        <a href="/news/notice" class="more"></a>
                        <div class="swiper-container notice-title" id="notice">
                            <ul class="swiper-wrapper notice">
                                <li class="swiper-slide"><a href="#">优客工场估值近55亿!</a></li>
                                <li class="swiper-slide"><a href="#">优客工场估值近55亿优客工场估值近55亿!</a></li>
                                <li class="swiper-slide"><a href="#">优客工场估值近55亿!</a></li>
                                <li class="swiper-slide"><a href="#">优客工场估值近55亿!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /index-user -->
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <!--<aside>-->
                        <!--<a class="btn" href="javascript:;">预约参观</a>-->
                    <!--</aside>-->
                    <aside>
                        <a class="btn" href="javascript:;" style="position: static;"><em class="hot-tip">NEW</em>免费会员礼包</a>
                    </aside>
                    <h2><a href="javascript:;">优客社区<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-workstage">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="center-text">
                                                <p class="text-place">｜ 北京 ｜</p>
                                                <p class="text-title">北京北京北京北京北京北京北京北京北京北京北京北京</p>
                                                <p class="text-desc"><span>25 个工位</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="center-text">
                                                <p class="text-place">｜ 北京 ｜</p>
                                                <p class="text-title">北京北京北京北京北京北京北京北京北京北京北京北京</p>
                                                <p class="text-desc"><span>25 个工位</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <aside>
                        <a class="btn" href="#">发布需求</a>
                    </aside>
                    <h2><a href="#">企业集市<i class="uricon-arrow-dropright"></i></a></h2>
                </header>

                <ul class="timeline">
                    <li>
                        <div class="info-stream-item">
                            <a href="#">
                                <div class="stream-profile">
                                    <time class="time">2017-10-11</time>
                                    <div class="pic">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <h2>刘杨笑<img class="flag" src="/assets/public/images/ui/vip_flag.png" alt=""></h2>
                                        <p>北京发烧者科技有限公司</p>
                                        <p>北京市·阿里巴巴创新中心·优客工场</p>
                                    </div>
                                </div>
                                <div class="info-body">
                                    <p class="price"><em>&yen;</em>30000以上</p>
                                    <p>#新人报道 大家好，我是刘杨笑，在“北京市·阳光
                                        100·优客工场”办公，我擅长“项目管理”，爱好“音
                                        乐，宠宠”，我今天加入了优客工场，请多多关照！</p>
                                    <div class="imgs">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                    </div>
                                    <ul class="comments">
                                        <li><b>张立杨：</b>Joe 机构饿就哦各界哦，多饿饿饿饿，大奖哦额感觉哦俄共饿就够了</li>
                                        <li><b>封莉莉：</b>会支持，一定购买</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="stream-actions">
                                <div class="source">来自企业服务: <span>营销推广</span></div>
                                <div class="actions">
                                    <a href="#"><i class="uricon-pinglun"></i>回复</a>
                                    <a href="#"><i class="uricon-sixin"></i>私信</a>
                                    <a href="javascript:;" class="dianzan"><i class="uricon-dianzan"></i><span>赞</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="info-stream-item">
                            <a href="#">
                                <div class="stream-profile">
                                    <time class="time">2017-10-11</time>
                                    <div class="pic">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <h2>刘杨笑<img class="flag" src="/assets/public/images/ui/vip_flag.png" alt=""></h2>
                                        <p>北京发烧者科技有限公司</p>
                                        <p>北京市·阿里巴巴创新中心·优客工场</p>
                                    </div>
                                </div>
                                <div class="info-body">
                                    <p class="price"><em>&yen;</em>30000以上</p>
                                    <p>#新人报道 大家好，我是刘杨笑，在“北京市·阳光
                                        100·优客工场”办公，我擅长“项目管理”，爱好“音
                                        乐，宠宠”，我今天加入了优客工场，请多多关照！</p>
                                    <div class="imgs">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                        <img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt="">
                                    </div>
                                </div>
                            </a>
                            <ul class="comments">
                                <li><b>张立杨：</b>Joe 机构饿就哦各界哦，多饿饿饿饿，大奖哦额感觉哦俄共饿就够了</li>
                                <li><b>封莉莉：</b>会支持，一定购买</li>
                            </ul>
                            <div class="stream-actions">
                                <div class="source">来自企业服务: <span>营销推广</span></div>
                                <div class="actions">
                                    <a href="#"><i class="uricon-pinglun"></i>回复</a>
                                    <a href="#"><i class="uricon-sixin"></i>私信</a>
                                    <a href="javascript:;" class="dianzan"><i class="uricon-dianzan"></i><span>赞</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- banner -->
            <div class="banner-item">
                <a href="#" style="padding-right: 0"><img src="/assets/public/index/images/xcszht.jpg" alt=""></a>
            </div>
            <div class="banner-item">
                <a href="#"><img src="/assets/public/index/images/join-ad.png" alt=""></a>
                <a href="http://h.eqxiu.com/s/JCu7SCty?eqrcode=1"><img src="/assets/public/index/images/building.png" alt=""></a>
            </div>
            <!-- / banner -->
            <!-- 20170818新增 -->
            <section class="layout-item swiper-wrap-hidden ptn">
                <div class="tab tab-primary" data-role="tab">
                    <div class="tabs tabs-uwu" data-tab-role="tabs">
                        <ul>
                            <li data-tab-role="tab" class="active"><span>企业服务</span></li>
                            <li data-tab-role="tab"><span>产品推广</span></li>
                            <li data-tab-role="tab"><span>独享福利</span></li>
                        </ul>
                    </div>
                    <div class="tabbed" data-tab-role="tabbed">
                        <!-- swiper-fixed-ratio -->
                        <div class="swiper-fixed-ratio" data-tab-role="group">
                            <h4 class="uwu-header">hahaha</h4>
                            <div class="swiper-container swiper-uwu">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div class="piclist-item">
                                                <div class="piclist-image-box">
                                                    <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></div>
                                                </div>
                                                <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                                <p class="outer-desc">hahahahah</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-fixed-ratio -->
                        <div class="swiper-fixed-ratio" data-tab-role="group">
                            <h4 class="uwu-header">hahaha</h4>
                            <div class="swiper-container swiper-uwu">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-fixed-ratio -->
                        <div class="swiper-fixed-ratio" data-tab-role="group">
                            <h4 class="uwu-header">hahaha</h4>
                            <div class="swiper-container swiper-uwu">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="piclist-item">
                                            <div class="piclist-image-box">
                                                <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></a>
                                            </div>
                                            <p class="outer-text outer-text-pt-small"><span>心理工哈哈</span><em class="hot-tip">&yen;300</em></p>
                                            <p class="outer-desc">hahahahah</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- swiper-fixed-ratio -->
            </section>
            <!-- /20170818新增 -->
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">精彩活动<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-activity">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></div>
                                        </div>
                                        <p class="outer-text">心理工作坊情商训练营</p>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></div>
                                        </div>
                                        <p class="outer-text">心理工作坊情商训练营</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">优客支持<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="btn-list">
                    <li><a href="javascript:;" class="btn"><em class="hot-tip">HOT</em>投融资</a></li>
                    <li><a href="javascript:;" class="btn">法律</a></li>
                    <li><a href="javascript:;" class="btn">财务</a></li>
                    <li><a href="javascript:;" class="btn">财税</a></li>
                    <li><a href="javascript:;" class="btn">人力资源</a></li>
                    <li><a href="javascript:;" class="btn">政务</a></li>
                    <li><a href="javascript:;" class="btn">营销推广</a></li>
                    <li><a href="javascript:;" class="btn">更多</a></li>
                </ul>
            </section>
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">帮帮堂<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-helpclub">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <aside>
                        <div class="card-gap-item">
                            <em class="hot-tip">9</em>
                            <div class="card-gap-inner">
                                <a class="card-gap" href="javascript:;"><i class="uricon-lw"></i>优惠券</a>
                            </div>
                        </div>
                    </aside>
                    <h2><a href="javascript:;">为您推荐<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-recommend">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                        </div>
                                        <div class="outer-text-box">
                                            <p class="outer-title">阳光100社区阳光100社区阳光100社区阳光100社区</p>
                                            <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场北京市光华路2号阳光100D座B1优客工场</p>
                                            <p class="outer-price">&yen;50/天</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                        </div>
                                        <div class="outer-text-box">
                                            <p class="outer-title">阳光100社区阳光100社区阳光100社区阳光100社区</p>
                                            <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场北京市光华路2号阳光100D座B1优客工场</p>
                                            <p class="outer-price">&yen;50/天</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">优客资讯<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-01.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-02.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-03.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="crosswise-full-btn">
                <a href="#"><img src="/assets/public/index/images/vip.png" alt="">加入会员,享更多特权</a>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/index/index.js"></script>
</body>

</html>
