<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/index/index-en.css">
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
            @import "nav-tab-en.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <!-- slide -->
            <div class="swiper-container index-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-01.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-02.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-03.png" alt=""></a>
                    </div>
                    <div class="swiper-slide banner-image-box">
                        <a class="banner-image" href="javascript:;" title=""><img class="swiper-lazy" data-src="http://static.urwork.cn/index/banner/banner-04.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /slide -->
            <!-- open-door -->
            <div class="open-door">
                <button class="open-door-btn">Enter<br />Urwork</button>
            </div>
            <!-- /open-door -->
            <!-- index-user -->
            <section class="layout-item index-user">
                <div class="greeting"><em>Aris</em>, Need A Workplace?</div>
                <ul class="icon-list">
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-bgw"></i>
                            <p>Book a desk</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-hys"></i>
                            <p>Book a meeting room</p>
                        </a>
                    </li>
                </ul>
                <ul class="icon-list">
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-cd"></i>
                            <p>Book a space</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="uricon-yjfk"></i>
                            <p>Feedback</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /index-user -->
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <aside>
                        <a class="btn" href="javascript:;">Book a tour</a>
                    </aside>
                    <h2><a href="javascript:;">UR Community<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-workstage">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="center-text">
                                                <p class="text-place">｜ 北京 ｜</p>
                                                <p class="text-title">北京北京北京北京北京北京北京北京北京北京北京北京</p>
                                                <p class="text-desc"><span>25 个工位</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="center-text">
                                                <p class="text-place">｜ 北京 ｜</p>
                                                <p class="text-title">北京北京北京北京北京北京北京北京北京北京北京北京</p>
                                                <p class="text-desc"><span>25 个工位</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <!-- banner -->
            <div class="banner-item">
                <a href="#"><img src="/assets/public/index/images/join-ad.png" alt=""></a>
            </div>
            <!-- / banner -->
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">UR Events<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-activity">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></div>
                                        </div>
                                        <p class="outer-text">心理工作坊情商训练营</p>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');"></div>
                                        </div>
                                        <p class="outer-text">心理工作坊情商训练营</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">UR Support<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="btn-list">
                    <li><a href="javascript:;" class="btn"><em class="hot-tip">HOT</em>Investment & finacing</a></li>
                    <li><a href="javascript:;" class="btn">Law</a></li>
                    <li><a href="javascript:;" class="btn">Finance</a></li>
                    <li><a href="javascript:;" class="btn">Tax</a></li>
                    <li><a href="javascript:;" class="btn">Human resource</a></li>
                    <li><a href="javascript:;" class="btn">Marketing</a></li>
                    <li><a href="javascript:;" class="btn">More</a></li>
                </ul>
            </section>
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">UR Service Center<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-helpclub">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <div class="piclist-image-box">
                                        <a class="piclist-image" href="javascript:;" style="background-image:url('http://pic.90sjimg.com/back_pic/qk/back_origin_pic/00/03/11/75350b9de08745afad63c193704054c5.jpg');">
                                            <div class="top-left-text">
                                                <p class="text-title">幂次方学院</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item swiper-wrap-hidden">
                <header class="layout-item-title">
                    <aside>
                        <div class="card-gap-item">
                            <em class="hot-tip">9</em>
                            <div class="card-gap-inner">
                                <a class="card-gap" href="javascript:;"><i class="uricon-lw"></i>Coupons</a>
                            </div>
                        </div>
                    </aside>
                    <h2><a href="javascript:;">Recommendations<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <!-- swiper-fixed-ratio -->
                <div class="swiper-fixed-ratio">
                    <div class="swiper-container swiper-recommend">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                        </div>
                                        <div class="outer-text-box">
                                            <p class="outer-title">阳光100社区阳光100社区阳光100社区阳光100社区</p>
                                            <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场北京市光华路2号阳光100D座B1优客工场</p>
                                            <p class="outer-price">&yen;50/天</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="piclist-item">
                                    <a href="#">
                                        <div class="piclist-image-box">
                                            <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                        </div>
                                        <div class="outer-text-box">
                                            <p class="outer-title">阳光100社区阳光100社区阳光100社区阳光100社区</p>
                                            <p class="outer-desc">北京市光华路2号阳光100D座B1优客工场北京市光华路2号阳光100D座B1优客工场</p>
                                            <p class="outer-price">&yen;50/天</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /swiper-fixed-ratio -->
            </section>
            <section class="layout-item">
                <header class="layout-item-title">
                    <h2><a href="javascript:;">UR News<i class="uricon-arrow-dropright"></i></a></h2>
                </header>
                <ul class="pictext-list">
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-01.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-02.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <dl class="pictext-item">
                                <dt><span><img class="lazy" data-src="http://static.urwork.cn/index/banner/banner-03.png" alt=""></span></dt>
                                <dd>
                                    <p class="pictext-title">无法打造超级IP?</p>
                                    <p class="pictext-desc">继2013年第一届创业戈壁行举办之日起，活动先后邀请并吸引了包...</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="crosswise-full-btn">
                <a href="#"><img src="/assets/public/index/images/vip.png" alt="">Become a member</a>
            </div>
            @import "goto.tpl"
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
    @import "footer-common.tpl"
    <script src="/assets/public/index/index.js"></script>
</body>

</html>
