<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>邀请企业</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/referee/styles/index.css">
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header" class="header-def">
            <!-- titlebar -->
            <div id="titlebar">
                <i class="nav-switch uricon-arrow-left" native id="pageBack"></i>
                <span class="title">邀请企业</span>
                <div class="actions">
                    <a href="#" name="share"><i class="uricon-share-o"></i></a>
                </div>
            </div>
            <!-- /titlebar -->
        </header>
        <!-- /header -->

        <!-- main -->
        <main id="main">
            <!--<img class="share-pic" src="/assets/public/market/images/def/company_logo.png" alt="">-->
            <!--<div class="share-text">阿斯顿发斯蒂芬</div>-->
            <div class="container">
                <div class="invitaction-letter">
                    <i class="bi"></i>
                    <h2><span>邀请好友加入U企业</span></h2>
                    <p>你和TA均可得丰厚代金券奖励</p>
                    <button class="btn" name="share">立即邀请</button>
                </div>
                <div class="layout-item">
                    <h2 class="layout-title"><span>已经邀请成功的企业</span></h2>
                    <div class="result">
                        <ul>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="company-item">
                                    <dt><img src="/assets/public/images/ui/thumb.png" class="lazy" data-src="https://image.urwork.cn/8f862a2a-c5d0-48cb-92e5-3d50288c594c.jpg" alt=""></dt>
                                    <dd>
                                        <p class="name">北京希遇信息科技有限公司</p>
                                        <time>邀请成功时间：2018-03-29 15:30</time>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="layout-item">
                    <h2 class="layout-title"><span>活动规则</span></h2>
                    <ol class="rules">
                        <li>1. 点击按钮分享给微信好友或分享至朋友圈，好友点击你分享的链接中的“成为U企业”，跳转至优客工场App，在App中创建企业并填写企业画像、成为U企业后，则好友可以得到价值99元的优客工场会议室代金劵。同时你可以得到50元现金奖励，运营人员会在3-5个工作日内联系你进行发放。</li>
                        <li>2. 每次成功邀请一个企业加入U鲜集，你都可以获得50元现金奖励，该奖励可累计。</li>
                        <li>3.邀请的企业必须为真实注册的企业，用户必须上传正规企业logo，完善必填信息。</li>
                        <li>4.注意：好友必须通过你分享的页面点击“加入U鲜集”，并成功成为U企业，最终才能计入你邀请的企业数量中哦～</li>
                    </ol>
                </div>
            </div>
        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->
    <script>
        $(function() {
            var refereeid = UR.getBrowserParamByName('refereeid');
            var $body = $('body');

            new IScroll('.result', {
                disablePointer: true,
                disableTouch: false,
                scrollbars: true,
                fadeScrollbars: true
            });

            $body.on('click', '[name=share]', function(e) {
                e.preventDefault();
                UR.isLogin(function(res) {
                    DANativeApi.share({
                        title: '标题标题',
                        desc: $.trim($('.share-text').text()),
                        url: 'https://m.urwork.cn?refereeid=' + refereeid,
                        imgUrl: $('.share-pic').attr('src')
                    });
                }, UR.toLogin);
            });

            // UR.wxShare({
            //     desc: $.trim($('.share-text').text()),
            //     imgUrl: $('.share-pic').attr('src'),
            // });
        });
    </script>
</body>

</html>
