<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>加载页</title>
    @import "meta.tpl"
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="data-null">
                <div class="data-null-inner">
                    加载中...
                </div>
            </div>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
</body>

</html>
