<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>钉钉</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/dingding/index.css">
</head>

<body no-downloadbar>
<input type="hidden" name="appSource" value="" />
<!-- wrapper -->
<div class="wrapper wrapper-app">
    <!-- main -->
    <main id="main">
        <section class="layout-item index-entry">
            <div class="swiper-container entry-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="index-common">
                <div class="common-wrap">
                    <a href="javascript:;">
                        <i class="uricon-dd-kqdk"></i> 考勤打卡
                    </a>
                    <span> | </span>
                    <a href="javascript:;">
                        <i class="uricon-dd-smkm"></i> 扫码开门
                    </a>
                </div>
            </div>
        </section>
        <section class="index-main">
            <ul>
                <li>
                    <a href="/rentMeetingRoom/list?plantId=">
                        <img src="/assets/public/dingding/images/dhys.png" alt="">
                        <p>订会议室</p>
                    </a>
                </li>
                <li>
                    <a href="/rentSation/getStationListView">
                        <img src="/assets/public/dingding/images/dgw.png" alt="">
                        <p>订工位</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/dcd.png" alt="">
                        <p>订场地</p>
                    </a>
                </li>
                <li>
                    <a href="/workstageVisit/visitIndex">
                        <img src="/assets/public/dingding/images/fkyy.png" alt="">
                        <p>访客预约</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="index-notice">
            <div class="notice-wrap">
                <div class="notice-left">
                    <img src="/assets/public/images/notice.png" alt="">
                </div>
                <div class="notice-right">
                    <a href="javascript:;">
                        <p>关于优客工场logo更换通知</p>
                        <i class="uricon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="index-apply">
            <header class="apply-title">
                <h2>我常用的</h2>
                <aside>
                    <a href="javascript:;">编辑</a>
                </aside>
            </header>
            <ul class="apply-wrap">
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="index-apply">
            <header class="apply-title">
                <h2>我常用的</h2>
                <aside>
                    <a href="javascript:;">编辑</a>
                </aside>
            </header>
            <ul class="apply-wrap">
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/assets/public/dingding/images/icon.jpg" alt="">
                        <p>定会议室</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <!-- / main -->
</div>
<!--/ wrapper -->
<script type="text/html" id="tplList">

</script>
<script src="/assets/public/dingding/index.js"></script>
<script>
    var Index = {
        init: function() {
            this.carouselSlide();
            this.bindEvent();
        },
        // 横向滚动列表
        carouselSlide: function() {
            new Swiper(".entry-slide", {
                pagination: '.swiper-pagination',
            });
        },
        bindEvent:function () {
            $('body')
                .off('click','.filter-wrap a')
                .on('click','.filter-wrap a',function (e) {

                })
        }
    };
    $(function() {
        Index.init();
    });
</script>
</body>

</html>
