
[class*=" icon-"],
[class^="icon-"] {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}

//.icon-dianzan,
//.icon-dianzanb {
//    width: 15px;
//    height: 15px;
//    background: url("/assets/public/images/ui/dianzan.png") no-repeat 50% 50%;
//    background-size: 13px 13px;
//}
//.icon-dianzanb {
//    background-image: url("/assets/public/images/ui/dianzanb.png");
//}
