<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/book.css">
</head>

<body class="gray-bg">
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">

        <!-- slide -->
        <div class="swiper-container index-slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner-image-box">
                    <a class="banner-image" href="/market/index" title="" style="background-image:url('/assets/public/market/images/banner.jpg');"></a>
                </div>
                <div class="swiper-slide banner-image-box">
                    <a class="banner-image" href="/company/package" title="" style="background-image:url('/assets/public/index/images/banner/banner-05.png?1226');"></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- /slide -->
        <!-- index-user -->
        <section class="layout-item book-main">
            <ul class="icon-list">
                <li>
                    <a href="javascript:;">
                        <div class="icon-wrap">
                            <img src="/assets/public/market/images/book/gw.png" alt="">
                        </div>
                        <p>工位</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="icon-wrap">
                            <img src="/assets/public/market/images/book/hys.png" alt="">
                        </div>
                        <p>会议室</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="icon-wrap">
                            <img src="/assets/public/market/images/book/cd.png" alt="">
                        </div>
                        <p>场地</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="icon-wrap">
                            <img src="/assets/public/market/images/book/sq.png" alt="">
                        </div>
                        <p>社区</p>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /index-user -->
        <section class="layout-item swiper-wrap-hidden book-like">
            <header class="layout-item-title">
                <h2><a href="javascript:;">猜你喜欢</a></h2>
            </header>
            <div class="swiper-fixed-ratio">
                <div class="swiper-container swiper-like">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="like-item">
                                        <div class="like-pic">
                                            <img src="/assets/public/market/images/banner.jpg" alt="">
                                        </div>
                                        <div class="like-text">
                                            <h2>4B Time Rent会议室</h2>
                                            <p>阳光100·优客工场</p>
                                            <object>
                                                <a href="javascript:;" class="btn btn-primary-market">立即预订</a>
                                            </object>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="like-item">
                                        <div class="like-pic">
                                            <img src="/assets/public/market/images/banner.jpg" alt="">
                                        </div>
                                        <div class="like-text">
                                            <h2>4B Time Rent会议室</h2>
                                            <p>阳光100·优客工场</p>
                                            <object>
                                                <a href="javascript:;" class="btn btn-primary-market">立即预订</a>
                                            </object>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout-item swiper-wrap-hidden book-station">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;">更多</a>
                </aside>
                <h2><a href="javascript:;">优质工位</a></h2>
            </header>
            <div class="swiper-fixed-ratio">
                <div class="swiper-container swiper-station">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥60</span> / 天</p>
                                        </div>
                                        <p class="text-tip">北京市朝阳区西大望路15号外企大厦b座... 拷贝 4</p>
                                        <p class="text-desc">200工位可订</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥60</span> / 天</p>
                                        </div>
                                        <p class="text-tip">北京市朝阳区西大望路15号外企大厦b座... 拷贝 4</p>
                                        <p class="text-desc">200工位可订</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout-item swiper-wrap-hidden book-community">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;">更多</a>
                </aside>
                <h2><a href="javascript:;">热门社区</a></h2>
            </header>
            <div class="swiper-fixed-ratio">
                <div class="swiper-container swiper-community">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="community-text-box">
                                        <h2>北京软件园</h2>
                                        <div class="community-tip">
                                            <div class="score-mod star-min">
                                                <div class="star"><span style="width: 80%"></span></div>
                                            </div>
                                            <p>20个工位</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="community-text-box">
                                        <h2>北京软件园</h2>
                                        <div class="community-tip">
                                            <div class="score-mod star-min">
                                                <div class="star"><span style="width: 80%"></span></div>
                                            </div>
                                            <p>20个工位</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout-item swiper-wrap-hidden book-meetingRoom">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;">更多</a>
                </aside>
                <h2><a href="javascript:;">热门会议室</a></h2>
            </header>
            <div class="swiper-fixed-ratio">
                <div class="swiper-container swiper-station">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥100</span> / 30分钟</p>
                                        </div>
                                        <p class="text-tip">12人以上</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥100</span> / 30分钟</p>
                                        </div>
                                        <p class="text-tip">12人以上</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout-item swiper-wrap-hidden book-place">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;">更多</a>
                </aside>
                <h2><a href="javascript:;">优质场地</a></h2>
            </header>
            <div class="swiper-fixed-ratio">
                <div class="swiper-container swiper-station">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥100</span> / 30分钟</p>
                                        </div>
                                        <p class="text-tip">可容纳12人</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="piclist-item">
                                <a href="#">
                                    <div class="piclist-image-box">
                                        <div class="piclist-image" style="background-image:url('http://pic.90sjimg.com/back_pic/00/04/27/49/08bfc708cf3096c8a1bb817864a1cbcf.jpg');"></div>
                                    </div>
                                    <div class="swiper-text-box">
                                        <div class="text-title">
                                            <h2>阳光100·优客工场</h2>
                                            <p><span>¥100</span> / 30分钟</p>
                                        </div>
                                        <p class="text-tip">可容纳12人</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<!--<script src="/assets/public/market/scripts/index.js"></script>-->
<script>
    var Index = {
        init: function() {
            this.carouselSlide();
            this.bindEvent();
            UR.mainSlide('.index-slide');
        },
        // 横向滚动列表
        carouselSlide: function() {
            var swiperParams = function() {
                return {
                    slidesPerView: "auto",
                    setWrapperSize: true,
                    lazyLoading: true,
                    lazyLoadingInPrevNext: true
                }
            };
            var like = 608 / 75 + 'rem';
            var station = 680 / 75 + 'rem';
            var community = 418 / 75 + 'rem';
            $('.swiper-fixed-ratio .swiper-like .swiper-slide').css('width', like);
            new Swiper(".swiper-fixed-ratio .swiper-like", swiperParams());
            $('.swiper-fixed-ratio .swiper-station .swiper-slide').css('width', station);
            new Swiper(".swiper-fixed-ratio .swiper-station", swiperParams());
            $('.swiper-fixed-ratio .swiper-community .swiper-slide').css('width', community);
            new Swiper(".swiper-fixed-ratio .swiper-community", swiperParams());
        },
        bindEvent:function () {
            $('body')
                .off('click','.filter-wrap a')
                .on('click','.filter-wrap a',function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var $li = $(this).parent();
                    var index = $li.index();
                    var groups = $li.closest('.tab-box').find('.tab-group');
                    $li.siblings().removeClass('active');
                    $li.addClass('active');
                    groups.hide();
                    groups.eq(index).show();
                })
                .off('click','.create-btn')
                .on('click','.create-btn',function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    DANativeApi.redirectTo({
                        url: "urwork://company/create?source=2"
                    });
                })
        }
    };

    $(function() {
        Index.init();
    });
</script>
</body>

</html>
