<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>企业视频</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/video-list.css?20180507">
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        <div id="titlebar">
        <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
        <span class="title">企业视频</span>
        </div>
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <ul class="video-list">
            <li>
                <div class="ucompany-video-mod">
                    <div class="img-wrap">
                        <a href="#">
                            <div class="player-icon"><i></i></div>
                            <div class="timelength">10:23</div>
                        </a>
                    </div>
                    <div class="video-title">
                        <p>视频标题标题视频标题标题视频标题标题</p>
                    </div>
                    <div class="desc">
                        <p class="company">极客晨星</p>
                        <div class="actions">
                            <a href="#">
                                <i class="uricon-pinglun"></i>
                                <span class="count">114</span>
                            </a>
                            <a class="like" href="#">
                                <span class="icon-wrap"><i class="uricon-like-o"></i></span>
                                <span class="count">114</span>
                            </a>
                            <!--<a href="#">-->
                            <!--<i class="uricon-share-o"></i>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ucompany-video-mod">
                    <div class="img-wrap">
                        <a href="#">
                            <div class="player-icon"><i></i></div>
                            <div class="timelength">10:23</div>
                        </a>
                    </div>
                    <div class="desc">
                        <dl class="company">
                            <dt><img src="https://image.urwork.cn/46BE84E6-DB48-49BB-B8F8-0E57DA5D93A8.jpg?imageMogr2/thumbnail/!48x48/gravity/Center" alt=""></dt>
                            <dd>极客晨星</dd>
                        </dl>
                        <div class="actions">
                            <a class="like" href="#">
                                <span class="icon-wrap"><i class="uricon-like-o"></i></span>
                                <span class="count">114</span>
                            </a>
                            <a href="#">
                                <i class="uricon-pinglun"></i>
                                <span class="count">114</span>
                            </a>
                            <a href="#">
                                <i class="uricon-share-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<script>

</script>
</body>

</html>
