<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>企业详情</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/detail.css">
    <script src="/assets/public/plugins/clamp.js"></script>
</head>

<body class="gray-bg">
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper wrapper-app">
        <header id="header" class="header-transparent transparent-def">
            <!-- titlebar -->
            <div id="titlebar">
                <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
                <span class="title">北京TNP科技创业投资有限责任</span>
                <div class="actions">
                    <i class="uricon-share-o"></i>
                    <i class="uricon-setting-o"></i>
                </div>
            </div>
            <!-- /titlebar -->
        </header>

        <!-- main -->
        <main id="main">
            <div class="detail">

                <dl class="company-header">
                    <dt>
                        <div class="img-wrap">
                            <img src="/assets/public/market/images/def/company_logo.png" alt="">
                        </div>
                    </dt>
                    <dd>
                        <h2>北京优客工场创业投资有限责任公司 <img src="/assets/public/market/images/v.png" alt=""></h2>
                        <span class="financing-tab">A轮</span>
                        <div class="infos"><span>50-150人</span>|<span>2017年8月成立</span>|<span>北京</span></div>
                        <div class="tags">
                            <span class="tag"><em>战略规划</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>投融资</em></span>
                            <span class="tag"><em>音乐</em></span>
                        </div>
                    </dd>
                </dl>

                <ul class="layout-item settings">
                    <li>
                        <a href="#">
                            <i class="uricon-list"></i>
                            <p>企业画像</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="uricon-company"></i>
                            <p>企业认证</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="uricon-account"></i>
                            <p>企业账户</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="uricon-setting"></i>
                            <p>全部设置</p>
                        </a>
                    </li>
                </ul>

                <div class="layout-item" style="padding-top: 0">
                    <div class="clerk">
                        <ul class="clerk-thumbnail">
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                            <li>
                                <div class="pic"><img src="https://image.urwork.cn/user/zhouzibo.jpg" alt=""></div>
                            </li>
                        </ul>
                        <div class="clerk-count">
                            <span>13</span>
                            员工
                        </div>
                    </div>
                    <div class="specialty">
                        <div class="supply item">
                            <a href="#" class="btn-edit editService" data-target="#textarea"><i class="uricon-bianji"></i></a>
                            <img src="/assets/public/market/images/supply.png" alt="">
                            <span>可提供的服务</span>
                            <p>医学研究与试验发展；计算机系统服务；销售医疗器械I类。</p>

                            <div class="edit-profile-info">
                                <a href="#" class="editService" data-target="#textarea">完善企业服务<i class="uricon-arrow-right"></i></a>
                                <p>添加可提供的服务，快速匹配企业所需</p>
                            </div>

                            <div class="data-null">
                                <p>暂无信息</p>
                            </div>
                        </div>
                        <div class="need item">
                            <a href="#" class="btn-edit editNeed" data-target="#textarea"><i class="uricon-bianji"></i></a>
                            <img src="/assets/public/market/images/help.png" alt="">
                            <span>需要的帮助</span>
                            <!--<p>急需拓展销售渠道，招聘优秀人才。</p>-->
                            <div class="edit-profile-info">
                                <a href="#" class="editNeed" data-target="#textarea">完善所需帮助<i class="uricon-arrow-right"></i></a>
                                <p>简述所需，让更多企业来帮您</p>
                            </div>

                            <!--<div class="data-null">-->
                                <!--<p>暂无信息</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="anchor" id="anchor">
                    <ul>
                        <li><a href="#overview" class="active">简介</a></li>
                        <li><a href="#finance">融资信息</a></li>
                        <li><a href="#product">产品服务</a></li>
                        <li><a href="#join">合作留言</a></li>
                    </ul>
                </div>

                <div class="layout-item overview">
                    <div id="overview" class="anchor-trigger"></div>
                    <article data-toggle="clamp" data-clamp="3">优客工场（UrWork）成立于2015年4月，由毛大庆博士发起成立。汇集包括红杉资本中国基金、真格基金、歌斐资产、永柏联投、中城承扶、中投汉富、创新工场、阳光100集团，领势投资、高榕资本、中融信托、银泰置地、泰合集团、天弘基金、俊发地产集团等数十个顶级投资机构</article>

                    <div class="info">
                        <dl>
                            <dt><i class="uricon-product-o"></i>产品：</dt>
                            <dd><span>优客工场APP</span><span>5Lmeet APP</span></dd>
                        </dl>
                        <dl>
                            <dt><i class="uricon-website-o"></i>网站：</dt>
                            <dd>www.urwork.cn</dd>
                        </dl>
                    </div>

                    <div class="edit-profile-info" style="margin-top: 15px">
                        <a href="#">完善企业资料<i class="uricon-arrow-right"></i></a>
                        <p>完善资料，让大家了解你的企业哦</p>
                    </div>
                </div>

                <h2 class="detail-title line-bottom">
                    入驻社区
                </h2>
                <div class="layout-item workstage-list">

                    <div class="data-null">
                        <p>暂无信息</p>
                    </div>

                    <div class="edit-profile-info">
                        <a href="#">立即入驻</a>
                        <p>简单预订，即刻加入优客工场</p>
                    </div>

                    <dl class="workstage-item">
                        <dt>
                            <div class="img"><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!84x84r/gravity/Center/crop/84x84" alt=""></div>
                        </dt>
                        <dd>
                            <p class="name">北京阳光100·优客工场</p>
                            <p class="address">朝阳区光华路2号阳光100</p>
                            <a href="#" class="btn btn-market">预约参观</a>
                        </dd>
                    </dl>
                    <dl class="workstage-item">
                        <dt>
                            <div class="img"><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!84x84r/gravity/Center/crop/84x84" alt=""></div>
                        </dt>
                        <dd>
                            <p class="name">北京阳光100·优客工场</p>
                            <p class="address">朝阳区光华路2号阳光100</p>
                            <a href="#" class="btn btn-market">预约参观</a>
                        </dd>
                    </dl>
                </div>

                <h2 class="detail-title">
                    融资信息
                </h2>
                <div class="layout-item finance">
                    <div id="finance" class="anchor-trigger"></div>

                    <div class="data-null">
                        <p>暂无信息</p>
                    </div>

                    <div class="edit-profile-info">
                        <a href="#">添加融资需求</a>
                        <p>优鲜集企业服务平台，更多融资对接机会</p>
                    </div>

                    <!--<section class="info">-->
                        <!--<dl>-->
                            <!--<dt>融资阶段</dt>-->
                            <!--<dd>A轮</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>已融资金额</dt>-->
                            <!--<dd>1000万</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>企业估值</dt>-->
                            <!--<dd>2亿元以下</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>投资方</dt>-->
                            <!--<dd>经纬中国、金沙江</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>项目简介</dt>-->
                            <!--<dd>引领全球生态产业新能源高效利用设备的好处</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>核心优势</dt>-->
                            <!--<dd>可靠高效的并行化自由网构建技术，模版化的GPU高姿态位置解算方</dd>-->
                        <!--</dl>-->
                    <!--</section>-->
                    <!--<a href="#" class="more-link">更多融资信息 <i class="uricon-arrow-right"></i></a>-->
                </div>

                <h2 class="detail-title">
                    产品服务
                </h2>
                <div class="layout-item product">
                    <div id="product" class="anchor-trigger"></div>

                    <div class="data-null">
                        <p>暂无信息</p>
                    </div>

                    <div class="edit-profile-info">
                        <a href="#">添加产品/服务</a>
                        <p>发布标准产品，可为您带来更快速的成交</p>
                    </div>

                    <!--<section class="server-item">-->
                        <!--<h2>免费办理中信白金信用卡</h2>-->
                        <!--<ul>-->
                            <!--<li>可为优客工场客户申请中信白金信用卡</li>-->
                            <!--<li>长期有效</li>-->
                            <!--<li>融慧园·优客工场，海龙大厦·优客工场，北京阿里云...</li>-->
                        <!--</ul>-->
                        <!--<a href="#" class="btn">查看更多优惠</a>-->
                    <!--</section>-->
                    <!--<section class="product-list">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<div class="product-item">-->
                                        <!--<div class="img-wrap">-->
                                            <!--<div class="img" require-clip style="background-image: url('https://image.urwork.cn/4815a4f6-7e0a-4b96-b16e-c6827a9607f1.jpg?imageMogr2/thumbnail/!320x320r/gravity/Center/crop/320x320')"></div>-->
                                        <!--</div>-->
                                        <!--<div class="product-desc">-->
                                            <!--<p class="product-name">贴合型护椎腰枕</p>-->
                                            <!--<p class="product-attrs">¥99<i>|</i>剩150件</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->

                                <!--<a href="#">-->
                                    <!--<div class="product-item">-->
                                        <!--<div class="img-wrap">-->
                                            <!--<div class="img" require-clip style="background-image: url('https://image.urwork.cn/4815a4f6-7e0a-4b96-b16e-c6827a9607f1.jpg?imageMogr2/thumbnail/!320x320r/gravity/Center/crop/320x320')"></div>-->
                                        <!--</div>-->
                                        <!--<div class="product-desc">-->
                                            <!--<p class="product-name">贴合型护椎腰枕</p>-->
                                            <!--<p class="product-attrs">¥99<i>|</i>剩150件</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<div class="product-item">-->
                                        <!--<div class="img-wrap">-->
                                            <!--<div class="img" require-clip style="background-image: url('https://image.urwork.cn/4815a4f6-7e0a-4b96-b16e-c6827a9607f1.jpg?imageMogr2/thumbnail/!320x320r/gravity/Center/crop/320x320')"></div>-->
                                        <!--</div>-->
                                        <!--<div class="product-desc">-->
                                            <!--<p class="product-name">贴合型护椎腰枕</p>-->
                                            <!--<p class="product-attrs">¥99<i>|</i>剩150件</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<div class="product-item">-->
                                        <!--<div class="img-wrap">-->
                                            <!--<div class="img" require-clip style="background-image: url('https://image.urwork.cn/4815a4f6-7e0a-4b96-b16e-c6827a9607f1.jpg?imageMogr2/thumbnail/!320x320r/gravity/Center/crop/320x320')"></div>-->
                                        <!--</div>-->
                                        <!--<div class="product-desc">-->
                                            <!--<p class="product-name">贴合型护椎腰枕</p>-->
                                            <!--<p class="product-attrs">¥99<i>|</i>剩150件</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<a href="#" class="more-link">更多产品服务(6) <i class="uricon-arrow-right"></i></a>-->
                </div>

                <h2 class="detail-title line-bottom">
                    U求必应
                    <a href="javascript:;" class="publish-btn"><i class="uricon-plus-w"></i>发布新需求</a>
                </h2>
                <div class="layout-item uqby">

                    <div class="data-null">
                        <p>暂无信息</p>
                    </div>

                    <div class="publish-info">
                        <p>及时发布，将有助于您需求的快速推进解决哦~</p>
                        <a href="#" class="btn btn-market-o">发布新需求</a>
                    </div>

                    <!--<ul class="uqby-list">-->
                        <!--<li>-->
                            <!--<div class="uqby-item">-->
                                <!--<p class="desc"><i class="tag">企业服务</i>招前端工程师，薪资面谈，地点大望路，环境好，距地铁近，求推！境好，距地铁近，求推！境好，距地铁近，求推！</p>-->
                                <!--<div class="img-wrap">-->
                                    <!--<div class="img" require-clip style="background-image: url('https://image.urwork.cn/88955d48-d003-4adc-833f-664bc7ffe9a7.jpg?imageMogr2/thumbnail/!156x134r/gravity/Center/crop/156x134');"></div>-->
                                <!--</div>-->
                                <!--<div class="actions">-->
                                    <!--<a href="#" class="comment"><i class="uricon-ly"></i>评论</a>-->
                                    <!--<time>20分钟前</time>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="uqby-item">-->
                                <!--<p class="desc"><i class="tag">企业服务</i>招前端工程师，薪资面谈，地点大望路，环境好，距地铁近，求推！境好，距地铁近，求推！境好，距地铁近，求推！</p>-->
                                <!--<div class="actions">-->
                                    <!--<a href="#" class="comment"><i class="uricon-ly"></i>评论</a>-->
                                    <!--<time>20分钟前</time>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="uqby-item">-->
                                <!--<p class="desc"><i class="tag">企业服务</i>招前端工程师，薪资面谈，</p>-->
                                <!--<div class="actions">-->
                                    <!--<a href="#" class="comment"><i class="uricon-ly"></i>评论</a>-->
                                    <!--<time>20分钟前</time>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<a href="#" class="more-link">更多U求必应(45) <i class="uricon-arrow-right"></i></a>-->
                </div>

                <h2 class="detail-title line-bottom">
                    合作留言(23)
                    <a href="javascript:;" class="publish-btn"><i class="uricon-plus-w"></i>联系TA</a>
                </h2>
                <div class="layout-item join">
                    <div id="join" class="anchor-trigger"></div>

                    <div class="data-null">
                        <p>暂无信息</p>
                    </div>

                    <div class="info">
                        <ul class="message-list">
                            <li>
                                <dl class="sender-info">
                                    <dt>
                                        <a href="javascript:;">
                                            <img src="/assets/public/market/images/liuxl.jpg" alt="">
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;">
                                            <h2>大王叫我来巡山</h2>
                                            <p>北京希遇信息科技有限公司</p>
                                        </a>
                                    </dd>
                                </dl>
                                <div class="message-content">
                                    <a>招前端工程师，薪资面谈，地点大望路，环境好， 距地铁近，求推！</a>
                                </div>
                                <ul class="comments">
                                    <li><b>张立杨：</b>Joe 机构饿就哦各界哦，多饿饿饿饿，大奖哦额感觉哦俄共饿就够了</li>
                                    <li><b>封莉莉：</b>会支持，一定购买</li>
                                </ul>
                                <div class="message-handle">
                                    <time class="time">2017-07-01</time>
                                    <div class="actions">
                                        <a href="#"><i class="uricon-pinglun"></i>回复</a>
                                        <a href="#"><i class="uricon-sixin"></i>私信</a>
                                        <a href="javascript:;" class="dianzan"><i class="uricon-dianzan"></i><span>赞</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="more-link">更多合作留言(58) <i class="uricon-arrow-right"></i></a>
                    </div>
                </div>

                <h2 class="detail-title line-bottom">
                    动态
                    <a href="javascript:;" class="publish-btn"><i class="uricon-plus-w"></i>发布最新动态</a>
                </h2>
                <div class="layout-item">
                    <ul class="timeline">
                        <!--<li class="data-null">-->
                            <!--<p>暂无动态</p>-->
                        <!--</li>-->
                        <li class="publish-info">
                            <p>及时发布，将有助于您需求的快速推进解决哦~</p>
                            <a href="#" class="btn btn-market-o">发布新需求</a>
                        </li>
                        <li>
                            <div class="info-stream-item">
                                <a href="#">
                                    <div class="stream-profile">
                                        <time class="time">2017-10-11</time>
                                        <div class="pic">
                                            <img src="https://image.urwork.cn/user/zhouzibo.jpg" alt="">
                                        </div>
                                        <div class="profile-info">
                                            <h2>刘杨笑<img class="flag" src="/assets/public/images/ui/vip_flag.png" alt=""></h2>
                                            <p>北京发烧者科技有限公司</p>
                                            <p>北京市·阿里巴巴创新中心·优客工场</p>
                                        </div>
                                    </div>
                                    <div class="info-body">
                                        <p class="price"><em>&yen;</em>30000以上</p>
                                        <p>#新人报道 大家好，我是刘杨笑，在“北京市·阳光
                                            100·优客工场”办公，我擅长“项目管理”，爱好“音
                                            乐，宠宠”，我今天加入了优客工场，请多多关照！</p>
                                        <div class="imgs">
                                            <ul>
                                                <li><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt=""></li>
                                                <li><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt=""></li>
                                                <li><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt=""></li>
                                                <li><img src="https://image.urwork.cn/user/zhouzibo.jpg?imageMogr2/thumbnail/!200x200r/gravity/Center/crop/200x200" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                                <ul class="comments">
                                    <li><b>张立杨：</b>Joe 机构饿就哦各界哦，多饿饿饿饿，大奖哦额感觉哦俄共饿就够了</li>
                                    <li><b>封莉莉：</b>会支持，一定购买</li>
                                </ul>
                                <div class="stream-actions">
                                    <div class="source">来自企业服务: <span>营销推广</span></div>
                                    <div class="actions">
                                        <a href="#"><i class="uricon-pinglun"></i>回复</a>
                                        <a href="#"><i class="uricon-sixin"></i>私信</a>
                                        <a href="javascript:;" class="dianzan"><i class="uricon-dianzan"></i><span>赞</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="action-bottom">
                <a href="javascript:;" name="publishCompanyComment" companyid="2609" companyname="上海品课品牌设计有限公司" class="btn btn-market">联系TA</a>
            </div>

            <div class="action-bottom">
                <a href="javascript:;" class="btn btn-market">认领企业</a>
            </div>

            <div class="action-bottom">
                <ul>
                    <li><a href="javascript:;" class="btn btn-market-o">加入企业</a></li>
                    <li><a href="javascript:;" class="btn btn-market">联系TA</a></li>
                </ul>
            </div>

            <div class="action-bottom">
                <ul>
                    <li><a href="javascript:;" class="btn btn-market-o" disabled>审核申请中</a></li>
                    <li><a href="javascript:;" class="btn btn-market">联系TA</a></li>
                </ul>
            </div>
        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->

    <!-- 多行文本编辑器 -->
    <section class="input-content" id="textarea" role="parent">
        <header class="layer-header">
            <a href="javascript:;" class="edit-btn" role="close">取消</a>
            <a href="javascript:;" class="edit-btn input-content-save" role="save">保存</a>
        </header>
        <div class="layer-body">
            <form action class="form form-input-content" data-mode="textarea">
                <div class="form-item">
                    <textarea role="textfield"></textarea>
                </div>
            </form>
        </div>
    </section>
    <!-- / 多行文本编辑器 -->

    @import "goto.tpl"
    @import "footer-common.tpl"

    <script src="/assets/public/market/scripts/company-detail.js"></script>
    <script>
        $(function() {
            var $dom = $(document);

            var hash = location.hash;
            var $anchorWrap = $('#anchor');
            if (hash) {
                $anchorWrap.find('a').removeClass('active');
                $anchorWrap.find('[data-href="' + hash + '"]').addClass('active');
            }

            $anchorWrap.find('a').on('click', function(e) {
                e.preventDefault();
                var $this = $(this);
                var href = $this.data('href');
                $anchorWrap.find('a').removeClass('active');
                $this.addClass('active');
                window.location.replace(href);
            });

            UR.headerFixed(20);
            UR.clamp();
            anchorFixed();

            $dom.on('click', '.editService, .editNeed', function(e) {
                e.preventDefault();
                BaseForm.inputContent(this, {
                    mode: 'textarea',
                    name: 'service',
                    label: '可提供的服务',
                    type: 'text',
                    void: true,
                    rules: {
                        maxlength: 200
                    },
                    messages: {
                        maxlength: '最多200个字'
                    },
                    getValue: function() {
                        return ''
                    },
                    onBefore: function() {
                        console.log('before');
                    },
                    onEnter: function(val, elem) {
                        console.log(val, elem);
                    }
                })
            })

        });

        function anchorFixed() {
            var $header = $('#header');
            var $anchor = $('#anchor');
            var $ul = $anchor.children('ul');
            var $win = $(window);

            var top = $anchor.offset().top;
            var headerH = $header.outerHeight();

            if ($win.scrollTop() >= top - headerH) {
                $ul.addClass('fixed');
            } else {
                $ul.removeClass('fixed');
            }

            $win.on('scroll', function() {
                if (this.scrollY >= top - headerH) {
                    $ul.addClass('fixed');
                } else {
                    $ul.removeClass('fixed');
                }
            })
        }
    </script>
</body>

</html>
