<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>标题</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/face-to-face.css">
</head>

<body>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar-def.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <div class="layout-item">
                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/liuyan.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            曾就职于世界500强中央大型能源企业上市公司，担任资本市场、资本运作、投融资总监等职务，拥有二十年境内外资本市场上市...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/gaochao.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            现任优客工场执行合伙人兼CMO，原亚马逊及Uber优步在中国的首任公关总监。
                            曾就职于Uber、戴尔、百事、亚马逊、诺基亚...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/wanghuiyuan.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            负责人力资源管理工作，有丰富的管理及实战经验，擅长以企业文化发展为驱动力的人力资源规划，在基于以战略为导向的人才培养...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/xubinchao.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            拥有十年以上的互联网从业经验，曾就职于高阳科技、结信网络科技、九城集团、中搜在线等公司，任产品运营中心总经理/高级项目...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/zhaozhimo.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            作为对内治理公司、对外沟通投资者及行政机关的公司负责人员，熟知公司法、证券法、公司章程等相关法律法规，并掌握财务、法务...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/zhuzilong.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            曾就职于深圳华侨城集团、新加坡凯德置地、华瀚集团等房地产公司，具有丰富的大型商业综合体和大型住宅区、别墅区的设计管理...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/mawenbin.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            优客⼯场庆峰基金合伙人。负责优客工场基金板块的投资业务，毕业于澳大利亚昆士兰大学，曾先后投资了活动行，知呱呱，AA加速器...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/zhuqingyuan.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            毕业于美国东北大学，主修金融与心理学，大学期间创立三家公司，文化媒体平台lobsboston, 对冲基金High Light Capital(高光资本）...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/yanlingyang.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            负责业务和财务一体化中，财务体系的建立和改造，制定及落实财务战略，以适应业务和行业的发展。擅长企业的股份制改造，国内...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>

                <div class="dk-item">
                    <div class="img-wrap">
                        <div class="img" style="background-image:url('/assets/public/market/images/dk/miaoheng.jpg');"></div>
                    </div>
                    <div class="dk-body">
                        <div class="dk-profile">
                            熟悉生产制造行业、IT行业、连锁经营行业集团税务管理工作；具有丰富的财税实操经验和税收筹划经验，上市财税梳理、企业并购...
                            <a href="#" class="more">展开</a>
                        </div>
                        <a href="#" class="btn">马上提问</a>
                    </div>
                </div>
            </div>
        </main>
        <!-- /main -->

    </div>
    <!-- /wrapper -->
    @import "goto.tpl"
    @import "footer-common.tpl"
</body>

</html>
