<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>企业粉丝</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/fans-list.css">
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header" class="header-def">
            <!-- titlebar -->
            <div id="titlebar">
                <i class="nav-switch uricon-arrow-left" id="pageBack"></i>
                <span class="title">企业粉丝</span>
            </div>
            <!-- /titlebar -->
        </header>
        <!-- /header -->

        <!-- main -->
        <main id="main">
            <ul class="fans-list">
                <li>
                    <dl class="fans-item">
                        <dt>
                            <a href="#">
                                <div class="img-wrap">
                                    <img src="" alt="">
                                </div>
                            </a>
                        </dt>
                        <dd>
                            <a href="#">
                                <p class="name"><span>郑米亚</span><img class="flag" src="/assets/public/images/ui/u_flag.png" alt=""></p>
                                <p class="company"><span>产品总监 上海品课品牌设计有限公司</span></p>
                                <p class="location"><span>阳光100·优客工场</span></p>
                            </a>
                            <a href="#" class="btn follow-btn follow" data-flag="1">已关注</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl class="fans-item">
                        <dt>
                            <a href="#">
                                <div class="img-wrap">
                                    <img src="" alt="">
                                </div>
                            </a>
                        </dt>
                        <dd>
                            <a href="#">
                                <p class="name"><span>郑米亚</span><img class="flag" src="/assets/public/images/ui/u_flag.png" alt=""></p>
                                <p class="company"><span>产品总监 上海品课品牌设计有限公司</span></p>
                                <p class="location"><span>阳光100·优客工场</span></p>
                            </a>
                            <a href="#" class="btn btn-primary-market follow-btn follow" data-flag="0"><i class="uricon-plus-w"></i>关注</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->
</body>

</html>
