<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>弹窗</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/guide.css">
</head>

<body no-downloadbar>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <article style="display: none">
                优鲜集送好礼 超多代金券等你拿
                <img src="/assets/public/market/images/guide/share.jpg" alt="">
            </article>
            <div class="guide">
                <a href="#" class="rule-link"></a>
                <div class="guide-inner">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img01.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img02.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img03.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img04.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img05.jpg" alt="">
                    <a href="#" class="btn btn-surprise-red">加入U企业</a>
                </div>
                <div class="guide-inner">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img06.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img07.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img08.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img09.jpg" alt="">
                    <a href="#" class="btn btn-surprise-red">发布U求必应</a>
                </div>
                <div class="guide-inner">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img10.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img11.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img12.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img13.jpg" alt="">
                    <a href="#" class="btn btn-surprise-red">去留言</a>
                </div>
                <div class="guide-inner">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img14.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img15.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img16.jpg" alt="">
                    <img class="lazy" data-src="/assets/public/market/images/guide/img17.jpg" alt="">
                    <a href="#" class="btn btn-surprise-red">立即分享</a>
                </div>
            </div>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->

    <!--<div class="surprise-layer layer-uqy-join in">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<p class="layer-content">发U求必应、给企业留言，<br>-->
                <!--超多代金劵，拿到你手软！-->
            <!--</p>-->
            <!--<div class="layer-actions">-->
                <!--<a href="#" class="btn btn-surprise-red">领取更多代金券</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="surprise-layer layer-coupon" id="companyCoupon">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<h2 class="sub-title">90元代金券</h2>-->
            <!--<div class="layer-coupon-list" id="companyCouponList">-->
                <!--<div class="layer-coupon-list-inner">-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layer-actions">-->
                <!--<a href="#" class="btn btn-surprise-yellow">去使用</a>-->
                <!--<p class="tips"><span>代金券已放入您的企业账户</span></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="surprise-layer layer-coupon">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<h2 class="sub-title">5元代金券</h2>-->
            <!--<div class="layer-coupon-list">-->
                <!--<div class="layer-coupon-item">-->
                    <!--<p class="coupon-name">会议室代金券</p>-->
                    <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                    <!--<p class="amount"><span>&yen;</span>5</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layer-actions">-->
                <!--<div class="btns"><a href="#" class="btn btn-surprise-white-o">去看看</a><a href="#" class="btn btn-surprise-yellow">去使用</a></div>-->
                <!--<p class="tips"><span>代金券已放入您的账户</span></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    @import "goto.tpl"
    @import "footer-common.tpl"
    <script>
        $(function() {

            UR.androidRefresh(false);

            companyCouponInit();

            function companyCouponInit() {
                new IScroll('#companyCouponList', {
                    disablePointer: true,
                    disableTouch: false,
                    click: true
                })
            }
        })
    </script>
</body>

</html>
