<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/index.css">
</head>

<body class="gray-bg">
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <section class="layout-item index-entry">
            <div class="swiper-container entry-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="piclist-item">
                            <div class="piclist-image-box">
                                <a class="piclist-image" href="javascript:;" style="background-image:url('/assets/public/market/images/ceshi.jpg');"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section class="layout-item index-business">
            <ul class="icon-list">
                <li>
                    <a href="javascript:;">
                        <span class="icon-pic" style="background-position: 0 0"></span>
                        <p>U求必应</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="icon-pic" style="background-position: 0 -51px"></span>
                        <p>U企业</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="icon-pic" style="background-position: 0 -102px"></span>
                        <p>投资人</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="icon-pic" style="background-position: 0 -154px"></span>
                        <p>企业集采</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="layout-item index-financing">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;"><i class="uricon-plus-w"></i>加入U企业</a>
                </aside>
                <h2><span class="title-pic" style="background-position: 0 0"></span><a href="javascript:;">U企业</a></h2>
            </header>
            <div class="tab-box">
                <div class="filter-box">
                    <div class="filter-wrap financing-filter">
                        <ul>
                            <li class="active">
                                <a href="javascript:;">互联网</a>
                            </li>
                            <li>
                                <a href="javascript:;">智能硬件</a>
                            </li>
                            <li>
                                <a href="javascript:;">文化传媒</a>
                            </li>
                            <li>
                                <a href="javascript:;">新闻出版</a>
                            </li>
                            <li>
                                <a href="javascript:;">新闻出版</a>
                            </li>
                            <li>
                                <a href="javascript:;">新闻出版</a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-more">
                        <div class="shadow"></div>
                        <a href="javascript:;">
                            <i class="uricon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <ul class="financing-list tab-group">
                    <li class="financing-item">
                        <a href="javascript:;">
                            <div class="financing-top">
                                <dl>
                                    <dt><img src="/assets/public/market/images/banner.jpg" alt=""></dt>
                                    <dd>
                                        <div class="financing-name">
                                            摩登天空有限公司就看了很快就会士大夫科技发达个就会返回酒店豆腐干
                                        </div>
                                        <p>50-150人 | 2017年8月成立</p>
                                        <div class="financing-tabs">
                                            <dl>
                                                <dt>
                                                    <span class="post-tab">音乐辅导功课了dfgdfg</span>
                                                    <span class="post-tab">传媒豆腐干豆腐干vcxvcvbcvb </span>
                                                </dt>
                                                <dd>
                                                    <button class="work-btn">合作联系</button>
                                                </dd>
                                            </dl>
                                        </div>
                                        <em class="financing-tab">自有资金</em>
                                    </dd>
                                </dl>
                            </div>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="financing-item">
                        <a href="javascript:;">
                            <div class="financing-top">
                                <dl>
                                    <dt><img src="/assets/public/market/images/logo1.jpg" alt=""></dt>
                                    <dd>
                                        <h2>摩登天空有限公司就看了很快就会士大夫</h2>
                                        <p>50-150人 | 2017年8月成立</p>
                                        <span class="financing-tab">A轮</span>
                                        <div>
                                            <span class="post-tab">音乐</span>
                                            <span class="post-tab">传媒</span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="financing-item">
                        <a href="javascript:;">
                            <div class="financing-top">
                                <dl>
                                    <dt><img src="/assets/public/market/images/logo1.jpg" alt=""></dt>
                                    <dd>
                                        <h2>摩登天空有限公司就看了很快就会士大夫</h2>
                                        <p>50-150人 | 2017年8月成立</p>
                                        <span class="financing-tab">A轮</span>
                                        <div>
                                            <span class="post-tab">音乐</span>
                                            <span class="post-tab">传媒</span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-btn">
                <a href="javascript:;" class="create-btn">更多U企业(1124) <i class="uricon-arrow-right"></i></a>
            </div>
        </section>
        <section class="layout-item index-master">
            <header class="layout-item-title">
                <h2><span class="title-pic" style="background-position: 0 -20px"></span><a href="javascript:;">投创人物</a></h2>
            </header>
            <div class="tab-box">
                <div class="filter-box">
                    <div class="filter-wrap master-filter">
                        <ul>
                            <li class="active">
                                <a href="javascript:;">美女CEO</a>
                            </li>
                            <li>
                                <a href="javascript:;">老司机</a>
                            </li>
                            <li>
                                <a href="javascript:;">霸道总裁</a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-more">
                        <div class="shadow"></div>
                        <a href="javascript:;">
                            <i class="uricon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <ul class="master-list tab-group">
                    <li class="master-item">
                        <a href="javascript:;">
                            <dl class="master-top">
                                <dt><img src="/assets/public/market/images/liuxl.jpg" alt=""></dt>
                                <dd>
                                    <h2>刘杨笑</h2>
                                    <p>优客工场 | 首席财务官CFO</p>
                                    <button class="contact-btn">联系TA</button>
                                </dd>
                            </dl>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>企业可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="master-item">
                        <a href="javascript:;">
                            <dl class="master-top">
                                <dt><img src="/assets/public/market/images/liuxl.jpg" alt=""></dt>
                                <dd>
                                    <h2>刘杨笑</h2>
                                    <p>优客工场 | 首席财务官CFO</p>
                                    <button class="contact-btn">联系TA</button>
                                </dd>
                            </dl>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>企业可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="master-item">
                        <a href="javascript:;">
                            <dl class="master-top">
                                <dt><img src="/assets/public/market/images/liuxl.jpg" alt=""></dt>
                                <dd>
                                    <h2>刘杨笑</h2>
                                    <p>优客工场 | 首席财务官CFO</p>
                                    <button class="contact-btn">联系TA</button>
                                </dd>
                            </dl>
                            <div class="card-bottom">
                                <div class="supply">
                                    <img src="/assets/public/market/images/supply.png" alt="">
                                    <span>企业可提供的服务</span>
                                    <p>音乐传媒 互动广播 电视网络</p>
                                </div>
                                <div class="need">
                                    <img src="/assets/public/market/images/help.png" alt="">
                                    <span>需要的帮助</span>
                                    <p>需要政府关系方面的服务支持，期待面的服务支面 合作上的飞机后佩佩日提交付款价格翻了个客户士大夫士大夫地方豆腐干豆腐干</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-btn">
                <a href="javascript:;" class="">更多U秀(1224) <i class="uricon-arrow-right"></i></a>
            </div>
        </section>
        <section class="layout-item index-uqiu">
            <header class="layout-item-title">
                <aside>
                    <a class="" href="javascript:;" style="position: static;"><i class="uricon-plus-w"></i>发布需求</a>
                </aside>
                <h2><span class="title-pic" style="background-position: 0 -40px"></span><a href="javascript:;">U求必应</a></h2>
            </header>
            <ul class="uqiu-list">
            <li>
                <a href="javascript:;">
                    <div class="uqiu-top">
                        <dl>
                            <dt>
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <div class="uqiu-name">北京希遇到信息科技课件课件和肯德基的放大看价格</div>
                            </dt>
                            <dd>2017-12-30</dd>
                        </dl>
                        <p>招聘一名web前端工程师，年轻团队,待遇丰厚，想自荐或者推荐人给我的请回复或者直接私信我！</p>
                        <div class="uqiu-tab">
                            <span class="post-tab">招聘</span>
                        </div>
                    </div>
                    <div class="uqiu-bottom">
                        <dl>
                            <dt>
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <span>15人回复</span>
                            </dt>
                            <dd>
                                <button class="join-btn">立即回复<i class="uricon-arrow-right"></i></button>
                            </dd>
                        </dl>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="uqiu-top">
                        <dl>
                            <dt>
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <div class="uqiu-name">北京希遇到信息科技课件课件和肯德基的放大看价格</div>
                            </dt>
                            <dd>2017-12-30</dd>
                        </dl>
                        <p>招聘一名web前端工程师，年轻团队,待遇丰厚，想自荐或者推荐人给我的请回复或者直接私信我！</p>
                        <div class="uqiu-tab">
                            <span class="post-tab">招聘</span>
                            <span class="post-tab">招聘你妹</span>
                        </div>
                    </div>
                    <div class="uqiu-bottom">
                        <dl>
                            <dt>
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <img src="/assets/public/market/images/logo2.jpg" alt="">
                                <span>15人回复</span>
                            </dt>
                            <dd>
                                <button class="join-btn">立即回复<i class="uricon-arrow-right"></i></button>
                            </dd>
                        </dl>
                    </div>
                </a>
            </li>
        </ul>
            <div class="bottom-btn">
                <a href="javascript:;" class="">更多U求必应 <i class="uricon-arrow-right"></i></a>
            </div>
        </section>
        <section class="layout-item index-company">
            <header class="layout-item-title">
                <h2><span class="title-pic" style="background-position: 0 -81px"></span><a href="javascript:;">企业SHOW</a></h2>
            </header>
            <div class="video-item">
                <div class="video-box">
                    <video src="http://img.urwork.cn/vedio/jkxc.mp4" controls="controls" poster="/assets/public/market/images/jkxc.jpg" width="100%" height="190px">
                        您的浏览器不支持 video 标签。
                    </video>
                </div>
                <div class="video-info">
                    <a href="javascript:;">
                        <h2>极客晨星 让中国的孩子也热爱编程</h2>
                        <p>优客工场 ｜  2017-11-17</p>
                    </a>
                </div>
            </div>
            <div class="video-item">
                <div class="video-box">
                    <video src="http://img.urwork.cn/vedio/zhigg.mp4" controls="controls" poster="/assets/public/market/images/zhigg.jpg" width="100%" height="190px" webkit-playsinline="true" playsinline="true">
                        您的浏览器不支持 video 标签。
                    </video>
                </div>
                <div class="video-info">
                    <a href="javascript:;">
                        <h2>知呱呱 一站式知识产权服务平台</h2>
                        <p>优客工场 ｜ 2017-11-15</p>
                    </a>
                </div>
            </div>
            <div class="video-item">
                <div class="video-box">
                    <video src="http://img.urwork.cn/vedio/fanyou.mp4" controls="controls" poster="/assets/public/market/images/fanyou.jpg" width="100%" height="190px" webkit-playsinline="true" playsinline="true">
                        您的浏览器不支持 video 标签。
                    </video>
                </div>
                <div class="video-info">
                    <a href="javascript:;">
                        <h2>泛优 让优秀更优秀 让自由更自由</h2>
                        <p>优客工场 ｜ 2017-11-16</p>
                    </a>
                </div>
            </div>
        </section>
        <section class="layout-item index-goods">
            <header class="layout-item-title">
                <h2><span class="title-pic" style="background-position: 0 -61px"></span><a href="javascript:;">U物集采</a></h2>
            </header>
            <div class="tab-box">
                <div class="filter-box">
                    <div class="filter-wrap goods-filter">
                        <ul>
                            <li class="active">
                                <a href="javascript:;">智能家电</a>
                            </li>
                            <li>
                                <a href="javascript:;">优选饮品</a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-more">
                        <div class="shadow"></div>
                        <a href="javascript:;">
                            <i class="uricon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <ul class="goods-list tab-group">
                    <li>
                        <a href="javascript:;">
                            <div class="goods-pic">
                                <img src="/assets/public/market/images/goods1.jpg" alt="">
                            </div>
                            <div class="goods-name">
                                E-A/U08掌上心电
                            </div>
                            <div class="goods-location">
                                白领健康礼包
                            </div>
                            <div class="goods-integral">￥299.00 <em> ￥599.00</em></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="goods-pic">
                                <img src="/assets/public/market/images/goods2.jpg" alt="">
                            </div>
                            <div class="goods-name">
                                E-A/U08掌上心电
                            </div>
                            <div class="goods-location">
                                白领健康礼包
                            </div>
                            <div class="goods-integral">￥299.00 <em> ￥599.00</em></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="goods-pic">
                                <img src="/assets/public/market/images/goods2.jpg" alt="">
                            </div>
                            <div class="goods-name">
                                E-A/U08掌上心电
                            </div>
                            <div class="goods-location">
                                白领健康礼包
                            </div>
                            <div class="goods-integral">￥299.00 <em> ￥599.00</em></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="goods-pic">
                                <img src="/assets/public/market/images/goods2.jpg" alt="">
                            </div>
                            <div class="goods-name">
                                E-A/U08掌上心电
                            </div>
                            <div class="goods-location">
                                白领健康礼包
                            </div>
                            <div class="goods-integral">￥299.00 <em> ￥599.00</em></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-btn">
                <a href="javascript:;" class="">更多U物 <i class="uricon-arrow-right"></i></a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<script src="/assets/public/market/scripts/index.js"></script>
<script>

    var Index = {
        init: function() {
            var financingFilter = '.financing-filter';
            var masterFilter = '.master-filter';
            var goodsFilter = '.goods-filter';
            this.filter(financingFilter);
            this.filter(masterFilter);
            this.filter(goodsFilter);
            this.carouselSlide();
            this.bindEvent();
            this.initTab();
        },
        // 横向滚动列表
        carouselSlide: function() {
            new Swiper(".entry-slide", {
                pagination: '.swiper-pagination',
            });
        },
        filter:function (box) {
            var $li = $(box).find('li');
            var width = 1;
            for(var i = 0; i <= $li.length - 1; i++){
                width += Math.ceil($li.eq(i).outerWidth());
            }
            $(box).find('ul').css('width',width);
            var myscroll = new IScroll(box,{
                scrollX: true,
                scrollY: false,
                hScrollbar:false,
                vScrollbar : false,
                vScroll:false,
                disablePointer: true,   // 因谷歌升级需加以下两行
                disableTouch: false,
                click: true,
            })

        },
        initTab:function () {
          var $filter = $('.tab-box');
          for(var i = 0;i <= $filter.length - 1;i ++){
              var index = $filter.eq(i).find('.filter-wrap .active').index();
              $filter.eq(i).find('.tab-group').hide();
              $filter.eq(i).find('.tab-group').eq(index).show();
          }
        },
        bindEvent:function () {
            $('body')
                .off('click','.filter-wrap a')
                .on('click','.filter-wrap a',function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var $li = $(this).parent();
                    var index = $li.index();
                    var groups = $li.closest('.tab-box').find('.tab-group');
                    $li.siblings().removeClass('active');
                    $li.addClass('active');
                    groups.hide();
                    groups.eq(index).show();
                })
                .off('click','.create-btn')
                .on('click','.create-btn',function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    DANativeApi.redirectTo({
                     url: "urwork://company/create?source=2"
                    });
                })
        }
    };
    $(function() {
        Index.init();
    });
</script>
</body>

</html>
