<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>投资人详情</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/index.css">
</head>

<body>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <section class="header-bg"></section>
        <section class="investor-info">
            <div class="info-pic">
                <img src="/assets/public/market/images/investor1.jpg" alt="">
            </div>
            <h2>刘晓龙</h2>
            <h3>东方华盖·执行总经理</h3>
            <p>首都经济贸易大学MBA | 中国注册会计师 </p>
        </section>
        <section class="investor-abstract">
            <h2><span></span>投资人介绍</h2>
            <p>负责东方华盖的投资与管理。参与多个TMT、文化体育项目的投资决策，对相关领域有较深的理解及丰富的投资经验。财务背景出身，投资阶段更为审慎，投后阶段能帮助投资项目更好的梳理财务及资本规划，对接业务及资金资源。在2013年加入东方华盖之前，曾在上市公司从事财务、项目并购及股权投资工作。</p>
            <p>主导和参与了包括讯众股份、礼多多、冠新软件、生日管家、appMagics、共享际、百淬、快乐工场、非常云、自在科技、优听无限、重力聿画、企业盒子、一千灵二夜、Bee+、奥秘之家等二十多个早期项目的投资。项目阶段涵盖天使到A轮，多个项目登录新三板创新层，个别项目启动IPO。已投项目曾获得中关村高端领军人才、北京中小企业创业引导基金十周年最具成长企业、2017年信息服务业新业态创新企业30强等多项荣誉。</p>
            <p>东方华盖成立于2013年，核心团队成员拥有丰富的投资及资本市场业务经验或创业经验。先后成为北京中小企业创业引导基金、中关村创投、北京东城人才引导基金等多支引导基金的合作伙伴，聚焦早中期项目的投资，通过帮助被投企业引入先进管理经验，提升产业整合及资本运作能力，推动被投企业快速成长并实现管理资产的持续增值。在TMT、文化、体育、企业服务等领域投资超过30个项目。</p>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<script>

</script>
</body>

</html>
