<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>优鲜集送好礼活动规则</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/guide.css?20180119">
</head>

<body no-downloadbar>
    <input type="hidden" name="appSource" value="">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            @import "topbar.tpl"
        </header>
        <!-- /header -->
        <!-- main -->
        <main id="main">
            <article style="display: none">
                优鲜集送好礼活动规则
                <img src="/assets/public/market/images/guide/share.jpg" alt="">
            </article>
            <div class="guide rules">
                <div class="guide-inner">
                    <section>
                        <h2 class="title"><img src="/assets/public/market/images/surprise/rules_title_mark.png" alt="">代金劵赠送规则<img src="/assets/public/market/images/surprise/rules_title_mark.png" alt=""></h2>
                        <ol>
                            <li><i>1.</i>自活动起始日起，创建企业并完善企业画像成为U企业的，或者选择已有企业完善企业画像升级为U企业的，该企业可获得3张30元全国通用的企业会议室代金劵，有效期15天。代金劵具体使用规则见下方“代金劵使用说明”。</li>
                            <li><i>2.</i>自活动起始日起，成功发布一条新的“U求必应”，用户可获得1张5元全国通用的个人会议室代金劵，有效期10天。</li>
                            <li><i>3.</i>自活动起始日起，成功发布一条新的“企业留言”，用户可获得1张5元全国通用的个人会议室代金劵，有效期10天。</li>
                            <li><i>4.</i>自活动起始日起，成功发布一条新的“企业留言”，用户可获得1张5元全国通用的个人会议室代金劵，有效期10天。</li>
                        </ol>
                    </section>
                    <section>
                        <h2 class="title"><img src="/assets/public/market/images/surprise/rules_title_mark.png" alt="">代金券使用说明<img src="/assets/public/market/images/surprise/rules_title_mark.png" alt=""></h2>
                        <ol>
                            <li style="margin-bottom: 15px"><span><i>1.</i>企业会议室代金券</span>
                                <ul>
                                    <li><b>适用范围：</b>全国内的优客工场；</li>
                                    <li><b>限制条件：</b>此会议室代金券仅限订购优客工场中的“开放会议室”（部分暂未开放相应区域的优客工场尚不支持预订）；</li>
                                    <li><b>有效期：</b>每次获得赠送的代金劵，所获得的代金券有效期从获得当日开始计算；</li>
                                    <li><b>使用方法：</b>通过优客工场web网站、APP预订会议室时，结算流程中选用代金券即可抵扣现金使用；</li>
                                    <li><b>使用说明：</b>会议室预订单次消费不限代金券使用数量，直至订单金额抵扣为0元，如代金券抵扣金额超过实际金额，扣除的整张代金券不予找零；</li>
                                    <il><b>过期说明：</b>代金券超过有效截止日期之后，将无法使用，并不予返赠，请优先使用即将过期的代金券。</il>
                                    <li><b>企业代金劵：</b>企业代金劵是赠送给企业的代金劵，企业管理员可在“企业账户”中查看。企业管理员可以在企业设置中打开或关闭任意企业成员的“代金劵使用权限”，只有拥有代金劵使用权限的企业成员，在下单时可以看到企业代金劵并使用。自活动起始日起，创建企业并完善企业画像成为U企业的，或者选择已有企业完善企业画像升级为U企业的，该企业可获得3张30元全国通用的企业会议室代金劵，有效期15天。代金劵具体使用规则见下方“代金劵使用说明”。</li>
                                </ul>
                            </li>
                            <li><span><i>2.</i>个人会议室代金券</span>
                                <ul>
                                    <li><b>适用范围：</b>全国内的优客工场；</li>
                                    <li><b>限制条件：</b>此会议室代金券仅限订购优客工场中的“开放会议室”（部分暂未开放相应区域的优客工场尚不支持预订）；</li>
                                    <li><b>有效期：</b>每次获得赠送的代金劵，所获得的代金券有效期从获得当日开始计算；</li>
                                    <li><b>使用方法：</b>通过优客工场web网站、APP预订会议室时，结算流程中选用代金券即可抵扣现金使用；</li>
                                    <li><b>使用说明：</b>会议室预订单次消费不限代金券使用数量，直至订单金额抵扣为0元，如代金券抵扣金额超过实际金额，扣除的整张代金券不予找零；</li>
                                    <li><b>过期说明：</b>代金券超过有效截止日期之后，将无法使用，并不予返赠，请优先使用即将过期的代金券。</li>
                                    <li><b>个人代金劵：</b>个人代金劵是赠送给个人的代金劵，可以在“我的-我的代金劵”中查看所有代金券。</li>
                                </ul>
                            </li>
                        </ol>
                    </section>
                </div>
            </div>
            <p class="copyright">最终解释权归优客工场所有</p>
        </main>
        <!-- /main -->
    </div>
    <!-- /wrapper -->

    <!--<div class="surprise-layer layer-uqy-join in">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<p class="layer-content">发U求必应、给企业留言，<br>-->
                <!--超多代金劵，拿到你手软！-->
            <!--</p>-->
            <!--<div class="layer-actions">-->
                <!--<a href="#" class="btn btn-surprise-red">领取更多代金券</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="surprise-layer layer-coupon" id="companyCoupon">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<h2 class="sub-title">90元代金券</h2>-->
            <!--<div class="layer-coupon-list" id="companyCouponList">-->
                <!--<div class="layer-coupon-list-inner">-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                    <!--<div class="layer-coupon-item">-->
                        <!--<p class="coupon-name">企业会议室代金券</p>-->
                        <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                        <!--<p class="amount"><span>&yen;</span>30</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layer-actions">-->
                <!--<a href="#" class="btn btn-surprise-yellow">去使用</a>-->
                <!--<p class="tips"><span>代金券已放入您的企业账户</span></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="surprise-layer layer-coupon">-->
        <!--<div class="layer-body">-->
            <!--<a href="javascript:;" class="layer-close"></a>-->
            <!--<div class="bg"></div>-->
            <!--<h2 class="sub-title">5元代金券</h2>-->
            <!--<div class="layer-coupon-list">-->
                <!--<div class="layer-coupon-item">-->
                    <!--<p class="coupon-name">会议室代金券</p>-->
                    <!--<p class="coupon-notes"><span>全国会议室有效 | 领用之日10天有效</span></p>-->
                    <!--<p class="amount"><span>&yen;</span>5</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layer-actions">-->
                <!--<div class="btns"><a href="#" class="btn btn-surprise-white-o">去看看</a><a href="#" class="btn btn-surprise-yellow">去使用</a></div>-->
                <!--<p class="tips"><span>代金券已放入您的账户</span></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    @import "goto.tpl"
    @import "footer-common.tpl"
    <script>
        $(function() {

            UR.androidRefresh(false);

            companyCouponInit();

            function companyCouponInit() {
                new IScroll('#companyCouponList', {
                    disablePointer: true,
                    disableTouch: false,
                    click: true
                })
            }
        })
    </script>
</body>

</html>
