<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>投资人详情</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/market/styles/index.css">
</head>

<body>
<input type="hidden" name="appSource" value="">
<!-- wrapper -->
<div class="wrapper">
    <!-- header -->
    <header id="header">
        @import "topbar.tpl"
    </header>
    <!-- /header -->
    <!-- main -->
    <main id="main">
        <section class="header-bg"></section>
        <section class="investor-info">
            <div class="info-pic">
                <img src="/assets/public/market/images/investor2.jpg" alt="">
            </div>
            <h2>周金旺</h2>
            <h3>领势投资·董事长</h3>
            <p>优客工场董事 | 金海生态庄园创始人 </p>
        </section>
        <section class="investor-abstract">
            <h2><span></span>投资人介绍</h2>
            <p>阿拉善SEE公益机构会员、亚布力中国企业家论坛成员、正和岛终身会员、千禾基金会理事、中国青年天使会成员、中国投资人中心发起合伙人，主要关注生命科学与医疗、房地产轻资产运营、消费升级领域的创业投资。</p>
        </section>
    </main>
    <!-- /main -->
</div>
<!-- /wrapper -->
<script>

</script>
</body>

</html>
