<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>filter&refresh</title>
    @import "meta.tpl"
    <link rel="stylesheet" href="/assets/public/example/refresh/refresh.css">
</head>

<body>
    <!-- content -->
    <div id="content" class="wrapper-app">
        <div class="img-box">
            <!-- <div style="background-image: url(http://placehold.it/1000x200/#F8F8F8/no+image)"></div> -->
            <div style="background-image: url(/assets/public/example/refresh/images/a.png)"></div>
        </div>
        <!-- select start -->
        <div id="filterContainer" class="filter-container" data-role="filter" data-options="
               template: 'tlpFilter',
               url: 'data/filter.json',
               query: {sort: 4, type: 1},
               isFixed: true
               ">
            <div class="select-group-wrapper" data-col="4" Wrapper>
                <div class="select-group">
                    <div class="select-group-title" data-title="#1" data-parent-param="cityCode" data-param="workstageId">
                        <span Text>社区</span>
                        <i class="arrow uricon-arrow-bottom" Icon></i>
                    </div>
                </div>
                <div class="select-group">
                    <div class="select-group-title" data-title="#2" data-param="type">
                        <span Text>类别</span>
                        <i class="uricon-arrow-bottom" Icon></i>
                    </div>
                </div>
                <div class="select-group">
                    <div class="select-group-title" data-title="#3" data-param="sort">
                        <span Text>价格</span>
                        <i class="uricon-arrow-dropdown text-primary" Icon></i>
                    </div>
                </div>
                <div class="select-group">
                    <div class="select-group-title" data-title="#4" data-param="sort">
                        <span Text>时间</span>
                        <i class="uricon-arrow-dropdown text-primary" Icon></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- select end -->
        <div class="list">
            <div class="list-container" data-scroll="pullUp" data-options="
              url: 'data/list.json',
              data: {
                  sort: 4
              },
              template: 'tlpList',
              isFirstLoad: true,
              formatted: function(res) {
                  return res.result || [];
              }
              ">
            </div>
        </div>
    </div>
    <!-- / content -->

    <script src="/assets/public/scripts/base.js" charset="utf-8"></script>
    <script src="/assets/public/example/refresh/refresh.js" charset="utf-8"></script>

    <script type="text/html" id="tlpFilter">
        <div class="select-group-body {{data.currentIndex ? 'active': ''}}" Body>
            <div class="select-content {{data.currentIndex == '#1' ? 'active' : ''}}" data-content="#1">
                <article class="select-menu" data-scroll="verticle" Menu>
                    <div class="scroller">
                        <ul>
                            <li class="{{!data.cityCode ? 'active' : ''}}" data-parent="">全部</li>
                            {{each data as item i}}
                            {{if item.cityCode}}
                            <li class="{{data.cityCode == item.cityCode ? 'active' : ''}}" data-parent="{{item.cityCode}}">{{item.cityName}}</li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </article>
                <article class="select-sub-menu" data-scroll="verticle" Menu>
                    <div class="scroller">
                        <ul>
                            {{if !data.cityCode }}
                            <li class="{{ !data.cityCode && !data.workstageId ? 'active': '' }}" data-child="">全部社区</li>
                            {{else}}
                            {{each data[data.cityCode].list as stage j}}
                            {{if !stage.id}}
                            <li class="{{ data.workstageId == data[data.cityCode].cityCode ? 'active': '' }}" data-child="{{data[data.cityCode].cityCode}}">全部</li>
                            {{else}}
                            <li class="{{stage.id === data.workstageId ? 'active' : '' }}" data-child="{{stage.id}}">{{stage.stageName}}</li>
                            {{/if}}
                            {{/each}}
                            {{/if}}
                        </ul>
                    </div>
                </article>
            </div>
            <div class="select-content {{data.currentIndex == '#2' ? 'active' : ''}}" data-content="#2">
                <div class="select-sub-menu">
                    <ul Menu>
                        <li class="{{!data.type ? 'active': ''}}" data-child="">全部类别</li>
                        <li class="{{data.type == 1 ? 'active': ''}}" data-child="1">优客优选</li>
                        <li class="{{data.type == 2 ? 'active': ''}}" data-child="2">虚拟商品</li>
                        <li class="{{data.type == 3 ? 'active': ''}}" data-child="3">其他</li>
                    </ul>
                </div>

            </div>
            <div class="select-content {{data.currentIndex == '#3' ? 'active' : ''}}" data-content="#3">
                <div class="select-sub-menu">
                    <ul Menu>
                        <li class="{{data.sort == 2 ? 'active': ''}}" data-child="2">按价格从高到低</li>
                        <li class="{{data.sort == 1 ? 'active': ''}}" data-child="1">按价格从低到高</li>
                    </ul>
                </div>
            </div>
            <div class="select-content {{data.currentIndex == '#4' ? 'active' : ''}}" data-content="#4">
                <div class="select-sub-menu">
                    <ul Menu>
                        <li class="{{data.sort == 3 ? 'active': ''}}" data-child="3">按上架时间从远到近</li>
                        <li class="{{data.sort == 4 ? 'active': ''}}" data-child="4">按上架时间从近到远</li>
                    </ul>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="tlpList">
        {{if list.length == 0}}
        <div class="data-null">
            <img src="../public/images/ui/no-data.png" alt="">
        </div>
        {{/if}}
        {{each list as d i}}
        <div class="items-module list-item">
            <a href="#">
                <div class="item-inner">
                    <div class="item-img">
                        <div style="background-image: url({{d.subjectImg}})"></div>
                    </div>
                    <div class="item-content">
                        这是第 {{i + 1}} 个 item
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </script>
</body>

</html>
